<!DOCTYPE html>
<html>
<head>

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Maci, http://macister.com/" />
    <link rel="shortcut icon" href="/favicon.ico" />

    <title>{% block title company_title %}</title>

    {% block description %}
    <meta name="description" content="" />
    {% endblock %}


    {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/bundles/macipage/css/font-awesome.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('/bundles/macipage/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('/bundles/macipage/css/maci.lightbox.css') }}" />
    <link rel="stylesheet" href="{{ asset('/bundles/macipage/css/maci.style.css') }}" />
    {% endblock %}

</head>
{% block bodyTag %}<body>{% endblock %}

    {% block body %}{% endblock %}

    {% block _ga %}
    {% if app.environment == 'prod' %}
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-XXXXXXXX-X']);
        _gaq.push(['_trackPageview']);

        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
    {% endif %}
    {% endblock %}

    {% block javascripts %}
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/bundles/macipage/js/jquery-3.3.1.min.js"><\/script>')</script>
    <script type="text/javascript" src="{{ asset('/bundles/macipage/js/jquery.scrollTo.min.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('/bundles/macipage/js/bootstrap.min.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('/bundles/macipage/js/maci.lightbox.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('/bundles/macipage/js/maci.script.js') }}" ></script>
    {% endblock %}


</body>
</html>
