
{% extends "::base.html.twig" %}


{% if is_granted("ROLE_ADMIN") %}


{% block stylesheets %}

{{ parent() }}

<link rel="stylesheet" type="text/css" href="{{ asset('/bundles/maciadmin/css/maci.admin.css') }}" />

{% endblock %}


{% block javascripts %}

{{ parent() }}

<script type="text/javascript" src="{{ asset('/js/jquery-ui.min.js') }}" ></script>
<script type="text/javascript" src="{{ asset('/bundles/maciadmin/js/maci.admin.js') }}" ></script>

{% endblock %}


{% endif %}


{% block body %}

<div id="main">

	<header class="navbar navbar-fixed-top navbar-inverse" role="navigation">

	{% block header %}

	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Mah!</a>
		</div>
		<div class="collapse navbar-collapse">
			<nav>

				{{ knp_menu_render('main') }}

			</nav>
			<nav>

				{{ knp_menu_render('user') }}

			</nav>
			<nav>
			<ul class="nav navbar-nav navbar-right">

				{% block route_translation %}

				{% if app.request.locale != 'it' %}

				<li><a class="userMenuLink" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': 'it'})) }}">
					IT
				</a></li>

				{% endif %}

				{% if app.request.locale != 'en' %}

				<li><a class="userMenuLink" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': 'en'})) }}">
					EN
				</a></li>

				{% endif %}

				{% endblock %}

			</ul>
			</nav>
		</div>
	</div>

	{% endblock header %}

	</header>


	{% if is_granted("ROLE_ADMIN") %}

	<div id="maciadmin" class="container">
		<div class="btn-group">

			{% block maciadmin %}{% endblock %}

		</div>
	</div>

	{% endif %}


    <div>

	{% block container %}

		<div id="row">
			<div class="col-md-2">
			<div class="row">
			<div id="_menuContainer">

				{% block leftMenu %}

					{{ knp_menu_render('left') }}

				{% endblock %}

			</div>
			</div>
			</div>
			<div class="col-md-10">
			<div class="row">
			<div id="_pageContainer">

				{% block content %}{% endblock %}

			</div>
			</div>
			</div>
		</div>

	{% endblock container %}

    </div>

    <footer id="footer" class="container">

	{% block footer %}

    	<p>Footer</p>

	{% endblock footer %}

    </footer>

</div>

{% endblock body %}
