
<article id="product_{{ item.id }}" class="product-view">
<div id="productWrapper" class="container-fluid">
<div class="row">

	<section class="col-12 col-sm-4 col-md-1">

		{% include "MaciPageBundle:Shop:_media_list.html.twig" %}

	</section>

	<section class="col-12 col-sm-8 col-md-5">

		<div class="product-preview-wrapper">

			{% if item.preview %}

			<a class="product-preview d-block" href="{{ path('maci_media_get', {'path': item.preview.path}) }}" data-lightbox="product-preview" data-title="{{ item.preview }}">
				<img class="img-fluid mx-auto d-block" src="{{ asset(item.preview.webPreview | imagine_filter('maci_product_preview')) }}" title="{{ item.preview.name }}" alt="{{ item.preview.description ? item.preview.description : 'product.media_preview'|matra('Photo of the Product') }}" />
			</a>

			{% endif %}

		</div>

	</section>

	<section class="col-12 col-sm-12 col-md-6">

		<div class="product-details">
			<ul class="product-details-list">

				<li class="detail-item categories">

					{% for childCategory in item.categoryItems %}
					{% if loop.first %}

					<nav aria-label="breadcrumb">
					<ol class="breadcrumb">

						<li class="breadcrumb-item shop">
							<a href="{{ path('maci_product') }}">{{ 'menu.shop' | matra('Shop') }}</a>
						</li>

						{% for categoryItem in childCategory.category.parentsList %}

						<li class="breadcrumb-item product-category-parent">
							<a href="{{ path('maci_product_category', {'path': categoryItem.category.path}) }}">{{ categoryItem.categoryName|capitalize }}</a>
						</li>

						{% endfor %}

						<li class="breadcrumb-item product-category">
							<a href="{{ path('maci_product_category', {'path': childCategory.category.path}) }}">{{ childCategory.categoryName|capitalize }}</a>
						</li>

						<li class="breadcrumb-item product-category active">
							<span>{{ item.name|capitalize }}</span>
						</li>

					</ol>
					</nav>

					{% else %}

					<nav>
					<ol class="beercrumb">

						{% for categoryItem in childCategory.category.parentsList %}

						<li class="breadcrumb-item product-category-parent">
							<a href="{{ path('maci_product_category', {'path': categoryItem.category.path}) }}">{{ categoryItem.categoryName }}</a>
						</li>

						{% endfor %}

						<li class="breadcrumb-item product-category active">
							<a href="{{ path('maci_product_category', {'path': childCategory.category.path}) }}">{{ childCategory.categoryName }}</a>
						</li>

					</ol>
					</nav>

					{% endif %}
					{% else %}

					<nav aria-label="breadcrumb">
					<ol class="breadcrumb">

						<li class="breadcrumb-item shop">
							<a href="{{ path('maci_product') }}">{{ 'menu.shop' | matra('Shop') }}</a>
						</li>

						<li class="breadcrumb-item product-category active"><span>{{ item.name }}</span></li>

					</ol>
					</nav>

					{% endfor %}

				</li>

				<li class="detail-item title">
					<h1 class="product-title">{{ item.name }}</h1>
				</li>

				<li class="detail-item description">
					<span class="detail-info product-description">{{ item.description }}</span>
				</li>

				{% if item.composition %}
				<li class="detail-item composition">
					<span class="detail-label product-composition-label">{{ 'product.composition' | matra('Composition') }}:</span>
					<span class="detail-info product-composition">{{ item.composition }}</span>
				</li>
				{% endif %}

				{% if item.brand %}
				<li class="detail-item brand">
					<span class="detail-label product-brand-label">{{ 'product.brand' | matra('Brand') }}:</span>
					<span class="detail-info product-brand">{{ item.brand }}</span>
				</li>
				{% endif %}

				{% if item.code %}
				<li class="detail-item code">
					<span class="detail-label product-code-label">{{ 'product.code' | matra('Code') }}:</span>
					<span class="detail-info product-code">{{ item.code }}</span>
				</li>
				{% endif %}

				{% if item.variant %}
				<li class="detail-item variant">
					{% if item.variantField != null %}
					<span class="detail-label product-variant-field">{{ ('product.variant-field.' ~ item.variantField)|matra(item.variantField|capitalize) }}:</span>
					{% else %}
					<span class="detail-label product-variant-field">{{ 'product.variant-field.variant'|matra('Variant') }}:</span>
					{% endif %}
					<span class="detail-info product-variant">{{ item.variant }}</span>
				</li>
				{% endif %}

				{% if 1 < variants|length %}
				{% if shop_is_live %}
				<li class="detail-item select-title">
					<h3 class="detail-label product-select-title">{{ 'product.select-title'|matra('Select Product') }}:</span>
				</li>
				{% endif %}
				<li class="detail-item variants">
				<div class="product-variant-label-wrapper">
					{% if item.variantField != null %}
					<span class="detail-label product-variant-title">{{ ('product.variant-title.' ~ item.variantField)|matra(item.variantField|capitalize) }}:</span>
					{% else %}
					<span class="detail-label product-variant-title">{{ 'product.variant-title.default'|matra('Variants') }}:</span>
					{% endif %}
				</div>
				<div class="product-variants">
					{% for variant in variants %}
					<a class="product-variant-item{% if variant.variant == item.variant %} active{% endif %}" href="{{ path('maci_product_show', {'path': variant.path}) }}">
						<img class="img-fluid" src="{{ asset(variant.webPreview | imagine_filter('maci_product_preview_list')) }}" title="{{ variant.variant }}" alt="{{ variant.description ? variant.description : 'product.media_preview'|matra('Photo of the Product') }}" />
					</a>
					{% endfor %}
				</div>
				</li>
				{% endif %}

				{% if shop_is_live %}

				{# Product with Variants #}
				{% if item.type == 'vrnts' %}
				<li class="detail-item size-title">
					<span class="detail-label product-size-label">{{ 'product.size' | matra('Size') }}:</span>
				</li>
				{% if item.variants|length %}
				<li class="detail-item size-list">
					<select class="form-control variants-selector" name="product-variant">
						{% for variant in item.variants %}
						<option value="{{ loop.index }}">{{ variant.name }}</option>
						{% endfor %}
					</select>
					{% for variant in item.variants %}
					<div id="variant_{{ loop.index }}" class="variant-add-wrapper">
						<ul class="variant-details-wrapper">
							{% include "MaciPageBundle:Shop:_product_detail_price.html.twig" %}
							{% include "MaciPageBundle:Shop:_product_detail_available.html.twig" %}
						</ul>
						<div class="addToCartFormWrapper">
							{{ render(controller('MaciPageBundle:Order:addToCart', { 'product': item, 'variant': variant.name } )) }}
						</div>
					</div>
					{% endfor %}
				</li>

				{% if is_granted('ROLE_ADMIN') %}
				<li>
					<span class="detail-label add-variant">Add Size:</span>
					<form class="add-variant-form form-inline" action="{{ path('maci_product_add_variant', {'id': item.id}) }}" method="post">
						<input type="hidden" name="type" value="size" />
						<input class="form-control" type="text" name="name" />
						<input class="form-control" type="number" name="quantity" value="1" />
						<button class="btn btn-primary">Add</button>
					</form>
				</li>
				{% endif %}

				{% else %}
				<li>
					<span class="product-notavailable">{{ 'product.notavailable' | matra('Product Not Available.') }}</span>
				</li>
				{% endif %}

				{# "Simple" Product (->type) #}
				{% elseif item.isAvailable %}

				{% include "MaciPageBundle:Shop:_product_detail_price.html.twig" %}
				{% include "MaciPageBundle:Shop:_product_detail_available.html.twig" %}

				<li class="addToCartFormWrapper">
					{{ render(controller('MaciPageBundle:Order:addToCart', { 'product': item } )) }}
				</li>

				{% else %}

				<li>
					<span class="product-notavailable">{{ 'product.notavailable' | matra('Product Not Available.') }}</span>
				</li>

				{% endif %}{# end variants if #}

				{% else %}

				{% include "MaciPageBundle:Shop:_product_detail_price.html.twig" %}

				{% endif %}{# end shop_is_live #}

				{% if is_granted('ROLE_ADMIN') and item.privateDocuments|length %}
				<li class="detail-item books">
				<div class="product-books">

					<h4>{{ 'product.documents' | matra('Documents') }}</h4>

					{% for doc in item.privateDocuments %}

					<div class="row">
						<div class="col-xs-9">
							<span>{{ doc }}</span>
						</div>
						<div class="col-xs-3">
							<a class="btn btn-danger ma-remove" href="{{ path('maci_admin_entity_remove', {'entity': 'product_media_item', 'id': doc.id}) }}">
								<span aria-hidden="true" class="glyphicon glyphicon-remove"></span>
							</a>
						</div>
					</div>

					{% endfor %}

				</div>
				</li>
				{% endif %}

			</ul>
		</div>

	</section>

</div>
</div>
</article>
