
<article id="product_{{ item.id }}" class="show-product">

<div id="productWrapper" class="container-fluid">

<div class="row">

	<section class="col-12 col-sm-4 col-md-1">

		<div class="product-media-list">

			{% if item.sideImages|length %}

			{% include "MaciPageBundle:Shop:_media_list.html.twig" %}

			{% endif %}

		</div>

	</section>

	<section class="col-12 col-sm-8 col-md-5">

		<div class="product-media-list">

			{% if item.preview %}

			<a class="product-preview" href="{{ path('maci_media_get', {'path': item.preview.path}) }}" data-lightbox="product-preview" data-title="{{ item.preview }}">
				<img class="img-fluid" src="{{ asset(item.preview.webPreview | imagine_filter('maci_product_preview')) }}" {% if item.preview.description %} title="{{ item.preview }}" alt="{{ item.preview.description }}" {% else %} alt="{{ item.preview }}" {% endif %} />
			</a>

			{% endif %}

		</div>

	</section>

	<section class="col-12 col-sm-12 col-md-6">

		<div class="product-details">

			<ul class="product-details-list">

				<li class="detail-item categories">

					{% for childCategory in item.categoryItems %}
					{% if loop.first %}

					<nav aria-label="breadcrumb">
					<ol class="breadcrumb">

						<li class="breadcrumb-item shop">
							<a href="{{ path('maci_product') }}">{{ 'menu.shop' | matra('Shop') }}</a>
						</li>

						{% for categoryItem in childCategory.category.parentsList %}

						<li class="breadcrumb-item product-category-parent">
							<a href="{{ path('maci_product_category', {'path': categoryItem.category.path}) }}">{{ categoryItem.categoryName }}</a>
						</li>

						{% endfor %}

						<li class="breadcrumb-item product-category">
							<a href="{{ path('maci_product_category', {'path': childCategory.category.path}) }}">{{ childCategory.categoryName }}</a>
						</li>

						<li class="breadcrumb-item product-category active">
							<span>{{ item.name }}</span>
						</li>

					</ol>
					</nav>

					{% else %}

					<nav>
					<ul>

						{% for categoryItem in childCategory.category.parentsList %}

						<li class="product-category-parent">
							<a href="{{ path('maci_product_category', {'path': categoryItem.category.path}) }}">{{ categoryItem.categoryName }}</a>
						</li>

						{% endfor %}

						<li class="product-category">
							<a href="{{ path('maci_product_category', {'path': childCategory.category.path}) }}">{{ childCategory.categoryName }}</a>
						</li>

					</ul>
					</nav>

					{% endif %}
					{% endfor %}

				</li>

				<li class="detail-item title">
					<h1 class="product-title">{{ item.name }}</h1>
				</li>

				{% if item.code %}
				<li class="detail-item code">
					<span class="product-code-label">{{ 'product.code' | matra('Code') }}:</span>
					<span class="product-code">{{ item.code }}</span>
				</li>
				{% endif %}

				<li class="detail-item description">
					<span class="product-description">{{ item.description }}</span>
				</li>

				{% if item.composition %}
				<li class="detail-item composition">
					<span class="product-composition">{{ item.composition }}</span>
				</li>
				{% endif %}

				{% if item.sale %}
				<li>
					<span class="product-list-price-label">{{ 'product.list_price' | matra('List Price') }}:</span>
					<span class="product-list-price">{{ item.price | number_format(2, '.', ',') }} &euro;</span>
				</li>
				<li>
					<span class="product-price-label">{{ 'product.price' | matra('Price') }}:</span>
					<span class="product-sale-price">{{ item.sale | number_format(2, '.', ',') }} &euro;</span>
				</li>
				<li>
					<span class="product-you-save-label">{{ 'product.you_save' | matra('You Save') }}:</span>
					<span class="product-you-save">{{ (item.price - item.sale) | number_format(2, '.', ',') }} &euro;</span>
				</li>
				{% elseif item.price %}
				<li>
					<span class="product-price-label">{{ 'product.price' | matra('Price') }}:</span>
					<span class="product-price">{{ item.price | number_format(2, '.', ',') }} &euro;</span>
				</li>
				{% endif %}

				{% if variants|length %}
				<li>
				<div class="product-variants">
					{% for variant in variants %}
					<a class="product-variant-item{% if variant.variant != item.variant %} current{% endif %}" href="{{ path('maci_product_show', {'path': variant.path}) }}">
						<img class="img-fluid" src="{{ asset(variant.webPreview | imagine_filter('maci_product_preview_list')) }}" alt="{{ variant.name }}" title="variant.variant" />
					</a>
					{% endfor %}
				</div>
				</li>
				{% endif %}

			</ul>

		</div>

		{% if is_granted('ROLE_ADMIN') and item.privateDocuments|length %}

		<div class="product-books">

			<h4>{{ 'product.documents' | matra('Documents') }}</h4>

			{% for doc in item.privateDocuments %}

			<div class="row">
				<div class="col-xs-9">
					<span>{{ doc }}</span>
				</div>
				<div class="col-xs-3">
					<a class="btn btn-danger ma-remove" href="{{ path('maci_admin_entity_remove', {'entity': 'product_media_item', 'id': doc.id}) }}">
						<span aria-hidden="true" class="glyphicon glyphicon-remove"></span>
					</a>
				</div>
			</div>

			{% endfor %}

		</div>

		{% endif %}

		{% if shop_is_live %}

		<div class="product-form">

			<ul class="product-form-list">

				<li>
					<h3 class="product-add_to_cart">{{ 'form.product.add_to_cart' | matra('Add To Cart') }}:</h3>
				</li>

				{#% if item.notTabbedChildren|length %}

				<li class="product-select-variant-container">
					<span class="product-select-variant">{{ 'form.product.select_variant' | matra('Select an Option') }}</span>
				</li>

				{% for child in item.notTabbedChildren %}
				<li>
				<ul id="product-child-cart-{{ child.id }}" class="product-child-cart">

					<li>
						{% if child.variantLabel %}<span class="product-child-label">{{ child.variantLabel }}:</span>{% endif %}
						<span class="product-child-name">{{ child.variantName }}</span>
					</li>

					{% if child.limited and child.quantity < 10 %}
					<li>
						<span class="product-quantity_available">{{ 'product.quantity_available' | matra('Quantity Available') }}: {{ item.quantity }}</span>
					</li>
					{% else %}
					<li>
						<span class="product-available">{{ 'product.available' | matra('Product Available.') }}</span>
					</li>
					{% endif %}

					<li>
						{{ render(controller('MaciPageBundle:Order:addToCart', { '_product': child } )) }}
					</li>

				</ul>
				</li>
				{% endfor %}

				{% else %}

				{% endif %#}

				{% if item.type == 'variants' %}

				Variants...

				{% else %}

				{% if item.isAvailable %}

				{% if item.limited and item.quantity < 9 %}
				<li>
					<span class="product-quantity_available">{{ 'product.quantity_available' | matra('Quantity Available') }}: {{ item.quantity }}</span>
				</li>
				{% else %}
				<li>
					<span class="product-available">{{ 'product.available' | matra('Product Available.') }}</span>
				</li>
				{% endif %}

				<li>
					{{ render(controller('MaciPageBundle:Order:addToCart', { '_product': item } )) }}
				</li>

				{% else %}

				<li>
					<span class="product-notavailable">{{ 'product.notavailable' | matra('Product Not Available.') }}</span>
				</li>

				{% endif %}

				{% endif %}

			</ul>

		</div>

		{% endif %} {# shop_is_live #}

	</section>

</div>

<div class="row">

	<footer class="product-footer container-fluid"></footer>

</div>

</div>

</article>
