{% extends "@MaciPage/Layout/void.html.twig" %}

{% block head %}
<style type="text/css">
{% include "@MaciPage/Report/report.css" %}
</style>
{% endblock %}

{% block body %}
{% if list|length %}

{% set diff = 0 %}
{% set page = 1 %}
{% set page_limit = 57 %}

{# BEGIN ROW #}
{% for row in list %}

{# Header #}

{% if (loop.index0 + diff) % page_limit == 0 %}

<table class="page">
<tbody>
<tr><td class="page-content">

{% if main_title is defined and main_title %}
<table class="main-title-wrapper">
<tbody>
<tr>

	<td>
		<h1 class="main-title">{{ main_title }}</h1>
	</td>

</tr>
</tbody>
</table>
{% set main_title = false %}
{% set diff = diff + 5 %}
{% endif %}

{% if recipient is defined and recipient %}
<table class="addresses-header">
<tbody>
<tr>

	<td class="colspacer" width="10%">&nbsp;</td>

	<td class="address-wrapper" width="40%">
		<h3>{{ 'sender'|matla('Sender') }}:</h3>
		{% include "@MaciPage/Page/_company_address.html.twig" %}
	</td>

	<td class="address-wrapper" width="40%">
		<h3>{{ 'recipient'|matla('Recipient') }}:</h3>
		{% include "@MaciUser/Address/_item.html.twig" with { 'address': recipient } %}
	</td>

	<td class="colspacer last">&nbsp;</td>

</tr>
</tbody>
</table>
{% set recipient = false %}
{% set diff = diff + 11 %}
{% endif %}

<table class="list">

{% if headers|length %}
<thead>
<tr>
	<th>#</th>
	{% for id, header in headers %}
	<th>
		<p id="h-{{ id }}" class="cell-text">{{ header }}</p>
	</th>
	{% endfor %}
</tr>
</thead>
{% endif %}

<tbody>

{% if headers|length %}
<tr><td class="spacer"></td></tr>
{% endif %}

{% endif %}

{# Content List #}

<tr class="row {{ loop.index is even ? 'even' : 'odd' }}">
	<td class="cell">
		<span class="row-index">{{ loop.index }}</span>
	</td>
	{% for id, cell in row %}
	<td class="cell">
		<p id="c-{{ id }}" class="cell-text">{{ cell }}</p>
	</td>
	{% endfor %}
</tr>

{# Amounts #}

{% if loop.last and amounts|length %}
<tr><td class="spacer"></td></tr>
{% for amount in amounts %}
{% if amount == 'spacer' %}
<tr><td class="spacer"></td></tr>
{% else %}
<tr class="amounts">
	<th>#</th>
	{% for cell in amount %}
	<th>
		<p class="cell-text"><strong>{{ cell }}</strong></p>
	</th>
	{% endfor %}
</tr>
{% endif %}
{% endfor %}
{% endif %}

{# Footer #}
{% if loop.last or (((loop.index0 + diff) % page_limit) == (page_limit - 1)) %}

</tbody>
</table>

<table class="footer">
<tbody>
<tr><td class="spacer"></td></tr>
</tbody>
<tfoot>
<tr>
	{% for footer in footers %}
	<th><p class="cell-text">{{ footer }}</p></th>
	{% endfor %}
	<th><p class="cell-text t-right">Page: {{ page }} / {{ ((list|length + diff) / page_limit)|intval + 1 }}</p></th>
</tr>
</tfoot>
</tbody>
</table>

</td></tr>
</tbody>
</table>

{% set page = page + 1 %}
{% endif %}

{# END ROW #}
{% endfor %}

{% endif %}
{% endblock %}
