{% extends "@MaciPage/Layout/void.html.twig" %}

{% block head %}
<style type="text/css">
{% include "@MaciPage/Report/report.css" %}
</style>
{% endblock %}

{% block body %}
{% if list|length %}

{% set page = 1 %}
{% set page_limit = 64 %}

{# BEGIN ROW #}
{% for row in list %}

{# Header #}
{% if loop.index0 % page_limit == 0 %}
<table class="page">
{% if headers|length %}
<thead>
<tr>
	{% for header in headers %}
	<th>{{ header }}</th>
	{% endfor %}
</tr>
</thead>
{% endif %}
<tbody>
<tr><td class="spacer"></td></tr>
{% endif %}

<tr class="{{ loop.index is even ? 'even' : 'odd' }}">
	{% for cell in row %}
	<td>
		<h4 class="cell">{{ cell }}</h4>
	</td>
	{% endfor %}
</tr>

{% if loop.last and amounts|length %}
<tr><td class="spacer"></td></tr>
<tr class="amounts">
	{% for amount in amounts %}
	<th>{{ amount }}</th>
	{% endfor %}
</tr>
{% endif %}

{# Footer #}
{% if loop.last or loop.index0 % page_limit == page_limit - 1 %}
<tr><td class="spacer"></td></tr>
<tfoot>
<tr>
	{% for footer in footers %}
	<th>{{ footer }}</th>
	{% endfor %}
	<th>Page: {{ page }} / {{ (list|length / page_limit)|intval + 1 }}</th>
</tr>
</tfoot>
</tbody>
</table>
{% set page = page + 1 %}
{% endif %}

{# END ROW #}
{% endfor %}

{% endif %}
{% endblock %}
