{% extends "@MaciPage/base.html.twig" %}

{% block javascripts %}

	{{ parent() }}

<script type="text/javascript">

	$('#sidebar > .dismiss, #main > .overlay').on('click', function () {
		$('#sidebar').removeClass('active');
		$('#main > .overlay').fadeOut(600);
	});

	$('#sidebarCollapse').on('click', function () {
		$('#sidebar').addClass('active');
		$('#main > .overlay').fadeIn(600);
		$('.collapse.in').removeClass('in');
		$('a[aria-expanded=true]').attr('aria-expanded', 'false');
	});

</script>

{% endblock javascripts %}

{% block bodyTag %}<body id="bodyBlog">{% endblock %}

{% block body %}

{% block navbarTop %}

{% block cookieMessage %}
{% if not app.session.get('cookie-message', false) %}

<nav id="navbarTop" class="navbar navbar-expand-lg fixed-top flex-column" role="navigation">

	<div id="cookieMessage" class="container cookieContainer navbar-dark bg-dark py-2">
		<ul class="navbar-nav">

			<li class="nav-item"><span class="navbar-text">{{ 'cookie-message' | matra(('By using ' ~ app.request.host ~ ', you agree to our use of cookies to enhance your experience.')) }}</span></li>
			<li class="nav-item"><a class="btn btn-secondary ml-2 nav-link" href="{{ path('maci_page', {'path':'cookies'}) }}">{{ 'menu.cookie-message-link' | matra('Read') }}</a></li>
			<li class="nav-item"><a class="btn btn-primary ml-2 nav-link set-cookie-button" href="{{ path('maci_set_cookie', {'cookie': 'cookie-message'}) }}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> {{ 'form.close' | matra('Close') }}</a></li>

		</ul>
	</div>

</nav>

{% endif %}
{% endblock %}

{% endblock navbarTop %}

<!-- Main -->
{% block mainTag %}<div id="main">{% endblock mainTag %}

<!-- Sidebar -->
<div id="sidebar">

	<div class="dismiss">
		<i class="fas fa-times"></i>
	</div>

	<div id="sidebarWrapper" class="navbar-expand-lg navbar-dark bg-dark">

		{% block leftMenu %}
		<nav>
			{{ knp_menu_render('blog_left', {'currentClass': 'active'}) }}
		</nav>
		{% endblock leftMenu %}

	</div>

</div>
<!-- /#sidebar -->

<!-- Overlay -->
<div class="overlay"></div>

<!-- Content -->
<div id="content" class="container">


	<div class="navbar navbar-expand px-2">

		<nav class="ml-auto">
			{{ knp_menu_render('user', {'currentClass': 'active'}) }}
		</nav>

		<nav id="navbarSidebarCollapse" class="ml-4">
			{{ knp_menu_render('user_cart', {'currentClass': 'active'}) }}
		</nav>

		<nav class="ml-4">
			{{ knp_menu_render('language', {'currentClass': 'active'}) }}
		</nav>

		<nav id="sidebarCollapse" class="ml-4">
			<button type="button" class="btn">
				<i class="fas fa-bars"></i>
			</button>
		</nav>

	</div>

	<div class="navbar navbar-expand px-2">

		<!-- <img id="navbarTopLogo" src="{{ asset('/images/cmm/logo.png') }}" alt="{{ company_title }}" /> -->
		 <a id="navbarBrand" class="navbar-brand ml-auto px-2 mr-0" href="/" title="{{ company_title }}">
			{{ company_title }}
		</a>

	</div>

	<div class="navbar navbar-expand px-2 mb-4">

		<nav class="ml-auto">
			{{ knp_menu_render('main', {'currentClass': 'active'}) }}
		</nav>

	</div>

	<header class="page-header">

		{% block header %}{% endblock header %}

	</header>


	<section class="page-container px-3">

		{% block content %}{% endblock content %}

	</section>


</div>
<!-- /#Content -->

</div>
<!-- /#Main -->

{% endblock body %}
