{% extends "@MaciPage/base.html.twig" %}

{% block body %}

{% block main %}

{% block mainTag %}<div id="main" class="navTop">{% endblock mainTag %}

	{% block navbarTop %}

	<nav id="navbarTop" class="navbar navbar-expand-lg fixed-top bg-light flex-column" role="navigation">

		{% block cookieMessage %}
		{% if not app.session.get('cookie-message', false) %}

		<div id="cookieMessage" class="container cookieContainer navbar-dark bg-dark py-2">
			<ul class="navbar-nav">

				<li class="nav-item"><span class="navbar-text">{{ 'cookie-message' | matra(('By using ' ~ app.request.host ~ ', you agree to our use of cookies to enhance your experience.')) }}</span></li>
				<li class="nav-item"><a class="btn btn-secondary ml-2 nav-link" href="{{ path('maci_page', {'path':'cookies'}) }}">{{ 'menu.cookie-message-link' | matra('Read') }}</a></li>
				<li class="nav-item"><a class="btn btn-primary ml-2 nav-link set-cookie-button" href="{{ path('maci_set_cookie', {'cookie': 'cookie-message'}) }}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> {{ 'form.close' | matra('Close') }}</a></li>

			</ul>
		</div>

		{% endif %}
		{% endblock %}

		<div class="container">

			<!-- <img id="navbarTopLogo" src="{{ asset('/images/cmm/logo.png') }}" alt="{{ company_title }}" /> -->
			 <a id="navbarBrand" class="navbar-brand mr-4" href="/" title="{{ company_title }}">
				{{ company_title }}
			</a>

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMainCollapse" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon">
					<i class="fas fa-bars"></i>
				</span>
			</button>
			<div id="navbarMainCollapse" class="collapse navbar-collapse">

				<nav class="mr-4">
					{{ knp_menu_render('language', {'currentClass': 'active'}) }}
				</nav>

				<nav class="mr-auto">
					{{ knp_menu_render('main', {'currentClass': 'active'}) }}
				</nav>

				<nav>
					{{ knp_menu_render('user', {'currentClass': 'active'}) }}
				</nav>

				<nav class="ml-2">
					{{ knp_menu_render('user_cart', {'currentClass': 'active'}) }}
				</nav>

				<nav class="ml-3">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a id="searchLink" class="nav-link" name="search[submit]" href="{{ path('maci_page', {'path': 'search'}) }}">
								<span class="fa fa-search" aria-hidden="true"></span>
							</a>
						</li>
					</ul>
				</nav>

			</div>
		</div>

	</nav>

	{% endblock navbarTop %}


	{% block mainPathBar %}{% endblock mainPathBar %}


	{% block flashBag %}
	{% set flashList = app.session.flashbag.all() %}
	{% if flashList|length %}
	<div id="flashBagWrapper" class="container">
	{% for type, messages in flashList %}
		{% for message in messages %}
		<div class="alert alert-{{ type }}">
			{{ message|matra(message) }}
		</div>
		{% endfor %}
	{% endfor %}
	</div>
	{% endif %}
	{% endblock %}


	{% block header %}
	<header id="header" class="container-fluid p-0"></header>
	{% endblock header %}


	{% block container %}
	<div id="mainContainer" class="container-fluid">
	<div class="row">

		<section id="menuContainer" class="col-12 col-md-3 col-xl-2 p-0">

			<nav id="menuWrapper">

				{% block leftMenu %}
				
				{{ knp_menu_render('left', {'currentClass': 'active'}) }}
				
				{% endblock %}

			</nav>

		</section>

		<section id="contentContainer" class="col-12 col-md-9 col-xl-10 pl-md-0">

			<div id="pathBar" class="content-wrapper">

				{% block pathBar %}{% endblock pathBar %}

			</div>

			<div id="pageContainer" class="content-wrapper">

				{% block content %}{% endblock %}

			</div>

		</section>

	</div>
	</div>
	{% endblock container %}


	{% if is_granted("ROLE_ADMIN") %}
	<div id="maciadmin" class="container-fluid p-0">

		{% block maciadmin %}{% endblock %}

	</div>
	{% endif %}


	{% block footer %}

	<footer id="footer" class="container-fluid p-0">

	<nav class="navbar navbar-expand">

		<!--
			 Social Icons
			 
			 Use anything from here: http://fortawesome.github.io/Font-Awesome/cheatsheet/)
		-->
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link" href="http://www.facebook.com/" target="_blank"><span>Facebook</span></a></li>
				<li class="nav-item"><a class="nav-link" href="http://plus.google.com/" target="_blank"><span>Google Plus</span></a></li>
			</ul>

		<!-- Menu -->
			<ul class="navbar-nav">
				<li class="nav-item"><span class="navbar-text">{{ company_title }} | {{ company_address }} {{ company_cccs }} | <abbr title="Phone">Tel.</abbr> {{ company_phone }}</span></li>
				<li class="nav-item"><a class="nav-link" href="mailto:{{ contact_email }}"><span>{{ contact_email }}</span></a></li>
				<li class="nav-item"><a class="nav-link" href="{{ path('maci_page', {'path':'privacy'}) }}">{{ 'terms.privacy_and_cookies' | matme('Privacy & Cookies') }}</a></li>
				{#}<li><a href="{{ path('maci_page', {'path':'saleterms'}) }}">{{ 'terms.terms_and_conditions' | matme('Terms & Conditions') }}</a></li>{#}
				<li class="nav-item"><a class="nav-link" href="{{ path('maci_page', {'path':'customer-service'}) }}">{{ 'terms.customer_service' | matme('Customer Service') }}</a></li>
				{% if is_granted('ROLE_USER') %}
				{% if is_granted('ROLE_ADMIN') %}
				<li class="nav-item"><a class="nav-link" href="{{ path('maci_admin') }}">Administration</a></li>
				{% else %}
				<li class="nav-item"><a class="nav-link" href="{{ path('maci_user') }}">@{{ app.user.username }}</a></li>
				{% endif %}
				<li class="nav-item"><a class="nav-link" href="{{ path('fos_user_security_logout') }}">Logout</a></li>
				{% else %}
				<li class="nav-item"><a class="nav-link" href="{{ path('maci_user_login') }}">Login</a></li>
				{% endif %}
			</ul>

	</nav>

	</footer>

	{% endblock footer %}

</div>

{% endblock main %}

{% block startPopUp %}

{% if not app.session.get('start-popup', false) %}
<section id="startPopUp" class="popup modal-wrapper active cookieContainer">

	<div class="popup-container">

		<h1>{{ 'layout.title'|matra('Title') }}</h1>

		<h2>{{ 'layout.subtitle'|matra('Subtitle') }}</h2>

		<p>{{ 'popup.start.text'|matra('Text') }}</p>

		<div>

			<a class="btn btn-danger" href="http://en.wikipedia.org/">
				{{ 'form.deny'|matra('Deny') }}
			</a>

			<a class="btn btn-primary popup-close set-cookie-button" href="{{ path('maci_set_cookie', {'cookie': 'start-popup'}) }}">
				{{ 'form.ok'|matra('Ok') }}
			</a>

		</div>

	</div>

</section>
{% endif %}

{% endblock startPopUp %}

{% endblock body %}
