
<h3 class="my-4">{{ 'form.subscribe.title' | matra('Subscribe') }}</h3>

{{ form_start(form) }}

	{% if not form.vars.valid %}
	<div class="form-group">
		{{ form_errors(form) }}
	</div>
	{% endif %}

	<div class="form-group">
		<label class="required" for="form_mail">{{ 'form.email'|matra('Email') }}</label>
		<br/>
		<input id="form_mail" class="form-control" type="text" required="required" name="subscribe[mail]" placeholder="{{ 'form.email'|matra('Email') }}" />
		<br/>
		{{ form_errors(form.mail) }}
	</div>

	<div class="form-group">
		<label for="form_name">{{ 'form.name'|matra('Name') }}</label>
		<br/>
		<input id="form_name" class="form-control" type="text" name="subscribe[name]" placeholder="{{ 'form.name'|matra('Name') }}" />
		<br/>
		{{ form_errors(form.name) }}
	</div>

	<div class="form-group">
		<label for="subscribe_mobile">{{ 'form.phone'|matra('Phone') }}</label>
		<input type="text" id="subscribe_mobile" name="subscribe[mobile]" maxlength="31" class="form-control" placeholder="{{ 'form.phone'|matra('Phone') }}" />
		<br/>
		{{ form_errors(form.mobile) }}
	</div>

	<div class="form-group">
		<label for="subscribe_country">{{ 'form.country'|matra('Country') }}</label>
		{{ form_widget(form.country) }}
		<br/>
		{{ form_errors(form.country) }}
	</div>

	<fieldset class="form-group form-inline pb-3">
		<div id="subscribe_sex">
			<div class="form-check">
				<input type="radio" id="subscribe_sex_0" name="subscribe[sex]" required="required" class="form-check-input" value="0" checked="checked" />
				<label class="form-check-label required" for="subscribe_sex_0">{{ 'form.sex.female'|matra('Female') }}</label>
				<input type="radio" id="subscribe_sex_1" name="subscribe[sex]" required="required" class="form-check-input ml-3" value="1" />
				<label class="form-check-label required" for="subscribe_sex_1">{{ 'form.sex.Male'|matra('Male') }}</label>
			</div>
		</div>
		<br/>
		{{ form_errors(form.sex) }}
	</fieldset>

	{% include "@MaciPage/Form/_optional_fields.html.twig" %}

	<div class="checkbox privacy">
		<input id="form_privacy" type="checkbox" required="required" name="subscribe[privacy]" />
		<label class="required" for="form_privacy">{{ 'read_privacy'|matla('I have read and agree to the') }} <a href="{{ path('maci_page', {'path': 'privacy'}) }}" target="_blank">{{ 'privacy_policy'|matla('Privacy Policy') }}</a></label>
		<div class="form-errors">{{ form_errors(form.privacy) }}</div>
	</div>

	{% if form.recaptcha is defined %}
	<div class="form-group">
		{{ form_row(form.recaptcha) }}
	</div>
	{% endif %}

	<div class="form-group">
		{{ form_row(form._token) }}
		<input type="hidden" name="subscribe[locale]" value="{{ app.request.locale }}">
		<button id="form_subscribe" class="btn btn-primary" name="subscribe[subscribe]" type="submit">{{ 'form.subscribe'|matra('Subscribe') }}</button>
	</div>

{{ form_end(form, {'render_rest': false}) }}
