{% extends "@MaciPage/base.html.twig" %}

{% block _ga %}{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('/bundles/macipage/css/mailer.css') }}" />
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('/bundles/macipage/js/mailer.js') }}" ></script>
{% endblock %}


{% block body %}

<style type="text/css">

body {
	background-color: #343a40;
	color: rgba(255,255,255,.75);
}

h3 {
	padding: 30px 0 15px;
}

#mail {
	padding-bottom: 96px;
}

#actions > span {
	display: block;
}

#content {
	text-align: right;
}

#content .navbar-nav {
	width: 100%;
	max-width: 210px;
}

#content .nav-item {
	text-align: right;
}

#content > .navbar {
	max-height: 421px;
	overflow: auto;
}

.navbar-light .navbar-nav .nav-item.waiting {
	background-color: rgba(238, 228, 171, 0.7);
}

.navbar-light .navbar-nav .nav-item.sending {
	background-color: rgba(171, 181, 238, 0.7);
}

.navbar-light .navbar-nav .nav-item.sended {
	background-color: rgba(183, 238, 171, 0.7);
}

</style>

<div id="mail" class="container" data-id="{{ item.id }}">
<div class="row">

<div id="actions" class="col-sm-5"></div>
<div id="content" class="col-sm-7"></div>

</div>
</div>

{% endblock %}
