
<address>

	<span class="address-detail name">{{ company_name }}</span><br/>

	<span class="address-detail address">{{ company_address }}</span><br/>

	<span class="address-detail cccs">{{ company_cccs }}</span><br/>

	<span class="address-detail phone">
		<abbr title="Phone">Tel.</abbr> {{ company_phone }}
	</span><br/>

	<span class="address-detail mail">
		E-Mail: <a href="mailto:{{ contact_email }}">{{ contact_email }}</a>
	</span>

</address>
