
<address>
	<strong>{{ company_name }}</strong><br/>
	{{ company_address }}<br/>
	{{ company_cccs }}<br/>
	<abbr title="Phone">Tel.</abbr> {{ company_phone }}<br/>
	E-Mail: <a href="mailto:{{ contact_email }}">{{ contact_email }}</a>
</address>
