
{% block bodyTag %}<body id="bodyPage">{% endblock %}


{% block maciadmin %}

{{ render(controller('MaciAdminBundle:View:adminBar', { 'entity': 'page', 'item': page } )) }}

{% endblock %}


{% block leftMenu %}

    {% set menu = knp_menu_get('page_left', [], {'page': page} ) %}

    <nav>{{ knp_menu_render(menu, {'currentClass': 'active'}) }}</nav>

{% endblock %}


{% block title %}

{% if page.metaTitle %}
{{ page.metaTitle }}
{% else %}
{{ page.title }} - {{ company_title }}
{% endif %}

{% endblock %}


{% block description %}

{% if page.metaDescription %}
<meta name="description" content="{{ page.metaDescription }}" />
{% else %}
<meta name="description" content="{{ page.description|length > 180 ? page.description|slice(0, 163) : page.description  }}" />
{% endif %}

{% endblock %}


{% block pathBar %}
<nav>
<ol class="breadcrumb">
    <li>
    	<a href="{{ path('homepage') }}">Home</a>
    </li>

	{% for parentItem in page.parentsList %}

	<li class="product-category-parent">
		<a href="{{ path('maci_page', {'path': parentItem.path}) }}">{{ parentItem }}</a>
	</li>

	{% endfor %}

    <li class="active">{{ page }}</li>
</ol>
</nav>
{% endblock %}


{% block content %}

<div class="page-container default-page row">

{% include "MaciPageBundle:Default:_page.html.twig" with { 'page': page } %}

</div>

{% endblock %}
