
{% extends "MaciPageBundle::layout.html.twig" %}


{% block bodyTag %}<body id="bodyContacts">{% endblock %}


{% block maciadmin %}

<a class="btn btn-success ma-form" href="{{ path('maci_admin_entity_form', {'entity': 'page', 'id': page.id}) }}">Edit Page</a>

<a class="btn btn-primary ma-form" href="{{ path('maci_admin_entity_new', {'entity': 'page'}) }}">New Page</a>

{% endblock %}


{% block title %}

{% if page.metaTitle %}
{{ page.metaTitle }}
{% else %}
{{ page.title }} - {{ parent() }}
{% endif %}

{% endblock %}

{% block description %}

{% if page.metaDescription %}
<meta name="description" content="{{ page.metaDescription }}" />
{% else %}
<meta name="description" content="{{ page.description|length > 180 ? page.description|slice(0, 163) : page.description  }}" />
{% endif %}

{% endblock %}


{% block container %}


<div class="page">


{% if page.slider %}

<section class="page_slider row">

	{% include "MaciMediaBundle:Default:_slider.html.twig" with {'album': page.slider}  %}

</section>

{% endif %}


<header class="page_header page_container row">

	<h1 class="page_title">
		{{ page.title }}
	</h1>

	<div class="page_spacer"></div>

	{% if page.subtitle %}
	<h2 class="page_subtitle">
		{{ page.subtitle }}
	</h2>
	{% endif %}

	{% if page.header %}
	<div class="page_header-content">
		{{ page.header }}
	</div>
	{% endif %}

</header>


{% if page.map %}

<section class="page_map row">

	{{ page.map|raw }}

</section>

{% endif %}


<section class="page_content page_container row">
<div class="col-xs-6">

	{% include "MaciPageBundle:Default:_contacts.html.twig" %}

	<div>
		{{ page.content|raw }}
	</div>

</div>
<div class="col-xs-6">

	{{ render(controller('MaciContactBundle:Default:form')) }}

</div>
</section>


{% if page.category %}

<section class="page_products page_container row">

	{% include "MaciProductBundle:Default:_list.html.twig" with { 'list': page.category.products }  %}

</section>

{% endif %}


{% if page.tag %}

<section class="page_posts page_container row">

	{% include "MaciBlogBundle:Default:_list.html.twig" with { 'list': page.tag.posts }  %}

</section>

{% endif %}


{% if page.gallery %}

<section class="page_gallery page_container row">

	{% include "MaciMediaBundle:Default:_list.html.twig" with { 'list': page.gallery.images }  %}

</section>

{% endif %}



</div>


{% endblock %}

