
{% extends "MaciPageBundle::layout.html.twig" %}


{% block bodyTag %}<body id="bodyHomepage">{% endblock %}


{% block maciadmin %}

{{ render(controller('MaciAdminBundle:View:adminBar', { 'entity': 'page', 'item': page } )) }}

{% endblock %}


{% block title %}

{% if page.metaTitle %}
{{ page.metaTitle }}
{% else %}
{{ page.title }} - {{ parent() }}
{% endif %}

{% endblock %}

{% block description %}

{% if page.metaDescription %}
<meta name="description" content="{{ page.metaDescription }}" />
{% else %}
<meta name="description" content="{{ page.description|length > 180 ? page.description|slice(0, 163) : page.description  }}" />
{% endif %}

{% endblock %}


{% block container %}

<div class="page-container homepage">

{% include "MaciPageBundle:Default:_page_slider.html.twig" with { 'page': page } %}

{% include "MaciPageBundle:Default:_page_slides.html.twig" with { 'page': page } %}

{#% include "MaciPageBundle:Default:_page_header.html.twig" with { 'page': page } %#}

{% include "MaciPageBundle:Default:_page_content.html.twig" with { 'page': page } %}

{% include "MaciPageBundle:Default:_page_media.html.twig" with { 'page': page } %}

{% include "MaciPageBundle:Default:_page_footer.html.twig" with { 'page': page } %}

</div>

{% endblock %}
