
{% extends "MaciPageBundle::layout.html.twig" %}


{% block bodyTag %}<body id="bodyHomepage">{% endblock %}


{% block maciadmin %}

<a class="btn btn-success ma-form" href="{{ path('maci_admin_entity_form', {'entity': 'page', 'id': page.id}) }}">Edit Page</a>

<a class="btn btn-primary ma-form" href="{{ path('maci_admin_entity_new', {'entity': 'page'}) }}">New Page</a>

{% endblock %}


{% block title %}

{% if page.metaTitle %}
{{ page.metaTitle }}
{% else %}
{{ page.title }} - {{ parent() }}
{% endif %}

{% endblock %}

{% block description %}

{% if page.metaDescription %}
<meta name="description" content="{{ page.metaDescription }}" />
{% else %}
<meta name="description" content="{{ page.description|length > 180 ? page.description|slice(0, 163) : page.description  }}" />
{% endif %}

{% endblock %}


{% block container %}

{% include "MaciPageBundle:Default:_page.html.twig" with { 'page': page } %}

{% endblock %}
