
{% extends "MaciPageBundle::layout.html.twig" %}

{% block bodyTag %}<body id="bodyNotFoundPage">{% endblock %}


{% block maciadmin %}

{{ render(controller('MaciAdminBundle:View:adminBar', { 'entity': 'page' } )) }}

{% endblock %}


{% block title %}

404 - {{ 'page.notfound' | matra('Page not found') }} - {{ company_title }}

{% endblock %}


{% block description %}

<meta name="description" content="404 - {{ 'page.notfound' | matra('Page not found') }}." />

{% endblock %}


{% block container %}

<div class="container-fluid notfound-page">

<section>

	<h3>{{ 'page.notfound' | matra('Page not found') }}.</h3>

</section>

</div>

{% endblock %}
