
{% extends "MaciPageBundle::layout.html.twig" %}

{% block title %}

Informativa sulla Privacy - {{ parent() }}

{% endblock %}


{% block content %}

<div class="textContainer">
	<div class="textContainer_p">
		<h2>{{ 'privacy.dati.h2'|trans({}, 'MaciPageBundle') }}</h2>
		<p>{{ 'privacy.dati.p'|trans({}, 'MaciPageBundle')|nl2br }}</p>
		<h2>{{ 'privacy.cookie.h2'|trans({}, 'MaciPageBundle') }}</h2>
		<p>{{ 'privacy.cookie.p'|trans({}, 'MaciPageBundle')|nl2br }}</p>
	</div>
</div>

{% endblock %}
