
{% extends "MaciPageBundle::layout.html.twig" %}


{% block title %}

{{ 'search.page' | matra('Search a Page:') }} {{ query }}

{% endblock %}


{% block searchForm %}
<div id="searchForm" class="col-xs-12 col-md-3">
    {{ render(controller('MaciSearchBundle:Search:form', {'section': 'page', 'label': ('search.page'|matra('Search a Page')), 'query': query })) }}
</div>
{% endblock %}


{% block content %}

<div class="page">

	<header class="page_header page_container row">

		<h1 class="page_title">
			{{ 'search.page' | matra('Search a Page') }} for "{{ query }}"
		</h1>

	</header>

	{% for page in list %}

	<div class="search-page-item">

		<a href="{{ path('maci_page', { 'path': page.path }) }}">
			<h3>{{ page }}</h3>
		</a>

		{% if page.subtitle %}
		<h4>{{ page.subtitle }}</h4>
		{% endif %}

		{% if page.description %}
		<p>{{ page.description }}</p>
		{% endif %}

	</div>

	{% endfor %}

</div>

{% endblock %}
