
{% if pager is defined and pager.requiresPagination %}

<div class="pagination-container container-fluid">
<nav class="pagination navbar navbar-expand" aria-label="Page navigation">

{% if pager.requiresPagination %}
<ul class="navbar-nav">
	{% if not pager.hasRangeFirst %}
	<li class="nav-item">
		<a class="nav-link btn" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge(app.request.query.all)|merge({ "p": 1 })) }}">
			<span class="glyphicon glyphicon-step-backward"></span>
		</a>
	</li>
	{% endif %}
	{% if pager.hasPrev %}
	<li class="nav-item">
		<a class="nav-link btn" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge(app.request.query.all)|merge({ "p": pager.prev })) }}">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</a>
	</li>
	{% endif %}
	{% for page in pager.getPageRange %}
	<li {% if pager.current(page) %}class="active"{% endif %}>
		<a class="nav-link btn" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge(app.request.query.all)|merge({ "p": page })) }}">
			{{ page }}
		</a>
	</li>
	{% endfor %}
	{% if pager.hasNext %}
	<li class="nav-item">
		<a class="nav-link btn" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge(app.request.query.all)|merge({ "p": pager.next })) }}">
			<span class="glyphicon glyphicon-chevron-right"></span>
		</a>
	</li>
	{% endif %}
	{% if not pager.hasRangeLast %}
	<li class="nav-item">
		<a class="nav-link btn" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge(app.request.query.all)|merge({ "p": pager.maxPages })) }}">
			<span class="glyphicon glyphicon-step-forward"></span>
		</a>
	</li>
	{% endif %}
</ul>
{% endif %}

</nav>
</div>

{% endif %}
