{% extends "MaciAdminBundle::layout.html.twig" %}

{% block content %}
<h3>Import Order</h3>
<form id="import_form" class="p-2">
<div class="form-group">
	<label class="required" for="import_set">Set</label>
	<select id="import-set" name="import[set]" class="form-control">
		<option value="null">Select Record Set</option>
	</select>
</div>
<div class="form-group">
	<input type="file" id="dataFile">
</div>
<div class="form-group">
	<button id="import-submit" class="btn btn-primary" type="submit">Import XML</button>
	<a id="getLabels" class="btn btn-primary" href="{{ path('maci_record_get_labels') }}">Get Labels</a>
	<a id="getReport" class="btn btn-primary" href="{{ path('maci_record_get_report') }}">Get Report</a>
	<button id="getNF-order" class="btn btn-danger{{ debug ? '' : ' hidden' }}" type="submit">Get NF</button>
	<button id="resetNF-order" class="btn btn-danger{{ debug ? '' : ' hidden' }}" type="submit">Reset NF</button>
	<button id="reload-products" class="btn btn-danger{{ debug ? '' : ' hidden' }}" type="submit">Reload NF Products</button>
	<button id="reload-order" class="btn btn-danger{{ debug ? '' : ' hidden' }}" type="submit">Reload Order</button>
	<button id="version" class="btn btn-danger{{ debug ? '' : ' hidden' }}" type="submit">Version</button>
</div>
</form>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('/bundles/macipage/js/import.js') }}" ></script>
{% endblock %}
