{% extends "MaciAdminBundle::layout.html.twig" %}

{% block content %}
<h3>Import Order</h3>
<form id="import_form" class="p-2">
<div class="form-group">
	<label class="required" for="import_set">Set:</label>
	<select id="import-set" name="import[set]" class="form-control">
		<option value="null">Select Record Set</option>
	</select>
</div>
<div class="form-group">
	<input type="file" id="dataFile">
</div>
<div class="form-group">
	<label class="required" for="ratio">Gain:</label>
	<input type="number" id="ratio" class="form-control" value="180" />
</div>
<div class="form-group">
	<button id="import-submit" class="btn btn-primary" type="submit">Import XML</button>
	<button id="reset-import" class="btn btn-danger" type="submit">Reset Import</button>
	<a id="getLabels" class="btn btn-primary" href="{{ path('maci_record_get_labels') }}">Get Labels</a>
	<a id="getReport" class="btn btn-primary" href="{{ path('maci_record_get_report') }}">Get Report</a>
</div>
<div class="form-group">

	<button id="reload-order" class="btn btn-danger{{ debug ? '' : ' hidden' }}" type="submit">Reload Order</button>
	<button id="reload-records" class="btn btn-danger{{ debug ? '' : ' hidden' }}" type="submit">Reload Records</button>

	<button id="check-data" class="btn btn-danger{{ debug ? '' : ' hidden' }}" type="submit">Check Data</button>
	<button id="reset-data" class="btn btn-danger{{ debug ? '' : ' hidden' }}" type="submit">Reset Data</button>
	
	<button id="version" class="btn btn-danger{{ debug ? '' : ' hidden' }}" type="submit">Version</button>

</div>
</form>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('/bundles/macipage/js/import.js') }}" ></script>
{% endblock %}
