{% extends "@MaciPage/Layout/void.html.twig" %}


{% block head %}

<link href="https://fonts.googleapis.com/css2?family=Libre+Barcode+EAN13+Text&display=swap" rel="stylesheet" />

<style type="text/css">

body, table, tr, td, p, div, span {
	padding: 0;
	margin: 0;
	text-align: center;
	font-weight: normal;
}

@media print {
	table {
		page-break-before: always;
	}
}

.label {
	width: 58mm;
}

.eanWrapper, .ean {
	height: 8mm;
	overflow: hidden;
}

.ean {
	font-family: 'Libre Barcode EAN13 Text', cursive;
	font-size: 92pt;
	padding-right: 8pt;
}

.title {
	text-transform: uppercase;
	font-size: 9pt;
	line-height: 8pt;
}

.title.price {
	font-size: 12pt;
	line-height: 13pt;
	letter-spacing: 0.38px;
}

.title.bold {
	font-weight: bold;
}

.link {
	letter-spacing: 0.43px;
}

</style>

{% endblock %}

{% block body %}

{% set tot = 0 %}
{% set index = 0 %}
{% for item in list %}
{% for i in 1..item.quantity %}

<table class="label">
<tbody>
<tr>
	<td>
		<div class="eanWrapper">
			<p class="ean">{{ products[index].ean13Price }}</p>
		</div>
		<h4 class="title">{{ item.code }}</h4>
		<span class="title bold">{{ item.category }}</span><br/>
		<span class="title">{{ item.variantLabel }}</span><br/>
		<span class="title price bold">{{ products[index].priceLabel }} &euro;</span>
	</td>
</tr>
</tbody>
</table>

{% set tot = tot + 1 %}
{% endfor %}
{% set index = index + 1 %}
{% endfor %}

{% endblock %}
