{% extends "@MaciPage/Layout/void.html.twig" %}

{% block head %}
<style type="text/css">
{% include "@MaciPage/Report/report.css" %}
</style>
{% endblock %}

{% block body %}

{% if list|length %}

{% set page = 1 %}
{% set page_limit = 64 %}
{% for code, item in list %}

{% if loop.index0 % page_limit == 0 %}
<table class="label">
<thead>
<tr>
	<th>CODE</th>
	<th>CATEGORY</th>
	<th>VARIANTS</th>
	<th>QUANTITY</th>
	<th>PRICE</th>
</tr>
<tr><td class="spacer"></td></tr>
</thead>
<tbody>
{% endif %}

<tr class="{{ loop.index is even ? 'even' : 'odd' }}">
	<td>
		<h4 class="title">{{ item.code }}</h4>
	</td>
	<td>
		<span class="title"><b>{{ item.category }}</b> - {{ item.variant }}</span>
	</td>
	<td>
		<span class="title">{{ item.variants }}</span>
	</td>
	<td>
		<span class="title bold">{{ item.quantity }}</span>
	</td>
	<td>
		<span class="title">{{ item.price }} &euro;</span>
	</td>
</tr>

{% if loop.index % page_limit == 0 or loop.last %}
</tbody>
<tfoot>
<tr><td class="spacer"></td></tr>
<tr><td class="spacer"></td></tr>
<tr>
	<th>{{ loop.last ? 'I: ' ~ list|length : '&nbsp;' }}</th>
	<th>&nbsp;</th>
	<th>&nbsp;</th>
	<th>{{ loop.last ? 'T: ' ~ qta : '&nbsp;' }}</th>
	<th>p. {{ page }} / {{ (((list|length - 1) / page_limit) + 1)|intval }}</th>
</tr>
</tfoot>
</table>{% set page = page + 1 %}
{% endif %}

{% endfor %}

{% endif %}

{% endblock %}
