{% extends "@MaciPage/Layout/void.html.twig" %}


{% block head %}

<style type="text/css">

@font-face {
	font-family: "Libre Barcode EAN13 Text";
	src: url("http://base.localhost/bundles/macipage/webfonts/ean13.ttf");
}

body, table, tr, th, td, div, h4 {
	padding: 0;
	margin: 0;
}

body, p, span, h4, th {
	padding: 0;
	margin: 0;
	font-weight: normal;
	text-align: left;
}

h4 {
	display: inline;
}

.label {
	padding: 2px 15px;
	width: 970px;
	padding: 32px;
}

@media print {
	.label {
		page-break-before: always;
	}
	.label.first {
		page-break-before: avoid;
	}
}

th {
	padding: 0 0 6px 0;
}

thead th {
	border-bottom: 1px solid black;
}

.spacer {
	padding: 0 0 12px 0;
}

tbody td {
	border-bottom: 0.5px solid gray;
}

.title {
	text-transform: uppercase;
	font-size: 11pt;
}

th,
.title.bold {
	font-weight: bold;
}

.link {
	letter-spacing: 0.43px;
}

</style>

{% endblock %}

{% block body %}

<table class="label">
<thead>
<tr>
	<th>Code</th>
	<th>Category</th>
	<th>Quantity</th>
	<th>Price</th>
</tr>
<tr>
	<td class="spacer"></td>
</tr>
</thead>
<tbody>

{% for code, item in list %}
<tr class="{{ loop.index is even ? 'even' : 'odd' }}">
	<td>
		<h4 class="title">{{ code }}</h4>
	</td>
	<td>
		<span class="title bold">{{ item.category }}</span>
	</td>
	<td>
		<span class="title">{{ item.quantity }}</span>
	</td>
	<td>
		<span class="title bold">{{ item.price }} &euro;</span>
	</td>
</tr>
{% endfor %}

</tbody>
</table>

{% endblock %}
