
<section class="album preview">

<header class="album-header container-fluid">

	<a href="{{ path('maci_media_album', {'id': album.id}) }}">
		<h3 class="album-title">{{ album.name }}</h3>
	</a>
	<p class="lead">{{ album.description|raw }}</p>

</header>

{% if album.children|length %}
<section class="album-children">

	{% include "@MaciPage/Media/_album_list.html.twig" with { 'list': album.children, 'album': album } %}

</section>
{% endif %}

{% if album.subtitle %}
<section class="album-subtitle container-fluid">

	<h4 class="album-subtitle">{{ album.subtitle }}</h4>

</section>
{% endif %}

<section class="album-media">

	{% include "@MaciPage/Media/_album_media_list.html.twig" with { 'album': album, 'limit': 12 } %}

</section>

<footer class="album-see-more container-fluid">

	<a class="btn" href="{{ path('maci_media_album', {'id': album.id}) }}">
		{{ 'media.album.preview.see_more' | matra('See More') }}
		<span class="glyphicon glyphicon-chevron-right"></span>
	</a>

</footer>

</section>
