
{% if slider_filter is not defined %}
{% set slider_filter = 'maci_media_gallery' %}
{% endif %}

{% if multiple_len is defined %}
{% if multiple_len == 2 %}
{% set multiple_class = 'col-xs-12 col-sm-6' %}
{% elseif multiple_len == 3 %}
{% set multiple_class = 'col-xs-12 col-sm-4' %}
{% elseif multiple_len == 4 %}
{% set multiple_class = 'col-xs-12 col-sm-3' %}
{% endif %}
{% endif %}

{% if multiple_class is not defined %}
{% set multiple_len = 3 %}
{% set multiple_class = 'col-xs-12 col-sm-4' %}
{% endif %}

{% include "@MaciPage/Media/_slider_indicators.html.twig" with { 'len': ((list|length / multiple_len)|number_format) } %}

<!-- Wrapper for slides -->
<div class="carousel-inner">

<div class="carousel-item image multiple active">

	<div class="row">

	{% for item in list %}

		<div class="multiple-item {{ multiple_class }}">

			<!-- Caption -->
			{% if caption == 'before' and caption and ( item.title or item.content ) %}
			<div class="carousel-caption d-none d-md-block">
				{% if item.title %}<h4>{{ item.title }}</h4>{% endif %}
				{% if item.content %}<div>{{ item.content|raw }}</div>{% endif %}
			</div>
			{% endif %}

			{% if item.link %}
			<a href="{{ item.link }}" alt="{{ item.title }}">
			{% endif %}

			<a href="{{ asset(path('maci_media_get', {'path': item.media.path})) }}" target="_blank"{% if item.media.type == 'image' %} data-toggle="lightbox" data-lightbox="media-slide-{{ item.parent.id }}" data-title="{{ item.title ? item.title : item.media.name }}" data-description="{{ item.content ? item.content : item.media.description }}" data-image="{{ asset(item.media.webPreview | imagine_filter('maci_media_lightbox')) }}"{% endif %}>
				<img class="img-fluid" src="{{ asset(item.webPreview | imagine_filter('maci_media_preview')) }}" {% if item.content %} title="{{ item.title }}" alt="{{ item.content }}" {% else %} alt="{{ item.title ? item.title : '#' }}" {% endif %} />
			</a>

			{% if item.link %}
			</a>
			{% endif %}

			<!-- Caption -->
			{% if caption == 'after' and caption and ( item.title or item.content ) %}
			<div class="carousel-caption d-none d-md-block">
				{% if item.title %}<h4>{{ item.title }}</h4>{% endif %}
				{% if item.content %}<div>{{ item.content|raw }}</div>{% endif %}
			</div>
			{% endif %}

		</div>

	{% if ( loop.index % multiple_len ) == 0 and not loop.last %}

	</div>
</div>
<div class="carousel-item image multiple">
	<div class="row">

	{% endif %}


	{% endfor %}

	</div>
</div>

</div>

{% include "@MaciPage/Media/_slider_controls.html.twig" %}
