
{% if list|length %}

{% set len = list|length %}


{% if caption is not defined %}
{% set caption = false %}
{% endif %}

{% if interval is not defined %}
{% set interval = 'data-interval="5000"' %}
{% elseif 1 < interval %}
{% set interval = 'data-interval="' + interval + '"' %}
{% else %}
{% set interval = '' %}
{% endif %}

{% if template is not defined %}
{% if type is not defined %}
{% set type = "default" %}
{% set template = "@MaciPage/Media/_slider_default.html.twig" %}
{% elseif type == 'multiple' %}
{% set template = "@MaciPage/Media/_slider_multiple.html.twig" %}
{% elseif type == 'quads' %}
{% set template = "@MaciPage/Media/_slider_quads.html.twig" %}
{% elseif type == 'quads-sliders' %}
{% set template = "@MaciPage/Media/_slider_quads.html.twig" %}
{% endif %}
{% endif %}

{% if image_filter is not defined %}
{% set image_filter = 'maci_media_slider' %}
{% endif %}

{% set carousel_id = 'carousel_' ~ random() %}



{% if type == 'quads-sliders' %}

<div id="{{ carousel_id }}" class="carousel-quads slide {{ type }}" {{ interval|raw }}>

	{% include template %}

</div>

{% else %}

<div id="{{ carousel_id }}" class="carousel slide {{ type }}" data-ride="carousel" data-pause="false" {{ interval|raw }}>

	{% include template %}

</div>

{% endif %}



{% endif %}
