
{% if item.link %}
<a href="{{ item.link }}" alt="{{ item.title }}">
{% endif %}

{% if caption == 'before' and caption and ( item.title or item.content ) %}
<div class="carousel-caption">
	{% if item.title %}<h4>{{ item.title }}</h4>{% endif %}
	{% if item.content %}<div>{{ item.content|raw }}</div>{% endif %}
</div>
{% endif %}

<img class="d-block w-100" src="{{ asset(item.webPreview | imagine_filter(slider_filter)) }}" {% if item.content %} title="{{ item.title }}" alt="{{ item.content }}" {% else %} alt="{{ item.title ? item.title : '#' }}" {% endif %} />

{% if caption == 'after' and caption and ( item.title or item.content ) %}
<div class="carousel-caption">
	{% if item.title %}<h4>{{ item.title }}</h4>{% endif %}
	{% if item.content %}<div>{{ item.content|raw }}</div>{% endif %}
</div>
{% endif %}

{% if item.link %}
</a>
{% endif %}
