
<div class="row media-item">


	<input name="id" type="hidden" value="{{ item.id }}" />


	{% if item.path %}

	<div class="media-preview">
	<a href="{{ path('maci_media_get', {'path': item.path}) }}" data-lightbox="media-preview" data-title="{{ item.title ? item.title : null }}">
		{% include "@MaciPage/Media/_media_preview.html.twig" with { 'item': item } %}
	</a>
	</div>

	{% endif %}


	<div class="media-info">

	{% if item.title %}
	<h4 class="media-title">{{ item.title }}</h4>
	{% endif %}

	{% if item.content %}
	<div class="media-description">{{ item.content|raw }}</div>
	{% endif %}

	{% if item.tags|length %}

	<div class="media-tags">

	<span class="media-tags-label">Tags:</span>

	{% for tag in item.tags %}

	<em class="media-tag">{{ tag.name }}</em>

	{% endfor %}

	</div>

	{% endif %}

	</div>


</div>
