
<div id="blogSlide_{{ slide.id }}" class="post-slide">

{% if slide.preview %}
<figure id="blogSlidePreview_{{ slide.id }}" class="slide-preview post-preview-wrapper">
	<a class="post-preview-link d-block" href="{{ path('maci_media_get', {'path': slide.preview.path}) }}" data-lightbox="post-image" data-title="{{ slide.preview }}">
		<img class="post-preview img-fluid" src="{{ asset(slide.preview.webPath|imagine_filter('maci_media_lightbox')) }}" alt="{{ slide.preview.name }} - {{ slide.preview.description|striptags }}" />
	</a>
	{% if slide.preview.name or slide.preview.description %}
	<figcaption class="post-preview-description">
		{% if slide.preview.name %}
		<span class="post-preview-name">{{ slide.preview.name }}</span>
		{% endif %}
		{% if slide.preview.name or slide.preview.description %}
		{{ slide.preview.description|raw }}
		{% endif %}
	</figcaption>
	{% endif %}
</figure>
{% endif %}

{% if slide.title %}
<h3 id="blogSlideTitle_{{ slide.id }}" class="slide-title pc-title">{{ slide.title }}</h3>
{% endif %}

{% if slide.content %}
<div id="blogSlideContent_{{ slide.id }}" class="slide-content">
{{ slide.content|raw }}
</div>
{% endif %}

</div>
