
<div id="blogSlide_{{ slide.id }}" class="post-slide">

{% if slide.preview %}
<figure id="blogSlidePreview_{{ slide.id }}" class="slide-preview post-preview-wrapper">
	<a class="post-preview-link d-block" href="{{ path('maci_media_get', {'path': slide.preview.path}) }}" data-lightbox="post-image" data-title="{{ slide.preview }}">
		<img class="post-preview img-fluid" src="{{ asset(slide.preview.webPath|imagine_filter('maci_blog_list')) }}" alt="{{ slide.preview.name }} - {{ slide.preview.description|striptags }}" />
	</a>
	<figcaption class="post-preview-caption">
		{% if slide.title %}
		<span class="post-preview-name">{{ slide.title }}</span>
		{% elseif slide.preview.name %}
		<span class="post-preview-name">{{ slide.preview.name }}</span>
		{% endif %}
		{% if slide.content %}
		<div class="post-preview-description">{{ slide.content|raw }}</div>
		{% elseif slide.preview.description %}
		<div class="post-preview-description">{{ slide.preview.description|raw }}</div>
		{% endif %}
		{% if post.preview.credits %}
		<div class="post-preview-credits">
			<span class="post-preview-credits-label">{{ 'media.credits'|matra('Credits') }}:</span>
			<a class="post-preview-credits" href="{{ post.preview.creditsLink }}" rel="nofollow" target="_blank">{{ post.preview.creditsTitle }}</a>
		</div>
		{% endif %}
	</figcaption>
</figure>
{% endif %}

</div>
