
<div id="slide-{{ loop.index0 }}" class="slide {{ item.type }} {% if loop.index is even %}even{% else %}odd{% endif %}">
<div class="slide-wrapper">

	<div class="slide-background">
		<img class="img-fluid" src="{{ path('maci_media_get', {'path': item.media.path}) }}" alt="{{ item.media }}" />
	</div>

	<div class="slide-caption-wrapper">
	<div class="slide-caption">

		{% if company_title is defined %}

		<div class="header-wrapper">
		<header>
			{% if item.link %}
			<a href="{{ item.link }}" alt="{{ item.title }}">
				<h3 class="slide-title">{{ 'company_title'|matra(company_title) }}</h3>
			</a>
			{% else %}
			<h3 class="slide-title">{{ 'company_title'|matra(company_title) }}</h3>
			{% endif %}
			<i class="fa fa-2x fa-angle-down"></i>
		</header>
		</div>

		{% endif %}

		{% if company_subtitle is defined %}
		<div class="slide-description">
			{{ 'company_subtitle'|matra(company_subtitle) }}
		</div>
		{% endif %}

		{% include "MaciPageBundle:Slides:_slide_caption_btn_next_in.html.twig" %}

	</div>
	</div>

</div>
</div>
