
<div id="slide-{{ loop.index0 }}" class="slide {{ item.type }} {% if loop.index is even %}even{% else %}odd{% endif %}">
<div class="slide-wrapper">

	{% include "MaciPageBundle:Slides:_slide_background.html.twig" %}

	<div class="slide-caption col-sm-8 offset-sm-2 col-lg-6 offset-lg-3">

		{% include "MaciPageBundle:Slides:_slide_caption_header.html.twig" %}

		{% include "MaciPageBundle:Slides:_slide_caption_content.html.twig" %}

		<div class="row">

			<div class="col-xs-12 col-sm-4">
				<h4>{{ 'form.address' | matra('Address') }}</h4>
				<p>
					{{ company_address }}<br/>
					{{ company_cccs }}
				</p>
			</div>

			<div class="col-xs-12 col-sm-4">
				<h4>{{ 'form.phone' | matra('Phone') }}</h4>
				<p>
					{{ company_phone }}
				</p>
			</div>

			<div class="col-xs-12 col-sm-4">
				<h4>{{ 'form.email' | matra('Email') }}</h4>
				<p>
					{{ contact_email }}
				</p>
			</div>

		</div>

	</div>

	{% include "MaciPageBundle:Slides:_slide_caption_btn_next_out.html.twig" %}

</div>
</div>
