
{% if col_class is not defined %}
{% set col_class = "col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1" %}
{% endif %}


<article class="blog-post container-fluid">


<header class="row">
<div class="{{ col_class }}">

	<h1 class="post-title">{{ post.title }}</h1>

	{% if post.preview %}

	<img class="post-preview img-responsive" src="{{ asset(post.preview.webPath | imagine_filter('maci_media_preview')) }}" alt="{{ post.preview }}">

	{% endif %}

</div>
</header>


<section class="row">
<div class="{{ col_class }}">

	{% if post.header|length %}

	<div class="post-header">{{ post.header|raw }}</div>

	{% endif %}

	{% if post.markdown|length %}

	<div class="post-markdown markdown-content">{{ post.markdown|markdown|nl2br }}</div>

	{% endif %}

	{% if post.content|length %}

	<div class="post-content">{{ post.content|raw }}</div>

	{% endif %}

</div>
</section>


{% if post.images|length %}
<section class="row">
<div class="{{ col_class }}">

{% include "@MaciPage/Blog/_media_list.html.twig" with { 'post': post } %}

</div>
</section>
{% endif %}


<footer class="row">
<div class="{{ col_class }}">

{% include "@MaciPage/Blog/_post_dates_nav.html.twig" with { 'post': post } %}

{% include "@MaciPage/Blog/_post_tags_nav.html.twig" with { 'post': post } %}

</div>
</footer>


</article>
