
<article class="blog-post post-article clearfix">
<div class="blog-post-wrapper flex">


<figure class="post-preview-wrapper">
	{% if post.preview %}
	<img class="post-preview img-fluid mx-auto" src="{{ asset(post.preview.webPath | imagine_filter('maci_media_lightbox')) }}" alt="{{ post.preview }} - {{ post.preview.description|striptags }}" />
	{% if post.preview.name or post.preview.description %}
	<figcaption class="post-preview-description">
		{% if post.preview.name %}
		<span class="post-preview-name">{{ post.preview.name }}</span>
		{% endif %}
		{% if post.preview.name or post.preview.description %}
		{{ post.preview.description|raw }}
		{% endif %}
	</figcaption>
	{% endif %}
	{% else %}
	<img class="post-preview default img-fluid mx-auto" src="{{ asset('/images/defaults/media-icon.png') }}" alt="{{ post.title }}" />
	{% endif %}
</figure>


<header class="blog-post-header">

	<h1 class="post-title">{{ post.title }}</h1>

	{% if post.subtitle %}
	<h2 class="post-subtitle">{{ post.subtitle }}</h2>
	{% endif %}

</header>


{% if post.previousPosts|length %}
<section class="blog-post-related related-prev">

	<h3 class="related-list-title">
	{% if post.previousPosts|length == 1 %}
		{{ 'blog.post.related.prev-post' | matra('Previous Post') }}:
	{% else %}
		{{ 'blog.post.related.prev-posts' | matra('Previous Posts') }}:
	{% endif %}
	</h3>

	{% include "@MaciPage/Blog/_related_posts.html.twig" with {'list': post.previousPosts } %}

</section>
{% endif %}


<section class="blog-post-content">

	{% if post.preheader is not null %}
	<div class="post-preheader">{{ post.preheader|raw }}</div>
	{% endif %}

	{% if post.header is not null %}
	<div class="post-header">{{ post.header|raw }}</div>
	{% endif %}

	{% if post.markdown is not null %}
	<div class="post-markdown markdown-content">{{ post.markdown|markdown|nl2br }}</div>
	{% endif %}

	{% if post.content is not null %}
	<div class="post-content">{{ post.content|raw }}</div>
	{% endif %}

</section>


{% if post.images|length %}
<section class="blog-post-images">

	{% include "@MaciPage/Blog/_media_list.html.twig" %}

</section>
{% endif %}


{% if post.otherMedias|length %}
<section class="blog-post-images">

	{% include "@MaciPage/Blog/_media_list.html.twig" with {'list': post.otherMedias} %}

</section>
{% endif %}


{% if post.nextPosts|length %}
<section class="blog-post-related related-next">

	<h3 class="related-list-title">
	{% if post.nextPosts|length == 1 %}
		{{ 'blog.post.related.next-post' | matra('Next Post') }}:
	{% else %}
		{{ 'blog.post.related.next-posts' | matra('Next Posts') }}:
	{% endif %}
	</h3>

	{% include "@MaciPage/Blog/_related_posts.html.twig" with {'list': post.nextPosts } %}

</section>
{% endif %}


{% include "@MaciPage/Blog/_license.html.twig" %}


<footer class="blog-post-footer flex">

	{% include "@MaciPage/Blog/_post_author_nav.html.twig" %}

	{% include "@MaciPage/Blog/_post_dates_nav.html.twig" %}

	{% include "@MaciPage/Blog/_post_links_nav.html.twig" %}

	{% include "@MaciPage/Blog/_post_tags_nav.html.twig" %}

	{% if is_granted('ROLE_ADMIN') %}
	{{ render(controller('MaciAdminBundle:View:adminBar', { 'entity': 'blog_post', 'item': post } )) }}
	{% endif %}

</footer>


{% if post.related|length %}
<section class="blog-post-related related-posts">

	<h3 class="related-list-title">
	{% if post.related|length == 1 %}
		{{ 'blog.post.related-post' | matra('Related Post') }}:
	{% else %}
		{{ 'blog.post.related-posts' | matra('Related Posts') }}:
	{% endif %}
	</h3>

	{% include "@MaciPage/Blog/_related_posts.html.twig" with {'list': post.related } %}

</section>
{% endif %}

</div>
</article>
