
<article class="blog-post clearfix">
<div class="blog-post-wrapper container-fluid">

<header class="blog-post-header row">

	<h1 class="post-title">{{ post.title }}</h1>

	{% if post.subtitle %}
	<h2 class="post-subtitle">{{ post.subtitle }}</h2>
	{% endif %}

	{% if post.preview %}
	<figure class="post-preview-wrapper">
		<img class="post-preview img-responsive" src="{{ asset(post.preview.webPath | imagine_filter('maci_media_lightbox')) }}" alt="{{ post.preview }} - {{ post.preview.description|striptags }}">
		{% if post.preview.name or post.preview.description %}
		<div class="row">
		<figcaption class="post-preview-description col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
			{% if post.preview.name %}
			<span class="post-preview-name">{{ post.preview.name }}</span>
			{% endif %}
			{% if post.preview.name or post.preview.description %}
			{{ post.preview.description|raw }}
			{% endif %}
		</figcaption>
		</div>
		{% endif %}
	</figure>
	{% endif %}

</header>


<section class="blog-post-content row">

	{% if post.preheader is not null %}
	<div class="post-preheader">{{ post.preheader|raw }}</div>
	{% endif %}

	{% if post.header is not null %}
	<div class="post-header">{{ post.header|raw }}</div>
	{% endif %}

	{% if post.markdown is not null %}
	<div class="post-markdown markdown-content">{{ post.markdown|markdown|nl2br }}</div>
	{% endif %}

	{% if post.content is not null %}
	<div class="post-content">{{ post.content|raw }}</div>
	{% endif %}

</section>


{% if post.images|length %}
<section class="blog-post-images row">

{% include "@MaciPage/Blog/_media_list.html.twig" %}

</section>
{% endif %}


<footer class="blog-post-footer row">

{% include "@MaciPage/Blog/_post_author_nav.html.twig" %}

{% include "@MaciPage/Blog/_post_dates_nav.html.twig" %}

{% include "@MaciPage/Blog/_post_permalink_nav.html.twig" %}

{% include "@MaciPage/Blog/_post_tags_nav.html.twig" %}

{{ render(controller('MaciAdminBundle:View:adminBar', { 'entity': 'blog_post', 'item': post } )) }}

</footer>

</div>
</article>
