
<tr>
<td class="list-preview">
	{% if author.preview %}
	<img class="related-post-preview" src="{{ asset(author.preview.webPath | imagine_filter('maci_blog_thumb')) }}" alt="{{ author.name }}"/>
	{% else %}
	<img class="related-post-preview default" src="{{ asset('/images/defaults/media-icon.png' | imagine_filter('maci_blog_thumb')) }}" alt="{{ author.name }}"/>
	{% endif %}
</td>
<td class="list-content">
	<h3 class="title">{{ author.name }}</h3>
	{% if author.description %}
	<p class="description">{{ author.description }}</p>
	{% endif %}
</td>
</tr>
