
<tr>
<td class="item-preview-wrapper">
	{% if author.preview %}
	<img class="item-preview" src="{{ asset(author.preview.webPath | imagine_filter('maci_page_thumb')) }}" alt="{{ author.name }}"/>
	{% else %}
	<img class="item-preview default" src="{{ asset('/images/defaults/media-icon.png' | imagine_filter('maci_page_thumb')) }}" alt="{{ author.name }}"/>
	{% endif %}
</td>
<td class="item-content">
	{% if editor is defined %}
	<a class="item-link" href="{{ path('maci_blog_author', { 'path': author.path, '_locale': author.locale }) }}">
		<span class="item-title">{{ author.name }}</span>
	</a>
	{% else %}
	<span class="item-title">{{ author.name }}</span>
	{% endif %}
</td>
</tr>

<tr>
<td class="item-caption" colspan="2">
	{% if author.description %}
	<p class="item-description">{{ author.description }}</p>
	{% endif %}
</td>
</tr>
