
<tr>
<td class="item-preview">
	{% if author.preview %}
	<img class="item-preview" src="{{ asset(author.preview.webPath | imagine_filter('maci_blog_thumb')) }}" alt="{{ author.name }}"/>
	{% else %}
	<img class="item-preview default" src="{{ asset('/images/defaults/media-icon.png' | imagine_filter('maci_blog_thumb')) }}" alt="{{ author.name }}"/>
	{% endif %}
</td>
<td class="item-content">
	<h3 class="item-title">{{ author.name }}</h3>
	{% if author.description %}
	<p class="item-description">{{ author.description }}</p>
	{% endif %}
</td>
</tr>
