
<tr>
<td class="item-preview">
	{% if item.media.path %}
	<img class="item-preview" src="{{ asset(item.media.webPreview|imagine_filter('maci_blog_thumb')) }}" alt="{{ item.media.title }} - {{ item.media.description|striptags }}">
	{% else %}
	<img class="item-preview default" src="{{ asset('/images/defaults/media-icon.png') }}" alt="{{ post.title }}" />
	{% endif %}
</td>
<td class="item-content">
	{% if item.name %}
	<span class="item-title">{{ item.name }}</span>
	{% endif %}
	{% if item.description %}
	<p class="item-description">{{ item.description }}</p>
	{% endif %}
</td>
<td class="item-actions">
	<a class="item-action icon" href="{{ path('maci_media_get', {'path': item.media.path}) }}" target="_blank" title="{{ 'download'|matla('Download') }}">
		<i class="fas fa-file-download"></i>
	</a>
</td>
</tr>
