
<tr>
<td class="list-preview">
	{% if item.preview %}
	<img class="preview" src="{{ asset(item.preview.webPath|imagine_filter('maci_blog_thumb')) }}" alt="{{ item.preview }} - {{ item.preview.description|striptags }}">
	{% else %}
	<img class="preview default" src="{{ asset('/images/defaults/media-icon.png') }}" alt="{{ post.title }}" />
	{% endif %}
</td>
<td class="list-content">
	{% if item.name|length %}
	<h3 class="title">{{ item.name }}</h3>
	{% endif %}
	{% if item.description|length %}
	<p class="description">{{ item.description }}</p>
	{% endif %}
</td>
</tr>
