
<article class="blog-post blog-post-preview">
<div class="blog-post-wrapper {{ col_class }}">
<div class="container-fluid">


<header class="blog-post-header row">

	<a href="{{ path('maci_blog_show', { 'id': post.id }) }}">
		<h1 class="post-title">{{ post.title }}</h1>
	</a>

	{% if post.preview %}
	<div class="post-preview-wrapper">
		<img class="post-preview img-responsive" src="{{ asset(post.preview.webPath | imagine_filter('maci_media_preview')) }}" alt="{{ post.preview }}">
	</div>
	{% endif %}

</header>


<section class="blog-post-content row">

	{% if post.header %}

	<div class="post-header">{{ post.header|raw }}</div>

	{% elseif post.markdown %}

	<div class="post-header markdown-content">{{ post.markdown|markdown|nl2br }}</div>

	{% else %}

	<div class="post-content">{{ post.content|raw }}</div>

	{% endif %}

</section>


<section class="blog-post-read-more row">
	<a class="post-read-more btn" href="{{ path('maci_blog_show', { 'id': post.id }) }}">
		{{ 'blog.list.read-more' | matra('Read More...') }}
	</a>
</section>


<footer class="blog-post-footer row">

{% include "@MaciPage/Blog/_post_dates_nav.html.twig" with { 'post': post } %}

{% include "@MaciPage/Blog/_post_tags_nav.html.twig" with { 'post': post } %}

</footer>

</div>
</div>
</article>
