
{% if col_class is not defined %}
{% set col_class = "col-xs-12" %}
{% endif %}


<article class="blog-post container-fluid">


<header class="row">
<div class="{{ col_class }}">

	<a href="{{ path('maci_blog_show', { 'id': post.id }) }}">
		<h1 class="post-title">{{ post.title }}</h1>
	</a>

	{% if post.preview %}

	<img class="post-preview img-responsive" src="{{ asset(post.preview.webPath | imagine_filter('maci_media_preview')) }}" alt="{{ post.preview }}">

	{% endif %}

</div>
</header>


<section class="row">
<div class="{{ col_class }}">

	{% if post.header %}

	<div class="post-header">{{ post.header|raw }}</div>

	{% elseif post.markdown %}

	<div class="post-header markdown-content">{{ post.markdown|markdown|nl2br }}</div>

	{% else %}

	<div class="post-content">{{ post.content|raw }}</div>

	{% endif %}

	<a class="post-read-more btn" href="{{ path('maci_blog_show', { 'id': post.id }) }}">
		{{ 'blog.list.read-more' | matra('Read More...') }}
	</a>

</div>
</section>


<footer class="row">
<div class="{{ col_class }}">

{% include "@MaciPage/Blog/_post_dates_nav.html.twig" with { 'post': post } %}

{% include "@MaciPage/Blog/_post_tags_nav.html.twig" with { 'post': post } %}

</div>
</footer>


</article>
