
<article class="blog-post blog-post-list-item clearfix">
<div class="blog-post-wrapper container-fluid">

{% set post_link = path('maci_blog_show', { 'path': post.path, '_locale': post.locale }) %}

<header class="blog-post-header row">

	<a href="{{ post_link }}">
		<h1 class="post-title">{{ post.title }}</h1>
	</a>

	{% if post.subtitle %}
	<h2 class="post-subtitle">{{ post.subtitle }}</h2>
	{% endif %}

	{% if post.preview %}
	<div class="post-preview-wrapper">
		<a href="{{ post_link }}">
			<img class="post-preview img-fluid" src="{{ asset(post.preview.webPath | imagine_filter('maci_media_lightbox')) }}" alt="{{ post.preview }} - {{ post.preview.description|striptags }}">
		</a>
	</div>
	{% endif %}

</header>


<section class="blog-post-content row">

	{% if post.preheader %}
	<div class="post-preheader">{{ post.preheader|raw }}</div>
	{% endif %}

	{% if post.header %}

	<div class="post-header">{{ post.header|raw }}</div>

	{% elseif post.markdown %}

	<div class="post-header markdown-content">{{ post.markdown|markdown|nl2br }}</div>

	{% else %}

	<div class="post-content">{{ post.content|raw }}</div>

	{% endif %}

</section>


<section class="blog-post-read-more row">
	<a class="btn btn-primary" href="{{ post_link }}">
		{{ 'blog.list.read-more' | matra('Read More...') }}
	</a>
</section>


<footer class="blog-post-footer row">

{% include "@MaciPage/Blog/_post_author_nav.html.twig" %}

{% include "@MaciPage/Blog/_post_dates_nav.html.twig" with { 'post': post } %}

{% include "@MaciPage/Blog/_post_tags_nav.html.twig" with { 'post': post } %}

</footer>

</div>
</article>
