
<tr>
<td class="item-preview-wrapper">
	{% if post.preview %}
	<img class="item-preview" src="{{ asset(post.preview.webPath | imagine_filter('maci_page_thumb')) }}" alt="{{ post.title }}"/>
	{% else %}
	<img class="item-preview default" src="{{ asset('/images/defaults/media-icon.png' | imagine_filter('maci_page_thumb')) }}" alt="{{ post.title }}"/>
	{% endif %}
</td>
<td class="item-content">
	<a class="item-link" href="{{ path('maci_blog_show', { 'path': post.path, '_locale': post.locale }) }}">
		<span class="item-title">{{ post.title }}</span>
	</a>
</td>
</tr>
