
<div class="item-wrapper">

	<input name="id" type="hidden" value="{{ item.id }}" />

	{% if item.media %}

	<a class="item-preview" href="{{ path('maci_media_get', {'path': item.media.path}) }}" data-lightbox="product-preview" data-title="{{ item }}">
		{% include "MaciPageBundle:Media:_media_preview.html.twig" with { 'item': item.media } %}
	</a>

	{% endif %}

	{% if item.name|length %}
	<h4 class="item-title">{{ item.name }}</h4>
	{% endif %}

	{% if item.description|length %}
	<p class="item-description">{{ item.description }}</p>
	{% endif %}

</div>
