
<div class="col-xs-6 col-sm-4 col-md-3{% if is_granted("ROLE_ADMIN") %} sortable{% endif %}">
<div class="row image">

	<input name="id" type="hidden" value="{{ item.id }}" />

	{% if item.media %}

	<a class="media-preview" href="{{ path('maci_media_get', {'path': item.media.path}) }}" data-lightbox="product-preview" data-title="{{ item }}">
		{% include "MaciPageBundle:Media:_media_preview.html.twig" with { 'item': item.media } %}
	</a>

	{% endif %}

	{#}<h4>{{ item }}</h4>
	<p>{{ item.description }}</p>{#}

</div>
</div>
