
<nav class="navbar">
	<ul class="post-dates-nav nav navbar-nav">

		{% if post.pubblished is not null %}
		<li>
			<span class="navbar-text">{{ 'blog.post.published' | matra('Published') }}: {{ post.pubblished|date('d/m/Y') }}</span>
		</li>
		{% else %}
		<li>
			<span class="navbar-text">{{ 'blog.post.created' | matra('Created') }}: {{ post.created|date('d/m/Y') }}</span>
		</li>
		{% endif %}

		{% if post.pubblished is not null and post.pubblished != post.updated or post.created != post.updated %}
		<li>
			<span class="navbar-text">{{ 'blog.post.last_update' | matra('Last Update') }}: {{ post.updated|date('d/m/Y') }}</span>
		</li>
		{% endif %}

	</ul>
</nav>
