
<nav class="post-permalink-nav navbar navbar-expand">
<ul class="navbar-nav flex-column mr-auto">

{% set post_link = url('maci_blog_show', {'path': post.path, '_locale': post.locale}) %}
<li class="nav-item permalink-item">
<span class="post-permalink post-nav-label navbar-text">{{ 'post.nav.url'|matra('Url') }}:</span>
<button class="btn copyToClipboard" alt="{{ 'copied'|matra('Copied') }}!">{{ 'copy'|matra('Copy') }}</button>
<div class="post-permalink-wrapper">
	<pre class="post-permalink post-nav-val">{{ post_link }}</pre>
</div>
</li>

{% if post.link is not null %}
{% set post_shortlink = url('maci_blog_post_shortlink', {'link': post.link}) %}
<li class="nav-item permalink-item">
<span class="post-permalink post-nav-label navbar-text">{{ 'post.nav.shortlink'|matra('Shortlink') }}:</span>
<button class="btn copyToClipboard" alt="{{ 'copied'|matra('Copied') }}!">{{ 'copy'|matra('Copy') }}</button>
<div class="post-permalink-wrapper">
	<pre class="post-permalink post-nav-val">{{ post_shortlink }}</pre>
</div>
</li>
{% endif %}

{% if post.permalink is not null %}
<li class="nav-item permalink-item">
<span class="post-permalink post-nav-label navbar-text">{{ 'post.nav.permalink'|matra('Permalink') }}:</span>
<button class="btn copyToClipboard" alt="{{ 'copied'|matra('Copied') }}!">{{ 'copy'|matra('Copy') }}</button>
<div class="post-permalink-wrapper">
	<pre class="post-permalink post-nav-val">{{ post.permalink }}</pre>
</div>
</li>
{% endif %}

</ul>
</nav>