
<nav class="post-collapsed-nav navbar navbar-expand-md flex-column">
	<ul class="navbar-nav mr-auto">

		<li class="nav-item first">
			<p class="post-date post-nav-val navbar-text px-2">
				{% include "@MaciPage/Blog/_date_compact.html.twig" %}
			</p>
		</li>

		{% if post.editors|length %}
		<li class="nav-item first">
			{% if post.authors|length == 1 %}
			<a class="post-author nav-author-single post-nav-val nav-link px-2" href="{{ path('maci_blog_author', { 'path': post.author.path, '_locale': post.author.locale }) }}">
				<i class="fas fa-user-alt"></i>
				{{ post.author.name }}
			</a>
			{% else %}
			<p class="navbar-text post-nav-val px-2">
				<i class="fas fa-users"></i>
				{% for editor in post.authors %}
				<a class="post-author post-nav-val nav-author-item" href="{{ path('maci_blog_author', { 'path': editor.path, '_locale': editor.locale }) }}">{{ editor.name }}</a>{% if not loop.last %}<span class="nav-author-separator">,</span>{% endif %}
				{% endfor %}
			</p>
			{% endif %}
		</li>
		{% else %}
		<li class="nav-item">
			<p class="post-author post-nav-val navbar-text px-2">
				<i class="fas fa-user-alt"></i>
				{{ company_title }}
			</p>
		</li>
		{% endif %}

		{% for tag in post.tags %}
		<li class="nav-item{% if loop.last %} last{% endif %}">
			<a class="nav-link post-tag post-nav-val px-2" href="{{ path('maci_blog_tag', { 'path': tag.path }) }}">
				<i class="fas fa-hashtag"></i>{{ tag }}
			</a>
		</li>
		{% endfor %}

	</ul>
</nav>
