
<nav class="post-dates-nav navbar navbar-expand flex-column">
	<ul class="navbar-nav mr-auto">

		{% if post.isPubblished and post.pubblished %}
		<li class="nav-item">
			<p class="navbar-text">{{ 'blog.post.published' | matra('Published') }}:
				<span>{{ post.pubblished|date('d/m/Y') }}</span>
			</p>
		</li>
		{% elseif post.created %}
		<li class="nav-item">
			<p class="navbar-text">{{ 'blog.post.created' | matra('Created') }}:
				<span>{{ post.created|date('d/m/Y') }}</span>
			</p>
		</li>
		{% endif %}

		{% if post.isUpdated %}
		<li class="nav-item">
			<p class="navbar-text">{{ 'blog.post.last_update' | matra('Last Update') }}:
				<span>{{ post.updated|date('d/m/Y') }}</span>
			</p>
		</li>
		{% endif %}

	</ul>
</nav>
