
<div class="media-item">


	{% set post_link = path('maci_blog_show', { 'path': post.path, '_locale': post.locale }) %}


	<div class="media-preview">
	<a href="{{ post_link }}" alt="{{ item.title }}">
	{% if item.preview %}
		{% include "@MaciPage/Media/_media_preview.html.twig" with { 'item': item.preview } %}
	{% else %}
		{% include "@MaciPage/Media/_media_preview.html.twig" with { 'item': item, 'src': asset('/images/defaults/media-icon.png') } %}
	{% endif %}
	</a>
	</div>


	{% if item.title %}
	<a class="media-title" href="{{ post_link }}" alt="{{ item.title }}">
		{{ item.title }}
	</a>
	{% endif %}


	{% if item.tags|length %}

	<div class="media-tags">
	<nav class="navbar-nav">
	<ul>

	{% for tag in item.tags %}

		<li>
			<a class="media-tag" href="{{ path('maci_blog_tag', { 'path': tag.path, '_locale': tag.locale }) }}" alt="{{ tag }}">
				{{ tag }}
			</a>
		</li>

	{% endfor %}

	</ul>
	</nav>
	</div>

	{% endif %}


</div>
