
<article class="blog-post blog-post-preview-item clearfix">
<div class="blog-post-wrapper">

{% set post_link = path('maci_blog_show', { 'path': post.path, '_locale': post.locale }) %}

<aside class="col-xs-12 col-sm-3">

	{% if post.preview %}
	<div class="post-preview-wrapper">
		<img class="post-preview img-responsive" src="{{ asset(post.preview.webPath | imagine_filter('maci_media_preview')) }}" alt="{{ post.preview }} - {{ post.preview.description|striptags }}">
	</div>
	{% endif %}

</aside>

<section class="col-xs-12 col-sm-9">

	<a href="{{ post_link }}">
		<h1 class="post-title">{{ post.title }}</h1>
	</a>

	{% if post.subtitle %}
	<h2 class="post-subtitle">{{ post.subtitle }}</h2>
	{% endif %}

</section>

<header class="blog-post-header row">
</header>


<section class="blog-post-content row">

	{% if post.header %}

	<div class="post-header">{{ post.header|raw }}</div>

	{% endif %}

</section>


<section class="blog-post-read-more row">
	<a class="btn btn-primary" href="{{ post_link }}">
		{{ 'blog.list.read-more' | matra('Read More...') }}
	</a>
</section>


<footer class="blog-post-footer row">

{% include "@MaciPage/Blog/_post_author_nav.html.twig" %}

{% include "@MaciPage/Blog/_post_dates_nav.html.twig" with { 'post': post } %}

</footer>

</div>
</article>
