{% extends "@MaciPage/Layout/blog.html.twig" %}

{% block maciadmin %}
{{ render(controller('MaciAdminBundle:View:adminBar', { 'entity': 'author', 'item': author } )) }}
{% endblock %}

{% block title %}
{{ author.name }}
{% endblock %}

{% block description %}
<meta name="description" content="{{ author.description }}" />
{% endblock %}

{% block pathBar %}
<nav class="breadcrumb-wrapper" aria-label="breadcrumb">
<ol class="breadcrumb">
    <li class="breadcrumb-item">
    	<a href="{{ path('maci_blog') }}">
    		{{ 'page.blog'|matla('Blog') }}
    	</a>
    </li>
    <li class="breadcrumb-item">
    	{{ 'blog.author'|matla('Author') }}
    </li>
    <li class="breadcrumb-item active">
    	{{ author }}
    </li>
</ol>
</nav>
{% endblock %}

{% block content %}

<section class="related-list author">
<h3 class="list-title related">{{ 'blog.author'|matra('Author') }}:</h3>
<div class="related-posts">
<table class="table-list">
<tbody>

{% include "@MaciPage/Blog/_author.html.twig" %}

</tbody>
</table>
</div>
</section>

<section class="related-list index">
<h3 class="list-title related">{{ 'blog.index'|matra('Index') }}:</h3>

{% include "@MaciPage/Blog/_list_compact.html.twig" %}

</section>

{% endblock %}
