
{% extends "@MaciPage/Layout/blog.html.twig" %}


{% block maciadmin %}

{{ render(controller('MaciAdminBundle:View:adminBar', { 'entity': 'blog_post' } )) }}

{{ render(controller('MaciAdminBundle:View:adminBar', { 'entity': 'blog_tag' } )) }}

{% endblock %}


{% block title %}

{{ 'blog.index.meta_title' | matra('Blog') }}

{% endblock %}

{% block description %}

<meta name="description" content="{{ 'blog.index.meta_description' | matra('Read the news!') }}" />

{% endblock %}


{% block pathBar %}
<nav class="breadcrumb-wrapper">
<ol class="breadcrumb">

    <li>
    	<a href="{{ path('maci_blog') }}">
    		{{ 'page.blog' | matme('Blog') }}
    	</a>
    </li>

    <li class="active">
    	{{ 'blog.index.last_posts' | matra('Last Posts') }}
    </li>

</ol>
</nav>
{% endblock %}


{% block content %}

{% include "@MaciPage/Blog/_list.html.twig" with { 'list': list } %}

{% endblock %}
