
{% extends "@MaciPage/Layout/blog.html.twig" %}


{% block metaData %}

<meta property="og:title" content="{{ post.title }}" />
<meta property="og:site_name" content="{{ url('homepage') }}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ url('maci_blog_show', { 'path': post.path, '_locale': post.locale }) }}" />
<meta property="og:locale" content="{{ post.locale }}" />

{% if post.preview %}
<meta property="og:image" content="{{ asset(post.webPreview | imagine_filter('maci_media_preview')) }}" />
{% endif %}

{% if post.header %}
<meta property="og:description" content="{{ post.header|striptags }}" />
{% endif %}

{% if post.author %}
<meta property="og:article:author" content="{{ post.author }}" />
{% endif %}

{% if post.isPubblished %}
<meta property="og:article:pubblished_time" content="{{ post.pubblished|date('c') }}" />
{% endif %}

{% if post.isUpdated %}
<meta property="og:article:modified_time" content="{{ post.pubblished|date('c') }}" />
{% endif %}

{% endblock metaData %}

{% block title %}

{% if post.metaTitle %}
{{ post.metaTitle }}
{% else %}
{{ post.title }} - {{ parent() }}
{% endif %}

{% endblock title %}

{% block description %}

{% if post.metaDescription %}
<meta name="description" content="{{ post.metaDescription }}" />
{% else %}
<meta name="description" content="{{ post.header|striptags }}" />
{% endif %}

{% endblock description %}


{% block pathBar %}
<nav class="breadcrumb-wrapper">
<ol class="breadcrumb">

    <li>
    	<a href="{{ path('maci_blog') }}">
    		{{ 'page.blog' | matme('Blog') }}
    	</a>
    </li>

    <li>
    	{{ 'blog.post' | matme('Post') }}
    </li>

    <li class="active">
    	{{ post }}
    </li>

</ol>
</nav>
{% endblock pathBar %}


{% block content %}

{% include "@MaciPage/Blog/_article.html.twig" with { 'post': post } %}

{% endblock content %}
