
{% extends "@MaciPage/Layout/blog.html.twig" %}


{% block maciadmin %}

{{ render(controller('MaciAdminBundle:View:adminBar', { 'entity': 'blog_tag', 'item': tag } )) }}

{% endblock %}


{% block title %}

{{ tag.name }}

{% endblock %}

{% block description %}

<meta name="description" content="{{ tag.description }}" />

{% endblock %}


{% block pathBar %}
<nav class="breadcrumb-wrapper {{ col_class }}">
<ol class="breadcrumb">

    <li>
    	<a href="{{ path('maci_blog') }}">
    		{{ 'page.blog' | matme('Blog') }}
    	</a>
    </li>

    <li>
    	Tag
    </li>

    <li class="active">
    	{{ tag }}
    </li>

</ol>
</nav>
{% endblock %}


{% block content %}

{% include "@MaciPage/Blog/_list.html.twig" with { 'list': tag.posts } %}

{% endblock %}
