<div class="page row">

{% if page %}
{% include "@MaciPage/Page/_page_header.html.twig" with { 'page': page } %}
{% endif %}

<section class="page_terms page_container container-fluid">

<h3>1. PURPOSE</h3>

<p>1.1. These General Conditions of Online Sales (hereinafter "GCS") regulate the contract (hereinafter "CONTRACT") for the sale of clothing products and accessories by {{ company_title|upper }} products (hereinafter "PRODUCTS") offered by {{ company_name }} - with headquarters in {{ company_address }} – {{ company_cccs }}, phone {{ company_phone }}, email {{ contact_email }}, VAT {{ company_vat }} (hereinafter "TEDDY") – through its website {{ app.request.host }} (hereinafter "SITE") to users of the SITE (hereinafter "CUSTOMER" or "CUSTOMERS").</p>

<p>1.2. On the SITE, in the &ldquo;Customer Service&rdquo; section important information is provided, useful for aware and informed CUSTOMER purchasing.</p>

<p>1.3. In these GCS, by the term CUSTOMER o CUSTOMERS is meant the &quot;consumer&quot; or the &quot;consumers&quot; pursuant to article 3, sub-sect. 1, lett. a), of Law Decree no. 206 dated 6 September 2005 (hereinafter &quot;CODE&quot;), i.e., the individual acting for purposes outside any performed business or professional activity.</p>

<h3>2. EFFECTIVENESS AND CHANGES TO THE GCS</h3>

<p>2.1. The GCS are available on the SITE to be easily read by the CUSTOMER before registration and before PRODUCT purchase; they shall be deemed accepted together with the registration and sending of the order form, and can be stored in the CUSTOMER&rsquo;s computer and reproduced on paper medium by printing the file in which they are contained.<br />
2.2. The GCS applicable to PRODUCT sale are those published on the SITE, on the date of the relative PRODUCT order. The CUSTOMER shall therefore read the GCS every time he/she intends making a purchase on the SITE.</p>

<p>2.3. The mere tolerance or failure on the part of {{ company_title|upper }} to dispute any CUSTOMER defaults with respect to the GCS shall not be interpreted as a tacit acceptance of such defaults, nor as any intention to make exceptions to whatever agreed between the parties.</p>

<h3>3. REGISTRATION AND PURCHASE PROCEDURE</h3>

<p>3.1. The CUSTOMER who intends purchasing PRODUCTS shall indicate such intention by registering his/her data and making a request directly on the SITE where, following the purchase procedure indicated on the SITE, he/she shall send his/her electronic purchase order by computer (hereinafter &ldquo;ORDER&rdquo;) together with payment.<br />
3.2. The order form contains a reference to the GCS and a summary of the information on the essential characteristics of each ordered product and the relative price (including all applicable taxes and duties), the chosen means of payment, the delivery procedures relating to the purchased products, the shipment and delivery costs: before sending the ORDER, the CUSTOMER must carefully read all its contents and identify and correct any errors relating to the entered data.</p>

<p>3.3. The CUSTOMER shall be entitled to access his/her order form, making reference to the &quot;MY ORDERS&rdquo; section inside &ldquo;MY ACCOUNT&rdquo; and, if he/she so wishes, to cancel the ORDER or change the ORDER, by increasing, reducing the quantity of previously ordered PRODUCTS, or simply change, add new articles to or replace the PRODUCTS themselves; he/she must send a email message to the address {{ contact_email }} as long as the relative shipment has not already been confirmed by {{ company_title|upper }} by means of a shipment confirmation email (hereinafter &ldquo;SHIPMENT CONFIRMATION&rdquo;) as indicated in article 3.5 below.</p>

<p>3.4. Once the ORDER has been received, {{ company_title|upper }} will send the CUSTOMER an order confirmation email (hereinafter &ldquo;ORDER CONFIRMATION&rdquo;), containing a summary of the contents of the information relating to the sale, and will proceed to execute the ORDER, without prejudice to the provisions of article 3.6 below.<br />
3.5. All PRODUCT purchase orders are subject to the availability of same and, therefore, to {{ company_title|upper }} confirmation; {{ company_title|upper }} shall notify such availability by sending the CUSTOMER a SHIPMENT CONFIRMATION email.</p>

<p>3.6. In case of failure to execute the ORDER, due to the non-availability of one of the ordered PRODUCTS, {{ company_title|upper }} shall notify the CUSTOMER by email and shall ask the CUSTOMER to confirm the ORDER for the purchase of the remaining available PRODUCTS. In any case, the non-availability of one or more ordered PRODUCTS shall not automatically give the CUSTOMER the right to cancel the entire ORDER.<br />
3.7. The CONTRACT between the CUSTOMER and {{ company_title|upper }} is regulated by the ORDER, by the SHIPMENT CONFIRMATION as well as by the GCS and Privacy Policy (hereinafter &ldquo;PRIVACY&rdquo;) both of which published on the SITE.</p>

<h3>4. PASQUAL DANIELA RIGHTS AND OBLIGATIONS</h3>

<p>4.1. {{ company_title|upper }} undertakes to deliver the PRODUCTS to the address and according to the terms indicated by the CUSTOMER in the ORDER. {{ company_title|upper }} disclaims all liability for delivery errors due to inexact or incomplete ORDER compilation or due to the non-availability of the CUSTOMER. Delivery cannot be made to post office boxes. 4.2. In case of total or partial return of the PRODUCTS as a result of the right of withdrawal or warranty required by law, {{ company_title|upper }}, in compliance with the provisions of articles 9 and 10 below, will only refund the amounts owing, neither exchanges nor replacements being contemplated.</p>

<h3>5. CUSTOMER&rsquo;S RIGHTS AND OBLIGATIONS</h3>

<p>5.1. The CUSTOMER is the only party responsible for the truthfulness of the data and the correctness of the information provided to {{ company_title|upper }} during registration through the SITE and undertakes to promptly notify any amendments to the entered data.</p>

<p>5.2. During registration and ORDER sending, the CUSTOMER states having read, understood and accepted the GCS and the further information contained in the SITE, in particular in the &ldquo;Customer Service&rdquo; section, including the PRIVACY and that he/she is over-age and in possession of all legal capacities to act.<br />
5.3. Once the purchasing procedure on the SITE has completed, the CUSTOMER undertakes to save an electronic copy of the ORDER and the GCS and to print a copy of these, and to file these away as indicated in article 2.1 above.</p>

<h3>6. USING THE SITE</h3>

<p>6.1. The essential characteristics of the PRODUCTS are presented on the SITE inside each of the product sheets. The images and colours of the products offered for sale on the SITE may not correspond perfectly to real images and colours due to variations in computer screens. {{ company_title|upper }} cannot therefore guarantee that the colour displayed on the CUSTOMER&rsquo;s monitor corresponds perfectly to the real colour of the PRODUCTS.</p>

<p>6.2. {{ company_title|upper }} disclaims all liability as regards problems caused to the CUSTOMER by the use of the SITE and the technologies employed as these are beyond its control; by way of example, such problems could include: a) errors, delays or the impossibility of accessing the SITE by the CUSTOMER at the time of execution of the sales procedure; b) errors, delays or the impossibility to receive, on the part of the CUSTOMER, the notices sent by {{ company_title|upper }} in relation to the sale of the PRODUCTS.</p>

<p>6.3. In any case, through its Customer Service, {{ company_title|upper }} undertakes to do everything in its power to solve any problems that might occur and to provide the assistance needed by the CUSTOMER to reach a quick and satisfactory solution to the above problems.</p>

<h3>7. PRICES AND PAYMENTS</h3>

<p>7.1. The prices of the PRODUCTS are those actually displayed on the SITE at the time the ORDER is issued and, unless otherwise specified, shall be deemed inclusive of VAT. To the prices shown on the SITE, for each of the PRODUCTS, must be added their shipment and delivery costs, which will be duly shown and summarized before the ORDER is issued and subsequently also on the ORDER CONFIRMATION.</p>

<p>7.2. The total purchase prices of the PRODUCTS and the shipment and delivery costs, as indicated on the ORDER, will only be charged to the CUSTOMER when the PRODUCTS are shipped, after sending a SHIPMENT CONFIRMATION.<br />
7.3.Payment can be made by credit card, Paypal.</p>

<p>7.4 In case of credit card or Pay Pal payments, {{ company_title|upper }} shall be entitled to contact the CUSTOMER for more payment details before ORDER shipment.</p>

<h3>8. DELIVERY OF PRODUCTS TO CUSTOMER</h3>

<p>8.1. When the PRODUCTS are delivered to the CUSTOMER by the courier, the CUSTOMER must check: a) that the quantity and type of ordered PRODUCTS corresponds to whatever indicated on the transport document; b) that the packaging used for transport is integral, not damaged, wet or altered in any way, including as regards the sole wrapping material.</p>

<p>8.2. Any faults must be immediately disputed with the courier upon receipt of the PRODUCTS, and indicated on the delivery note. In order to facilitate and speed up any fault checking procedure by {{ company_title|upper }}, the CUSTOMER can send an email message to the address {{ contact_email }}</p>

<h3>9. RIGHT OF WITHDRAWAL</h3>

<p>9.1. The CUSTOMER shall be entitled to withdraw from the contract entered into with {{ company_title|upper }}, without having to pay any penalty and without having to specify the reason, within 14 (fourteen) workdays from the date of delivery of the PRODUCTS, as long as the product return procedure is complied with as indicated in this article (hereinafter &ldquo;RETURNED PRODUCTS&rdquo;) and the products are integral, have not been worn, are complete with their packaging, original labels and tags as better regulated in article 11 below. The returned product cannot however be replaced with another.</p>

<p>9.2. In case of the right of withdrawal being exercised, including partially, the only costs to be charged to the CUSTOMER shall be those borne to return the RETURNED PRODUCTS which shall be paid all in one sum.</p>

<p>9.3. Shipment shall be made from the country where the order was placed and shall be addressed to: {{ company_name }} - with headquarters in {{ company_address }} – {{ company_cccs }}. {{ company_title|upper }} address is in any case shown on the label of the returned product contained in the email authorizing the return of the product/s as indicated in article 9.3. number 2) below.</p>

<p>9.4. The Right of withdrawal shall furthermore be deemed correctly exercised if the CUSTOMER fulfils the following obligations:</p>

<p>1) sends, within 14 (fourteen) workdays from delivery of the PRODUCTS, a notifying email to the address {{ contact_email }} specifying in the email message the order number, the product numeric code or that of the RETURNED PRODUCTS, the quantities and the reason for returning the product/s;</p>

<p>2) prepares the pack using the original packaging or, in the event of this not being possible, in packaging of the same dimensions and strength, carefully closed using scotch tape; prints the returned product label contained in the returned product authorization email, received from {{ company_title|upper }}, and attaches this to the box so as to cover the details of the first shipment;</p>

<p>3) at this point, the CUSTOMER can, alternatively:</p>

<p>a) call the courier indicated by {{ company_title|upper }} in the returned product authorization email, to book pack collection and come to an agreement on the date, time, and place of collection of the returned product/s. In this case, the CUSTOMER will not have to personally make payment of the costs of return shipment of the RETURNED PRODUCTS, in any case to its charge, which will be made on its behalf, directly by {{ company_title|upper }}. {{ company_title|upper }} will in fact withhold a sum from the refund due to the CUSTOMER, equal to the cost previously paid by the CUSTOMER itself for the shipment and the delivery of the purchased products. In this case, {{ company_title|upper }} shall be liable in case of any loss or damage to the RETURNED PRODUCTS during transport.</p>

<p>Or<br />
b) choose a courier other than that used by {{ company_title|upper }} and send {{ company_title|upper }} the RETURNED PRODUCTS, within 14 (fourteen) workdays at the latest from the receipt of the email authorizing the return of the product/s. The CUSTOMER shall personally pay the costs, to its charge, of returning the RETURNED PRODUCTS. {{ company_title|upper }} will then also refund to the CUSTOMER the cost previously paid for the shipment and delivery of the purchased products. In this case, the CUSTOMER shall be liable in case of loss or damage to the RETURNED PRODUCTS during transport.</p>

<p>9.5. If the right of withdrawal is exercised following the procedures and terms indicated in this article, {{ company_title|upper }} shall refund to the CUSTOMER any amounts already collected for the purchase of the RETURNED PRODUCTS according to the indicated procedures and terms and in any case, within 30 (thirty) days from the date of receipt of the RETURNED PRODUCTS by {{ company_title|upper }}.</p>

<p>9.6. In the event of failure to comply with the procedures and terms for exercising the right of withdrawal, as specified in this article, the CUSTOMER shall not be entitled to the refund of the amounts already paid to {{ company_title|upper }}. Nevertheless, it shall be able to re-obtain, at its expense, the RETURNED PRODUCTS in the conditions in which they were returned to {{ company_title|upper }}. Otherwise, {{ company_title|upper }} shall be entitled to withhold the RETURNED PRODUCTS, as well as the amounts already paid for their purchase.</p>

<h3>10. RETURN OF PRODUCTS DUE TO FAULTS AND DEFORMITIES</h3>

<p>10.1. Before dispatching the PRODUCTS to the CUSTOMER, {{ company_title|upper }} ensures these have undergone careful quality control and inspection for faults.<br />
10.2. In any case, in relation to the PRODUCTS purchased by the CUSTOMER, {{ company_title|upper }} shall provide the legal conformity warranty to the terms and conditions required by law. In particular, the rights deriving from such warranty may be exercised as long as the PRODUCTS have been used correctly, with due diligence and according to intended use and the provisions of the attached indications and returned in conformity with whatever regulated in this article and in the following article 11.</p>

<p>10.3. In cases of faulty products or deformities with respect to the ordered products (hereinafter &ldquo;FAULTY PRODUCTS&rdquo;), the CUSTOMER, without any exception, must:<br />
1) first of all send an email message to {{ company_title|upper }}, to the address {{ contact_email }} specifying in the email the order number, the numeric code of the product/s to be returned, the quantities and the reason for returning the product/s;<br />
2) prepare the pack using the original packaging or, in the event of this not being possible, in packaging of the same dimensions and strength, carefully closed using scotch tape; print the returned product label contained in the returned product authorization email, received from {{ company_title|upper }}, and attach this to the box so as to cover the details of the first shipment;
3) call the courier indicated at the nearest branch to book the collection of the pack and come to an agreement on the date, time and place of collection. The FAULTY PRODUCTS shall be sent to {{ company_title|upper }} within 14 (fourteen) workdays at the latest from the receipt of the email authorizing the return of the product/s.<br />
10.4. If the FAULTY PRODUCTS are returned in accordance with the terms and conditions indicated in this article, {{ company_title|upper }} will refund to the CUSTOMER by means of bank transfer, within 30 (thirty) days from receipt of the FAULTY PRODUCTS, the costs paid by the CUSTOMER for the purchase of the products themselves and the relative shipping and delivery costs.</p>

<h3>11. PRODUCT INTEGRITY</h3>

<p>All the PRODUCTS bear an identification tag, internal labels and their own packaging. In case of the CUSTOMER exercising the right of withdrawal, {{ company_title|upper }} shall be entitled not to accept the return of the RETURNED PRODUCTS which have been used, worn, washed, damaged or altered in their essential and quality characteristics and/or which are without the relative tag, internal labels, and any other material forming part of the original packaging.</p>

<p>In case of the return of FAULTY PRODUCTS, {{ company_title|upper }} shall not consider products damaged by wear or tearing to be faulty products.</p>

<h3>12. PROTECTION OF PERSONAL DATA</h3>

<p>12.1. {{ company_title|upper }} guarantees to the CUSTOMER that the personal data acquired in relation to the sale of the PRODUCTS shall always be processed in a lawful and correct way, in full compliance with the provisions of Law Decree no. 196 dated 30 June, 2003 (hereinafter &ldquo;DECREE&rdquo;) in compliance with whatever shown in the PRIVACY, published on the SITE and which can be printed.</p>

<p>12.2. For all details relating to the processing of personal data, reference should be made to the information note on data processing given to the CUSTOMER by {{ company_title|upper }} at the time of SITE registration, pursuant to article 13 of the DECREE. Should the CUSTOMER require further details relating to the processing of personal data (article 7 of the DECREE) he/she can contact {{ company_title|upper }} at the following address {{ contact_email }}</p>

<h3>13. NOTICES</h3>

<p>For assistance or claims relating to the purchased PRODUCTS, the CUSTOMER can contact {{ company_title|upper }} at the following email address: {{ contact_email }}.</p>

<h3>14. APPLICABLE LAW AND PLACE OF JURISDICTION</h3>

<p>14.1. The GCS are regulated by Italian law and in particular by the CODE and by the legislative decree no. 70 dated 9 April 2003 relating to particular e-commerce aspects.<br />
14.2. For any disputes arising relating to the validity, construal, execution and cancellation of these GCS and/or individual purchase orders, the only competent law court, without competition, shall be that of Rimini (Italy) with express and total reciprocal waiver of any other law court.</p>

</section>

{% if page %}

{% include "@MaciPage/Page/_page_content.html.twig" with { 'page': page } %}

{% include "@MaciPage/Page/_page_media.html.twig" with { 'page': page } %}

{% include "@MaciPage/Page/_page_footer.html.twig" with { 'page': page } %}

{% endif %}

</div>
