<section class="page_terms page_container">

<h2 class="pc-title">Condizioni Generali di Vendita</h2>

<h3 class="pc-subtitle">1. OGGETTO</h3>

<p class="pc-p">1.1. Le presenti Condizioni Generali di Vendita online (CGV) disciplinano il contratto (di seguito &quot;CONTRATTO&quot;) per la vendita dei prodotti di abbigliamento ed accessori proposti nel sito &ldquo; {{ app.request.host }} &ldquo; e venduti da - {{ company_name }} - {{ company_address }} – {{ company_cccs }}, telefono e fax {{ company_phone }}, email {{ contact_email }}, partita iva {{ company_vat }} (di seguito identificato come {{ company_title|upper }})</p>

<p class="pc-p">1.2. Sul SITO, nella sezione <a href="/it/spedizione" target="_blank">&ldquo;Supporto&rdquo;</a> sono riportate importanti informazioni, utili per un acquisto consapevole e informato del CLIENTE.</p>

<p class="pc-p">1.3. Nelle presenti CGV con il termine CLIENTE o CLIENTI si intende il &quot;consumatore&quot; o i &quot;consumatori&quot; come ai sensi dell&#39;articolo 3, co. 1, lett. a), del D.Lgs. 6 settembre 2005, n. 206 (di seguito &quot;CODICE&quot;), ossia la persona fisica che agisce per scopi estranei all&#39;attività imprenditoriale o professionale eventualmente svolta.</p>

<h3 class="pc-subtitle">2. EFFICACIA E MODIFICA DELLE CGV</h3>

<p class="pc-p">2.1. Le CGV sono disponibili sul SITO per essere agevolmente lette dal CLIENTE prima della registrazione e prima di effettuare l&#39;acquisto dei PRODOTTI; si intendono accettate unitamente alla registrazione e all&#39;inoltro del modulo d&#39;ordine d&#39;acquisto{#}, e possono essere memorizzate sul computer del CLIENTE e riproducibili su supporto cartaceo tramite stampa del file in cui sono contenute.{#}</p>

<p class="pc-p">2.2. Le CGV applicabili alla vendita dei PRODOTTI sono quelle pubblicate sul SITO, alla data dell&#39;ordine relativo ai PRODOTTI. Il CLIENTE, pertanto, dovrà prendere visione delle CGV, ogni volta che intenda procedere ad un acquisto sul SITO.</p>

<p class="pc-p">2.3. La mera tolleranza o la mancata contestazione da parte di {{ company_title|upper }} di eventuali inadempimenti del CLIENTE rispetto a quanto contenuto nelle CGV non potrà essere interpretata come tacita accettazione di tali inadempimenti, né come volontà di derogare a quanto convenuto tra le parti.</p>

<h3 class="pc-subtitle">3. REGISTRAZIONE E PROCEDURA DI ACQUISTO</h3>

<p class="pc-p">3.1. Il CLIENTE che intenda procedere all&#39;acquisto dei PRODOTTI deve manifestare tale volontà attraverso la registrazione dei propri dati e una richiesta effettuata direttamente sul SITO ove, seguendo la procedura di acquisto ivi indicata, effettuerà l&#39;inoltro, per via telematica, del proprio ordine elettronico d&#39;acquisto (di seguito &ldquo;ORDINE&rdquo;) e il relativo pagamento, salvo quanto specificamente regolato nell&rsquo;articolo 7.4. 
<p class="pc-p">3.2. Nel modulo d&#39;ordine è contenuto un rinvio alle CGV e un riepilogo delle informazioni sulle caratteristiche essenziali di ciascun prodotto ordinato ed il relativo prezzo (comprensivo di tutte le tasse e imposte applicabili), del mezzo di pagamento prescelto, delle modalità consegna dei prodotti acquistati, dei costi di spedizione e di consegna: il CLIENTE prima di inviare l&rsquo;ORDINE dovrà leggerne attentamente l&#39;intero contenuto, individuare e correggere eventuali errori di inserimento dei dati.<p/>

<p class="pc-p">3.3. Il CLIENTE potrà accedere al suo modulo d&#39;ordine, consultando la pagina &quot;ORDINI&rdquo; all&rsquo;interno della sezione &quot;ACCOUNT&rdquo;, e nel caso in cui volesse procedere alla cancellazione dell&rsquo;ORDINE o alla modifica dell&#39;ORDINE aumentando, diminuendo le quantità dei PRODOTTI precedentemente ordinati, oppure semplicemente modificando, inserendo nuovi articoli in aggiunta o in sostituzione dei PRODOTTI medesimi, dovrà necessariamente inviare una e-mail all&rsquo;indirizzo {{ contact_email }} purché la relativa spedizione non sia stata già confermata da {{ company_title|upper }} con e-mail di conferma spedizione (di seguito &ldquo;CONFERMA SPEDIZIONE&rdquo;) di cui al successivo articolo 3.5.</p>

<p class="pc-p">3.4. Una volta ricevuto l&#39;ORDINE, {{ company_title|upper }} trasmetterà al CLIENTE una e-mail di conferma dell&#39;ordine (di seguito &ldquo;CONFERMA D&#39;ORDINE&rdquo;), contenente un riepilogo del contenuto delle informazioni relative alla vendita, e procederà all&#39;evasione dell&#39;ORDINE, fatto salvo quanto previsto al successivo articolo 3.6.</p>

<p class="pc-p">3.5. Tutti gli ordini di acquisto dei PRODOTTI sono soggetti alla disponibilità degli stessi e, quindi, alla conferma di {{ company_title|upper }}, la quale comunicherà tale disponibilità inviando un&#39;e mail al CLIENTE di CONFERMA SPEDIZIONE.<p/>

<p class="pc-p">3.6. In caso di mancata esecuzione dell&#39;ORDINE, dovuta a indisponibilità di uno dei PRODOTTI ordinati, {{ company_title|upper }} informerà il CLIENTE via e-mail e chiederà la conferma dell&rsquo;ORDINE del CLIENTE, per l&#39;acquisto dei restanti PRODOTTI disponibili. In ogni caso l&#39;indisponibilità di uno o più dei PRODOTTI ordinati non attribuirà automaticamente al CLIENTE il diritto all&#39;annullamento della totalità dell&#39;ORDINE.</p>

<p class="pc-p">3.7. Il CONTRATTO tra il CLIENTE e {{ company_title|upper }} è regolato dall&#39;ORDINE e dalla CONFERMA SPEDIZIONE, oltre che dalle CGV e dalla Privacy Policy (di seguito &ldquo;PRIVACY&rdquo;), entrambe pubblicate sul SITO.</p>

<h3 class="pc-subtitle">4. DIRITTI E OBBLIGHI DI {{ company_title|upper }}</h3>

<p class="pc-p">4.1. {{ company_title|upper }}, si impegna a consegnare i PRODOTTI presso l&#39;indirizzo e nei termini, indicati dal CLIENTE nell&#39;ORDINE. {{ company_title|upper }} non sarà responsabile per errori di consegna dovuti a inesattezze o incompletezze nella compilazione dell&#39;ORDINE o per irreperibilità del CLIENTE stesso. La consegna non può essere effettuata a caselle postali.</p>

<p class="pc-p">4.2 In caso di restituzione, totale o parziale, dei PRODOTTI in forza del diritto di recesso o della garanzia dovuta per legge, {{ company_title|upper }}, conformemente a quanto predisposto ai successivi articoli 9 e 10, provvederà al solo rimborso delle somme dovute, non essendo previsti né cambi né sostituzioni.</p>

<h3 class="pc-subtitle">5. DIRITTI E OBBLIGHI DEL CLIENTE</h3>

<p class="pc-p">5.1. &nbsp;Il CLIENTE è l&#39;unico responsabile della veridicità dei dati e della correttezza delle informazioni fornite a {{ company_title|upper }} in fase di registrazione tramite il SITO e si impegna a comunicare tempestivamente eventuali variazioni dei dati inseriti.</p>

<p class="pc-p">5.2. &nbsp;Il CLIENTE, in fase di registrazione e di invio dell&#39;ORDINE, dichiara di aver letto, compreso e accettato le CGV e le ulteriori informazioni contenute nel SITO, in particolare nelle sezioni &ldquo;Supporto&rdquo; e &ldquo;Policy&rdquo;, compresa la PRIVACY; e di essere una persona maggiorenne, in possesso della capacità giuridica di agire.</p>

<p class="pc-p">5.3. &nbsp;Il CLIENTE si impegna, una volta terminata la procedura di acquisto sul SITO, a provvedere sia al salvataggio di una copia elettronica che alla stampa dell&rsquo;ORDINE e delle CGV ai fini della loro conservazione, come indicato al precedente articolo 2.1.</p>

<h3 class="pc-subtitle">6. UTILIZZO DEL SITO</h3>

<p class="pc-p">6.1. Le caratteristiche essenziali dei PRODOTTI sono presentate sul SITO all&#39;interno di ciascuna scheda prodotto. Le immagini ed i colori dei prodotti offerti in vendita sul SITO potrebbero non essere corrispondenti perfettamente a quelli reali, poiché gli schermi dei computer variano. Pertanto {{ company_title|upper }} non può garantire che il colore visualizzato sul monitor del CLIENTE sia perfettamente corrispondente al colore reale dei PRODOTTI.</p>

<p class="pc-p">6.2. {{ company_title|upper }} non assume alcuna responsabilità in merito ai problemi causati al CLIENTE dall&#39;utilizzo del SITO e delle tecnologie impiegate in quanto non dipendenti da propria volontà, quali, a titolo esemplificativo: a) errori, ritardi o impossibilità nell&#39;accesso al SITO da parte del CLIENTE in occasione dell&#39;esecuzione della procedura di vendita; b) errori, ritardi o impossibilità nella ricezione, da parte del CLIENTE, delle comunicazioni effettuate da {{ company_title|upper }} in relazione alla vendita dei PRODOTTI.</p>

<p class="pc-p">6.3. In ogni caso, {{ company_title|upper }} attraverso il proprio Servizio Clienti, si impegna, per quanto nella propria possibilità, a risolvere i problemi che possono verificarsi e ad offrire l&#39;assistenza necessaria al CLIENTE per ottenere una soluzione rapida e soddisfacente ai suddetti problemi.</p>

<h3 class="pc-subtitle">7. PREZZI E PAGAMENTI</h3>

<p class="pc-p">7.1. I prezzi dei PRODOTTI sono quelli effettivamente visualizzati sul SITO al momento dell&#39;emissione dell&rsquo;ORDINE e, se non diversamente specificato, si intendono comprensivi di I.V.A. Ai prezzi che figurano sul SITO, per ognuno dei PRODOTTI, dovranno essere aggiunte le spese di spedizione e consegna degli stessi, che saranno debitamente evidenziate e riepilogate prima dell&#39;emissione dell&#39;ORDINE e successivamente anche nella CONFERMA D&#39;ORDINE.</p>

<p class="pc-p">7.2. Il prezzo totale per l&#39;acquisto dei PRODOTTI e le spese di spedizione e consegna, come indicato nell&#39;ORDINE, nel caso di pagamento con PayPal, saranno addebitati al CLIENTE solo al momento della CONFERMA dell'ORDINE.</p>

<p class="pc-p">7.3.Il pagamento può essere effettuato tramite, PayPal o carte di credito, con Bonifico Bancario, oppure in Contrassegno. In caso di pagamenti con PayPal o carta di credito, {{ company_title|upper }} potrà contattare il CLIENTE per maggiori dettagli sul pagamento prima che l&rsquo;ORDINE venga spedito.</p>

<h3 class="pc-subtitle">8. CONSEGNA DEI PRODOTTI AL CLIENTE</h3>

<p class="pc-p">8.1. Al momento della consegna dei PRODOTTI al CLIENTE da parte del corriere incaricato del loro trasporto, il CLIENTE dovrà controllare: a) che la quantità e la tipologia dei PRODOTTI ordinati corrisponda a quanto indicato nel documento di trasporto; b) che l&#39;imballaggio utilizzato per il trasporto risulti integro, non danneggiato, bagnato o comunque alterato, anche solo nei materiali di chiusura. 8.2. Eventuali anomalie devono essere contestate immediatamente al corriere al momento del ricevimento dei PRODOTTI, mediante loro indicazione nella bolla di consegna. Il CLIENTE al fine di agevolare e velocizzare la procedura di controllo di eventuali anomalie da parte di {{ company_title|upper }}, potrà scrivere una e-mail all&rsquo;indirizzo email {{ contact_email }} .</p>

<p class="pc-p">8.3. Nel caso di pagamento con contrassegno, in contanti, di cui al precedente articolo 7.3., al momento della consegna il CLIENTE dovrà avere già a disposizione, in Euro, l&rsquo;esatto importo dell&rsquo;ORDINE, comprensivo anche delle spese di spedizione e del costo aggiuntivo previsto per la modalità di consegna prescelta, così come anche riepilogato nella CONFERMA D&#39;ORDINE. Il corriere non accetterà né assegni, né potrà dare resto. In caso di rimborso sarà comunque necessario che il CLIENTE possegga un conto corrente bancario o postale, o un conto PayPal.</p>

<h3 class="pc-subtitle">9. DIRITTO DI RECESSO</h3>

<p class="pc-p">9.1. Il CLIENTE, ha il diritto di recedere dal contratto concluso con {{ company_title|upper }}, senza alcuna penalità e senza specificarne il motivo, entro 14 (quattordici) giorni lavorativi dalla data di consegna dei PRODOTTI, a condizione che sia rispettata la procedura di reso di cui al presente articolo e che i prodotti da restituire (di seguito &ldquo;PRODOTTI RESI&rdquo;) siano integri, mai indossati, completi della propria confezione, dei cartellini e delle etichette originali come meglio regolato al successivo articolo 11. Non è invece possibile sostituire il prodotto da rendere con un altro.</p>

<p class="pc-p">9.2. In caso di esercizio del diritto di recesso, anche parziale, le uniche spese a carico del CLIENTE saranno quelle di restituzione dei PRODOTTI RESI che dovrà essere fatta in un&rsquo;unica soluzione.</p>

<p class="pc-p">9.3. La spedizione dovrà essere effettuata dal Paese da cui è stato effettuato l&rsquo;ordine ed indirizzata a: {{ company_title|upper }}. &ndash; {{ company_name }} - {{ company_address }} – {{ company_cccs }}.</p>

<p class="pc-p">9.4. Il Diritto di recesso, inoltre, si intende esercitato correttamente se il CLIENTE rispetterà i seguenti adempimenti:</p>

<p class="pc-p">1) inviare, entro 14 (quattordici) giorni lavorativi dalla consegna dei PRODOTTI, una e-mail di segnalazione all&#39;indirizzo {{ contact_email }} specificando nel testo dell&#39;e-mail il numero dell&rsquo;ordine, il codice numerico del prodotto o dei PRODOTTI RESI, le quantità e la motivazione della restituzione;</p>

<p class="pc-p">2) preparare il pacco utilizzando l&rsquo;imballo originale o, qualora ciò non fosse possibile, in confezione di equivalente dimensione e resistenza e chiudere accuratamente con dello scotch, stampare l&rsquo;etichetta del reso contenuta nella mail di autorizzazione al reso, che avrà ricevuto da {{ company_title|upper }}, e attaccarla sulla scatola in modo da coprire le informazioni della prima spedizione;</p>

<p class="pc-p">3) a questo punto il CLIENTE potrà{#}, alternativamente:</p>

<p class="pc-p">a) chiamare il corriere indicato da {{ company_title|upper }} nella email di autorizzazione al reso, per prenotare il ritiro del pacco e accordarsi sulla data, orario e luogo di ritiro del reso. In tal caso il CLIENTE non dovrà effettuare in prima persona il pagamento delle spese di restituzione dei PRODOTTI RESI, comunque a suo carico, che sarà invece effettuato per suo conto, direttamente da {{ company_title|upper }}. {{ company_title|upper }}, infatti, provvederà trattenendo dal rimborso dovuto al CLIENTE, una somma pari al costo in precedenza sostenuto dal CLIENTE medesimo per la spedizione e consegna dei prodotti acquistati. In tal caso sarà a carico di {{ company_title|upper }} qualsiasi responsabilità in caso di smarrimento o danneggiamento dei PRODOTTI RESI durante il trasporto.</p>

<p class="pc-p">Oppure b) scegliere un corriere diverso da quello utilizzato da {{ company_title|upper }} ed{#} inviare a {{ company_title|upper }} i PRODOTTI RESI, entro e non oltre 14 (quattordici) giorni lavorativi dal ricevimento dell&rsquo;e-mail di autorizzazione al reso. Il CLIENTE dovrà effettuare in prima persona il pagamento delle spese di restituzione, a suo carico, dei PRODOTTI RESI. {{ company_title|upper }}, quindi, rimborserà al CLIENTE anche il costo in precedenza sostenuto per la spedizione e consegna dei prodotti acquistati. In tal caso resterà a carico del CLIENTE qualsiasi responsabilità in caso di smarrimento o danneggiamento dei PRODOTTI RESI durante il trasporto.</p>

<p class="pc-p">9.5. Se il diritto di recesso è esercitato seguendo le modalità ed i termini indicati al presente articolo {{ company_title|upper }} provvederà a rimborsare al CLIENTE le eventuali somme già incassate per l&#39;acquisto dei PRODOTTI RESI secondo le modalità ed i termini previsti ed in ogni caso, entro 14 (quattordici) giorni dal giorno in cui {{ company_title|upper }} è informata della decisione del consumatore di recedere{#}. {{ company_title|upper }}, nel caso in cui il CLIENTE abbia scelto di inviare i PRODOTTI RESI attraverso l&rsquo;opzione di cui alla precedente lettera b), potrà trattenere il rimborso{#}, oopure finché non abbia ricevuto i PRODOTTI RESI oppure finché il CLIENTE non abbia dimostrato di averli rispediti, a seconda di quale situazione si verifichi per prima.</p>

<p class="pc-p">9.6. Qualora non siano rispettate le modalità ed i termini per l&#39;esercizio del diritto di recesso, come specificato nel presente articolo, il CLIENTE non avrà diritto al rimborso delle somme già corrisposte a {{ company_title|upper }}. Tuttavia potrà riottenere, a sue spese, i PRODOTTI RESI nello stato in cui sono stati restituiti a {{ company_title|upper }}. In caso contrario, {{ company_title|upper }} potrà trattenere i PRODOTTI RESI, oltre alle somme già pagate per il loro acquisto.</p>

<h3 class="pc-subtitle">10. RESTITUZIONE PER VIZI O DIFFORMITÀ DEI PRODOTTI</h3>

<p class="pc-p">10.1. {{ company_title|upper }} prima della spedizione al CLIENTE, sottopone tutti i PRODOTTI ad un accurato controllo sulla qualità e su eventuali difetti.</p>

<p class="pc-p">10.2. In ogni caso, {{ company_title|upper }} presterà, in relazione ai PRODOTTI acquistati dal CLIENTE, la garanzia legale di conformità alle condizioni e nei termini previsti dalla legge. In particolare, i diritti nascenti da tale garanzia potranno essere esercitati a condizione che i PRODOTTI siano stati utilizzati correttamente, con la dovuta diligenza e nel rispetto della destinazione d&#39;uso e di quanto previsto nelle indicazioni accluse e resi in conformità a quanto regolato nel presente articolo e al successivo articolo 11.</p>

<p class="pc-p">10.3. Nei casi di prodotti difettosi o difformi da quelli ordinati (di seguito &ldquo;PRODOTTI DIFETTOSI&rdquo;), il CLIENTE, senza alcuna eccezione, dovrà:</p>

<p class="pc-p">1) innanzitutto inviare una e-mail di segnalazione a {{ company_title|upper }}, all&#39;indirizzo {{ contact_email }} specificando nel testo dell&#39;e-mail il numero dell&rsquo;ordine, il codice numerico del prodotto o dei prodotti da restituire, le quantità e la motivazione della restituzione;</p>

<p class="pc-p">2) preparare il pacco utilizzando l&rsquo;imballo originale o, qualora ciò non fosse possibile, in confezione di equivalente dimensione e resistenza e chiudere accuratamente con dello scotch, stampare l&rsquo;etichetta del reso contenuta nella mail di autorizzazione al reso, che avrà ricevuto da {{ company_title|upper }}, e attaccarla sulla scatola in modo da coprire le informazioni della prima spedizione;</p>

<p class="pc-p">3) chiamare il corriere di riferimento nella filiale più vicina per prenotare il ritiro del pacco e accordarsi sulla data, orario e luogo di ritiro del reso. L&rsquo;invio dei PRODOTTI DIFETTOSI a {{ company_title|upper }}, dovrà avvenire entro e non oltre 14 (quattordici) giorni lavorativi dal ricevimento dell&rsquo;e-mail di autorizzazione al reso.</p>

<p class="pc-p">10.4. Se il reso per PRODOTTI DIFETTOSI è esercitato seguendo le modalità ed i termini indicati al presente articolo, {{ company_title|upper }} provvederà a rimborsare, tramite procedura bancaria, al CLIENTE, entro 30 (trenta) giorni dalla data di ricezione dei PRODOTTI DIFETTOSI, le spese sostenute dal CLIENTE per l&#39;acquisto dei medesimi prodotti e per le relative spese di spedizione e consegna.</p>

<h3 class="pc-subtitle">11. INTEGRITÀ DEI PRODOTTI</h3>

<p class="pc-p">Tutti i PRODOTTI sono muniti di cartellino identificativo, etichette interne e propria confezione. {{ company_title|upper }}, in caso di esercizio del diritto di recesso del CLIENTE, ha facoltà di non accettare la restituzione dei PRODOTTI RESI che siano stati utilizzati, indossati, lavati, danneggiati o alterati nelle loro caratteristiche essenziali e qualitative e/o che siano sprovvisti del relativo cartellino, delle etichette interne, di ogni altro eventuale materiale che faccia parte della originaria confezione. In caso di reso di PRODOTTI VIZIATI {{ company_title|upper }} non considererà difettosi i prodotti danneggiati a causa di usura o strappi.</p>

<h3 class="pc-subtitle">12. PROTEZIONE DEI DATI PERSONALI</h3>

<p class="pc-p">12.1. {{ company_title|upper }} garantisce al CLIENTE che i dati personali acquisiti in relazione alla vendita dei PRODOTTI saranno sempre trattati in modo lecito e corretto, nella piena osservanza delle disposizioni di cui al Regolamento EU 2016/679 (di seguito &ldquo;REGOLAMENTO&rdquo;) conformemente a quanto riportato nella PRIVACY, pubblicata sul SITO e stampabile.</p>

<p class="pc-p">12.2. Per ogni informazione relativa al trattamento dei dati personali si rinvia all&#39;informativa sul trattamento dei dati resa da {{ company_title|upper }}, ai sensi dell&#39;articolo 13 del REGOLAMENTO, al CLIENTE al momento della registrazione sul SITO. Si ricorda che il CLIENTE, in caso di necessità di ulteriori chiarimenti relativamente al trattamento dei dati personali (articolo 7 del REGOLAMENTO) potrà contattare {{ company_title|upper }} al seguente recapito {{ contact_email }}</p>

<h3 class="pc-subtitle">13. COMUNICAZIONI</h3>

<p class="pc-p">Per qualsiasi necessità di assistenza o reclamo relative ai PRODOTTI acquistati, il CLIENTE potrà contattare {{ company_title|upper }} al seguente indirizzo email: {{ contact_email }} .</p>

<h3 class="pc-subtitle">14. LEGGE APPLICABILE E GIURISDIZIONE</h3>

<p class="pc-p">14.1. Le CGV sono regolate dalla legge italiana ed in particolare dal CODICE e dal decreto legislativo 9 aprile 2003 n. 70 relativamente ad alcune peculiarità del commercio elettronico.</p>

<p class="pc-p">14.2. Per qualsiasi controversia che dovesse sorgere circa la validità, l&#39;interpretazione, l&#39;esecuzione, la risoluzione delle presenti CGV e/o dei singoli ordini di acquisto, sarà competente in via esclusiva e senza fori concorrenti il Foro di Venezia (Italia) con espressa e totale rinuncia reciproca ad ogni altro foro.</p>

</section>
