<div class="page row">

<section class="page_terms page_container container-fluid">

<h2>Privacy Policy</h2>

<p>{{ company_name }} pays utmost attention to the confidentiality, protection and security of personal data concerning any persons it comes into contact with.<br/>
Users of this website are therefore invited firstly to consult all sections of this document, which describes the website management methods concerning the processing of personal data of the persons who consult the website.<br/>
This document also performs the function of information note pursuant to Article 13 of EU 2016/679 Regulation and to the national standards on the processing of personal data, for anyone interacting with the {{ company_name }} web services, which are accessible via the web at: <a href="{{ path('maci_homepage') }}" target="_blank">{{ app.request.host }}</a>.</p>

<p>This information note is issued and is valid only for this website and not also for any other websites which the user may consult via any links present in this website. {{ company_name }} has no control over these other websites or the procedures applied by them to ensure the confidentiality of data and therefore we advise you to consult the confidentiality regulations of all the subjects you come into contact with prior to disclosing any personal information.</p>

<h3>Data controller</h3>
<p>The Data controller of your personal data is {{ company_name }}, with registered office in {{ company_address }}, {{ company_cccs }}, tel. {{ company_phone }}, email <a href="mailto:{{ contact_email }}">{{ contact_email }}</a>.</p>

<h3>Data protection officer</h3>
<p>Where applicable, data concerning the data protection officer can be found by the data subject by sending a simple request to the e-mail address <a href="mailto:{{ contact_email }}">{{ contact_email }}</a>.</p>

<h3>Types of processed data and processing purposes</h3>

<h4>Navigation data</h4>
<p>During normal operation, the computer systems and software procedures for the operation of this website acquire some data which is implicitly transmitted in the use of Internet communication protocols. This information is not gathered in order to be associated to the identified persons, but which by its very nature could, if processed and associated to data held by third parties, lead to the identification of the users.
This data category includes IP addresses or the domain names of the devices used by any user connecting with the web site, the URI (Uniform Resource Identifier) addresses of the requested resources, the time of such requests, the method used for submitting a given request to the server, the returned file size, the numerical code relating to server response status (successfully performed, error, etc.), and other parameters related to the user's operating system and computer environment.
This data is only used to gather anonymous statistical information on website use as well as to check its correct functioning. Except for what is expressly provided for in the “data communication and transfer” section, this data is not notified or disclosed to third parties.</p>

<h4>Cookies</h4>
<p>A <em>“cookie”</em> is a small text file sent from the Web server to the user’s device to provide information to the server on the user’s accesses to that web page, and any other information that can be gathered from the system parameters that is legible by the functions in the web page. Cookies may be “temporary” (session cookies which are deleted at the end of the connection) or “permanent” (they remain stored on the user's hard disk, unless they are deleted by the user).</p>
<p>This website uses session cookies and permanent cookies to:</p>
<ul>
	<li>keep track of the browsing sessions in an anonymous form;</li>
	<li>improve the site navigation;</li>
	<li>customize the services;</li>
	<li>analyze the site traffic models in an aggregate form.</li>
</ul>

<p>The permanent cookies we use may store personal identification data exclusively if the user has registered on the website or consented to the storage of the personal identification data entered on the website itself. Otherwise, our server only recognizes that an unidentified visitor with that cookie, has returned to the website.
Except for what is expressly provided for in the “data communication and transfer” section, this data is not notified or disclosed to third parties.
Depending on the web browser in use, the user may selectively disable or accept the use of cookies. In this case navigation may not be so easy and some functions of the website may not be available and some web pages might not be viewed correctly.</p>
<p><a href="{{ path('maci_page', {'path': 'cookies'}) }}">Click here</a>  to read the full information note.</p>

<h4>Data provided voluntarily by the user</h4>
<p>Users are requested to provide their personal data (e.g. name, surname, e-mail address, etc.) only if they wish to contact us or use the services we offer on our website. In these cases, the user is provided with a suitable information note, and if required, the user is invited to provide their consent. The processing of the data provided for by the user will be carried out in compliance with the purposes and methods indicated in this information note and in the specific information notes which may be available from time to time.</p>

<h3>Methods of processing</h3>
<p>The personal data is processed using manual and computerized tools for the purpose for which it was gathered. Specific security measures are ensured in order to prevent the loss of data, unlawful or improper use and unauthorized access.
Data will be processed by personnel reporting directly to {{ company_name }} and/or by natural persons or legal entities specifically identified by the same, such as suitably appointed persons and persons in charge of data processing.</p>

<h3>Legal basis</h3>
<p>The data processed through this website and the services made available through the same are processed on the basis of consent and/or on the basis of contractual agreements.</p>

<h3>Data subjects</h3>
<p>The data subjects are all users of the website or of the services made available through the same, aged more than 16 or aged 18 years or more where required by the individual information notes.</p>

<h3>Non-mandatory nature of the provision of data</h3>
<p>Users are free to decide whether to provide their personal data to {{ company_name }} through this website and/or the services connected thereto. If you do not provide your data, as indicated on a case-by-case basis in the information notes provided to the user, {{ company_name }} may not be able to provide the requested service.</p>

<h3>Data communication and transfer</h3>
<p>The data provided will in no case be disseminated or communicated to third parties, except for the subjects whose right to access the data is recognized by legal provisions or by orders of the authorities, as well as the subjects, including external and/or foreign ones, of which {{ company_name }} makes use to perform instrumental and/or accessory activities for the services offered and the advantages connected to them, including the suppliers of software solutions, web applications and storage services also provided through cloud computing systems.
We also inform that to provide the services described above, the gathered data may be transferred to servers that may be located in non-EU countries. In this hypothesis, {{ company_name }} will guarantee suitable security measures based on the provisions of the Regulation. Further information can be obtained from the data subject by sending a simple request to the e-mail address <a href="mailto:{{ contact_email }}">{{ contact_email }}</a></span>.</p>

<h3>Data processing period</h3>
<p>Unless otherwise specified in the individual information notes, the personal data processing will take place throughout the period in which the data subject will use this website and the services provided through it. In case of revocation of consent, personal data will be stored by {{ company_name }} in order to prove the fulfilment of their obligations, until prescription of the same.</p>

<h3>Rights of the data subjects</h3>
<p>The subjects to whom the personal data refer, may at any time exercise the rights granted to them in relation to the Data Controller pursuant to articles 15 to 22 of the Regulation and the applicable national standards on the personal data processing. In particular they will be able to:</p>

<ul>
	<li>access the data and obtain confirmation of the existence of their personal data, even if not yet recorded, and its communication in an intelligible form;</li>
	<li>obtain the indication of the origin of their personal data, the purposes of processing and the methods used; the logic applied to the processing of their personal data using electronic equipment; the identification details of the data controller, data processors and the designated representative; the subjects or categories of subjects to which the personal data may be disclosed, or who can learn about them in their capacity as designated representative or their appointed staff in the national territory;</li>
	<li>obtain the updating, correction or integration of data, as well as their portability;</li>
	<li>obtain the deletion, limitation, transformation into an anonymous form or block of data processed, including those for which conservation is not necessary, relative to the purposes for which the data was gathered and later processed;</li>
	<li>have the confirmation that the aforementioned operations have been notified to those to whom the data was communicated or transmitted, except in those cases in which such notification is impossible or requires the use of means which are manifestly disproportionate to the protected right;</li>
	<li>oppose, wholly or partially, for legitimate reasons, the processing of their personal data even where this is pertinent to the purposes for which the data was gathered and the processing of their personal data for the purposes of sending advertising or direct sales materials or for the execution of market research or sales communications.</li>
</ul>

<p>The data subject also has the right to lodge a complaint with a supervisory authority, which in Italy is the "Guarantor for the protection of personal data".</p>
<p>The data subject also has the right to revoke at any time the consent given for the processing of their personal data.</p>
<p>To exercise these rights, the data subject may directly contact the Data Controller by writing to the following e-mail address: <a href="mailto:{{ contact_email }}">{{ contact_email }}</a>.</p>

<h2>PROFILING AND AUTOMATED DECISION-MAKING PROCESSES</h2>
<p>The use of personal data for the performance of individual or aggregate profiling and market research activities aimed, for example, at the analysis of consumption habits and choices, the processing of statistics on these or the evaluation of the degree of satisfaction with respect to the products and services offered will only take place with the prior consent of the user.
The data may also be subject to automated decision-making processes.
Further information on the logics used and on the importance and consequences expected for the data subject can be obtained by simply requesting it to the e-mail address: <a href="mailto:{{ contact_email }}">{{ contact_email }}</a>.</p>

<h2>NEWSLETTERS AND SALES COMMUNICATIONS</h2>
<p>The use of personal data for sending newsletters and/or sales communications, will only take place with the prior consent of the user.</p>
<p>To stop receiving newsletters and/or sales communications by e-mail, simply follow the instructions contained in the last e-mail received or by sending an email to <a href="mailto:{{ contact_email }}">{{ contact_email }}</a> stating: "REMOVE DATA", name, surname and the email address to which you wish to stop sending communications. Upon receipt of your e-mail we will provide for the deletion.</p>

<h2>CONTACT DATA</h2>
<p>Any requests concerning personal data processing through this website and/or the services connected thereto can be sent to the e-mail address <a href="mailto:{{ contact_email }}">{{ contact_email }}</a> or by writing to {{ company_name }}, {{ company_address }}, {{ company_cccs }}, tel. {{ company_phone }}.</p>

</section>

</div>
