<section class="page_terms page_container">

<h2 class="pc-title">Informativa sulla Privacy</h2>

<p class="pc-p">{{ company_name }} pone la massima attenzione alla riservatezza, alla tutela ed alla sicurezza dei dati personali relativi alle persone con cui entra in contatto.<br/>
L’utente di questo sito è pertanto invitato a visitare preliminarmente tutte le sezioni del presente documento, nel quale sono descritte le modalità di gestione del sito in riferimento al trattamento dei dati personali delle persone che lo consultano.<br/>
Il presente documento ha altresì la funzione di informativa, ai sensi dell'art. 13 del Regolamento EU 2016/679 e della normativa nazionale applicabile in materia di trattamento dei dati personali, per tutti coloro che interagiscono con i servizi web di {{ company_name }}, accessibili per via telematica all'indirizzo <a href="{{ path('maci_homepage') }}" target="_blank">{{ app.request.host }}</a>.</p>

<p class="pc-p">La presente informativa è resa ed è valida solo sul presente sito e non anche per altri siti web eventualmente consultati dall'utente tramite link presenti nel sito. {{ company_name }} non ha alcun controllo su questi siti né sulle procedure da essi applicate per il rispetto della riservatezza dei dati e, pertanto, suggeriamo di consultare le norme sulla riservatezza di tutti i soggetti con cui si entra in contatto prima di comunicare informazioni personali.</p>

<h3 class="pc-subtitle">Titolare del trattamento</h3>
<p class="pc-p">Il Titolare del trattamento dei dati personali è {{ company_name }}, con sede in {{ company_address }}, {{ company_cccs }}, tel. {{ company_phone }}, email <a href="mailto:{{ contact_email }}">{{ contact_email }}</a>.</p>

<h3 class="pc-subtitle">Responsabile della protezione dei dati</h3>
<p class="pc-p">Ove presente, i dati relativi al responsabile della protezione dei dati sono reperibili da parte dell’interessato inviando una semplice richiesta all’indirizzo e-mail <a href="mailto:{{ contact_email }}">{{ contact_email }}</a>.</p>

<h3 class="pc-subtitle">Tipi di dati trattati e finalità del trattamento</h3>

<h4 class="pc-subtitle">Dati di navigazione</h4>
<p class="pc-p">I sistemi informatici e le procedure software preposte al funzionamento di questo sito web acquisiscono, nel corso del loro normale esercizio, alcuni dati la cui trasmissione è implicita nell'uso dei protocolli di comunicazione di internet. Si tratta di informazioni che non sono raccolte per essere associate ad interessati identificati, ma che per loro stessa natura potrebbero permettere di identificare gli utenti attraverso elaborazioni ed associazioni con dati detenuti da terzi.</p>
<p class="pc-p">In questa categoria di dati rientrano gli indirizzi IP o i nomi a dominio dei dispositivi utilizzati dagli utenti che si connettono al sito, gli indirizzi in notazione URI (Uniform Resource Identifier) delle risorse richieste, l'orario della richiesta, il metodo utilizzato nel sottoporre la richiesta al server, la dimensione del file ottenuto in risposta, il codice numerico indicante lo stato della risposta data dal server (buon fine, errore, ecc.) ed altri parametri relativi al sistema operativo e all'ambiente informatico dell'utente.</p>
<p class="pc-p">Questi dati vengono utilizzati al solo fine di ricavare informazioni statistiche anonime sull'uso del sito e per controllarne il corretto funzionamento. Ad eccezione di quanto espressamente previsto nella sezione “comunicazione e trasferimento dei dati”, questi dati non sono comunicati a terzi e non sono diffusi.</p>

<h4 class="pc-subtitle">Cookies</h4>
<p class="pc-p">Un <em>"cookie"</em> e un file di testo di piccole dimensioni trasferito dal server web al dispositivo dell'utente, il cui scopo e informare il server riguardo a gli accessi dell'utente a quella determinata pagina web, e di altre eventuali notizie che ricava dai parametri leggibili del sistema tramite funzioni contenute nella pagina web. I cookies possono essere "temporanei" (o di sessione, sono cancellati al termine del collegamento) o "permanenti" (restano memorizzati nel disco fisso dell'utente, a meno che l'utente stesso non li cancelli).</p>
<p class="pc-p">Questo sito utilizza cookies di sessione e cookies persistenti per:</p>
<ul>
	<li>tenere traccia di sessioni di navigazione in forma anonima;</li>
	<li>migliorare la navigazione all'interno del sito;</li>
	<li>personalizzare i servizi;</li>
	<li>analizzare in forma aggregata i modelli di traffico del sito.</li>
</ul>

<p class="pc-p">I cookies persistenti che utilizziamo possono conservare dati identificativi personali esclusivamente nel caso in cui l'utente si sia registrato sul sito o abbia acconsentito alla conservazione dei dati identificativi personali immessi nel sito stesso. Altrimenti, il nostro server riconosce solo che un visitatore non identificato, con quel determinato cookie, è ritornato sul sito.</p>
<p class="pc-p">Ad eccezione di quanto espressamente previsto nella sezione “comunicazione e trasferimento dei dati”, questi dati non sono comunicati a terzi e non sono diffusi.</p>
<p class="pc-p">L'utente ha la possibilità, in funzione del browser web in uso, di disabilitare o di accettare in modo selettivo l'utilizzo dei cookies. In questo caso la navigazione non potrà essere parimenti agevole, alcune funzioni del sito potrebbero non essere disponibili e alcune pagine web potrebbero essere visualizzate in modo non corretto.</p>
<p class="pc-p"><a href="{{ path('maci_page', {'path': 'cookies'}) }}">Clicca qui</a> per leggere l'informativa completa.</p>

<h4 class="pc-subtitle">Dati forniti volontariamente dall'utente</h4>
<p class="pc-p">All'utente sono richiesti dati personali (es. nome, cognome, indirizzo e-mail, etc.) solo qualora voglia venire in contatto con noi o avvalersi dei servizi proposti sul nostro sito. In tali casi all'utente viene fornita idonea informativa in proposito e, nei casi in cui ciò sia necessario, viene invitato a fornire il proprio consenso. Il trattamento dei dati forniti dall’utente avverrà nel rispetto delle finalità e delle modalità indicate nella presente informativa e delle specifiche informative volta per volta rese disponibili.</p>

<h3 class="pc-subtitle">Modalità del trattamento</h3>
<p class="pc-p">I dati personali sono trattati con strumenti manuali ed informatici al fine di conseguire gli scopi per cui sono stati raccolti. Specifiche misure di sicurezza sono osservate per prevenire la perdita dei dati, usi illeciti o non corretti ed accessi non autorizzati.</p>
<p class="pc-p">Il trattamento dei dati sarà effettuato da personale alle dirette dipendenze di {{ company_name }} e/o da persone fisiche o giuridiche da questo appositamente individuate quali incaricati, responsabili opportunamente nominati e loro incaricati del trattamento.</p>

<h3 class="pc-subtitle">Base giuridica</h3>
<p class="pc-p">I dati trattati attraverso questo sito web ed i servizi messi a disposizione attraverso lo stesso sono trattati sulla base del consenso e/o sulla base di accordi contrattuali.</p>

<h3 class="pc-subtitle">Destinatari del trattamento</h3>
<p class="pc-p">I destinatari del trattamento sono tutti gli utilizzatori del sito web o dei servizi resi disponibili attraverso lo stesso, aventi più 16 anni di età oppure di età pari o superiore a 18 anni ove previsto dalle singole informative.</p>

<h3 class="pc-subtitle">Facoltatività del conferimento dati</h3>
<p class="pc-p">L’utente è libero di decidere se fornire o non fornire i propri dati personali a {{ company_name }} attraverso il presente sito web e/o i servizi allo stesso connessi. Il mancato conferimento dei dati, come indicato caso per caso nelle informative fornite all’utente, può comportare per {{ company_name }} l'impossibilità di fornire il servizio richiesto.</p>

<h3 class="pc-subtitle">Comunicazione e trasferimento dati</h3>
<p class="pc-p">I dati forniti non saranno in alcun caso oggetto di diffusione o comunicazione a terzi, fatti salvi i soggetti cui la facoltà di accedere ai dati sia riconosciuta da disposizioni di legge o da ordini delle autorità, nonché i soggetti, anche esterni e/o esteri, di cui {{ company_name }} si avvale per lo svolgimento di attività strumentali e/o accessorie ai sevizi offerti ed ai benefici ad essi connessi, ivi compresi i fornitori di soluzioni software, web application e servizi di storage erogati anche tramite sistemi di cloud computing.</p>
<p class="pc-p">Si avverte altresì che per fornire i servizi di cui sopra, i dati raccolti potranno essere trasferiti su server che potrebbero essere situati in paesi extra UE. In tale ipotesi, {{ company_name }} garantirà idonee misure di sicurezza sulla base di quanto disposto dal Regolamento. Ulteriori informazioni sono reperibili da parte dell’interessato inviando una semplice richiesta all’indirizzo e-mail <a href="mailto:{{ contact_email }}">{{ contact_email }}</a>.</p>

<h3 class="pc-subtitle">Durata del trattamento</h3>
<p class="pc-p">Ove non sia diversamente specificato nelle singole informative, il trattamento dei dati personali avverrà per tutto il periodo in cui l’interessato usufruirà del presente sito web e dei servizi forniti attraverso lo stesso. In caso di revoca del consenso, i dati personali verranno conservati da {{ company_name }} al fine di comprovare l’adempimento dei propri obblighi, sino all’intervenuta prescrizione degli stessi.</p>

<h3 class="pc-subtitle">Diritti degli interessati</h3>
<p class="pc-p">I soggetti a cui si riferiscono i dati personali potranno in ogni momento esercitare i diritti loro riconosciuti nei confronti del Titolare del trattamento ai sensi degli artt. da 15 a 22 del Regolamento e della normativa nazionale applicabile in materia di trattamento dei dati personali. In particolare potranno:</p>
<ul>
	<li>accedere ai dati ed avere conferma dell'esistenza o meno di dati personali che li riguardano, anche se non ancora registrati, e averne comunicazione in forma intelligibile;</li>
	<li>ottenere l'indicazione dell’origine dei dati personali, delle finalità e delle modalità del trattamento; della logica applicata in caso di trattamento effettuato con l'ausilio di strumenti elettronici; degli estremi identificativi del titolare, dei responsabili e del rappresentante designato; dei soggetti o delle categorie di soggetti ai quali i dati personali possono essere comunicati o che possono venirne a conoscenza in qualità di rappresentante designato nel territorio dello Stato, di responsabili o incaricati;</li>
	<li>ottenere l'aggiornamento, la rettificazione o l'integrazione dei dati, così come la portabilità degli stessi;</li>
	<li>ottenere la cancellazione, la limitazione, la trasformazione in forma anonima o il blocco dei dati trattati, compresi quelli di cui non è necessaria la conservazione in relazione agli scopi per i quali i dati sono stati raccolti o successivamente trattati;</li>
	<li>avere attestazione che le operazioni predette sono state portate a conoscenza di coloro ai quali i dati sono stati comunicati o diffusi, eccettuato il caso in cui tale adempimento si riveli impossibile o comporti un impiego di mezzi manifestamente sproporzionato rispetto al diritto tutelato;</li>
	<li>opporsi, in tutto o in parte, per motivi legittimi, al trattamento dei dati personali che li riguardano, ancorché pertinenti allo scopo della raccolta, ed al trattamento di dati personali che li riguardano a fini di invio di materiale pubblicitario o di vendita diretta o per il compimento di ricerche di mercato o di comunicazione commerciale.</li>
</ul>

<p class="pc-p">L’interessato ha altresì diritto a proporre reclamo ad un’autorità di controllo, la quale in Italia è il “Garante per la protezione dei dati personali”.</p>

<p class="pc-p">L’interessato ha inoltre il diritto di revocare in ogni momento il consenso prestato per il trattamento dei dati.</p>

<p class="pc-p">Per l’esercizio di tali diritti, l’interessato potrà rivolgersi direttamente al Titolare del trattamento dei dati scrivendo al seguente indirizzo e-mail: <a href="mailto:{{ contact_email }}">{{ contact_email }}</a>.</p>

<h3 class="pc-subtitle">Profilazione e Processi Decisionali Automatizzati</h3>
<p class="pc-p">L’utilizzo dei dati personali per lo svolgimento di attività di profilazione individuale o aggregata e di ricerche di mercato volte, ad esempio, all’analisi delle abitudini e delle scelte di consumo, all’elaborazione di statistiche sulle stesse o alla valutazione del grado di soddisfacimento rispetto ai prodotti e ai servizi proposti avverrà solo previo consenso reso da parte dell’utente.</p>
<p class="pc-p">I dati potranno inoltre essere oggetto di processi decisionali automatizzati.</p>
<p class="pc-p">Ulteriori informazioni sulle logiche utilizzate e sull’importanza e le conseguenze previste per l’interessato sono reperibili previa semplice richiesta di quest’ultimo da inviarsi all’indirizzo e-mail: <a href="mailto:{{ contact_email }}">{{ contact_email }}</a>.</p>

<h3 class="pc-subtitle">Newsletter e Comunicazioni Commerciali</h3>
<p class="pc-p">L’utilizzo dei dati personali per l’invio di newsletter e/o comunicazioni commerciali, avverrà solo previo consenso reso da parte dell’utente.</p>
<p class="pc-p">Per interrompere l’invio di newsletter e/o comunicazioni commerciali a mezzo e-mail è sufficiente seguire le istruzioni contenute nell'ultima e-mail ricevuta oppure inviando una mail a <a href="mailto:{{ contact_email }}">{{ contact_email }}</a> indicando: "REMOVE DATA", nome, cognome e l’indirizzo mail verso cui interrompere l’invio di comunicazioni. Al ricevimento della mail provvederemo alla cancellazione.</p>

<h3 class="pc-subtitle">DATI DI CONTATTO</h3>
<p class="pc-p">Ogni eventuale ulteriore informazione riguardo il trattamento dei dati personali effettuato attraverso il presente sito e/o i servizi ad esso connessi può essere richiesta scrivendo all’indirizzo e-mail <a href="mailto:{{ contact_email }}">{{ contact_email }}</a> oppure scrivendo a {{ company_name }}, {{ company_address }}, {{ company_cccs }}, tel. {{ company_phone }}.</p>

</section>
