

<div class="page row">


{% include "MaciPageBundle:Default:_page_header.html.twig" with { 'page': page } %}


<section class="page_terms page_container container-fluid">


<p>La ditta {{ company_name }} ( {{ company_title }} ) pone la massima attenzione alla riservatezza, alla tutela e alla sicurezza dei dati personali relativi ai soggetti con cui entra in contatto.</p>

<p>Il Navigatore di questo sito è pertanto invitato a visitare preliminarmente tutte le sezioni del presente documento, nel quale sono descritte le modalità di gestione del sito in riferimento al trattamento dei dati personali degli utenti che lo consultano. Si tratta di un’informativa resa anche ai sensi dell’art. 13 del D.Lgs. 30 giugno 2003 n. 196, “Codice in materia di protezione dei dati personali”, a tutti coloro che interagiscono con i servizi Web di {{ company_title }}, accessibili per via telematica all’indirizzo: http://www.marangonimoda.it</p>

<p>La presente informativa è resa ed è valida solo sul presente sito e non anche per altri siti Web eventualmente consultati dall’utente tramite link presenti nel sito. {{ company_name }} non ha alcun controllo su questi siti né sulle procedure da essi applicate per il rispetto della riservatezza dei dati; suggeriamo di consultare le norme sulla riservatezza di tutte le società con cui si entra in contatto prima di comunicare informazioni personali.</p>

<p>L’informativa si ispira anche alla Raccomandazione n. 2/2001 che le autorità europee per la protezione dei dati personali, riunite nel Gruppo istituito dall’art. 29 della direttiva n. 95/46/CE, hanno adottato il 17 maggio 2001 per individuare alcuni requisiti minimi per la raccolta di dati personali on-line, e, in particolare, le modalità, i tempi e la natura delle informazioni che i titolari del trattamento devono fornire agli utenti quando questi si collegano a pagine Web, indipendentemente dagli scopi del collegamento.</p>

<h3>1. TIPI DI DATI TRATTATI E FINALITA’ DEL TRATTAMENTO DATI DI NAVIGAZIONE</h3>

<p>I sistemi informatici e le procedure software preposte al funzionamento di questo sito Web acquisiscono, nel corso del loro normale esercizio, alcuni dati la cui trasmissione è implicita nell’uso dei protocolli di comunicazione di Internet. Si tratta di informazioni che non sono raccolte per essere associate a interessati identificati, ma che per loro stessa natura potrebbero permettere di identificare gli utenti attraverso elaborazioni ed associazioni con dati detenuti da terzi.</p>

<p>In questa categoria di dati rientrano gli indirizzi IP o i nomi a dominio dei computer utilizzati dagli utenti che si connettono al sito, gli indirizzi in notazione URI (Uniform Resource Identifier) delle risorse richieste, l’orario della richiesta, il metodo utilizzato nel sottoporre la richiesta al server, la dimensione del file ottenuto in risposta, il codice numerico indicante lo stato della risposta data dal server (buon fine, errore, ecc.) ed altri parametri relativi al sistema operativo e all’ambiente informatico dell’utente.</p>

<p>Questi dati vengono utilizzati al solo fine di ricavare informazioni statistiche anonime sull’uso del sito e per controllarne il corretto funzionamento. Questi dati non sono comunicati a terzi e non sono diffusi.</p>

<h4>COOKIES</h4>

<p>Un “cookie” e un file di testo di piccole dimensioni trasferito dal server Web al computer dell’utente, il cui scopo e informare il server riguardo a gli accessi dell’utente a quella determinata pagina Web, e di altre eventuali notizie che ricava dai parametri leggibili del sistema tramite funzioni contenute nella pagina Web. I cookies possono essere “temporanei” (o di sessione, sono cancellati al termine del collegamento) o “permanenti” (restano memorizzati nel disco fisso dell’utente, a meno che l’utente stesso non li cancelli).</p>

<p>Questo sito utilizza cookies di sessione e cookies persistenti per:</p>

<ul>

<li><p>tenere traccia di sessioni di navigazione in forma anonima;</p></li>

<li><p>migliorare la navigazione all’interno del sito;</p></li>

<li><p>personalizzare i servizi;</p></li>

<li><p>analizzare in forma aggregata i modelli di traffico del sito.</p></li>

</ul>

<p>I cookies persistenti che utilizziamo possono conservare dati identificativi personali esclusivamente nel caso in cui l’utente abbia registrato o acconsentito alla conservazione dei dati identificativi personali immessi nel sito stesso. Altrimenti, il nostro server riconosce solo che un visitatore non identificato, con quel determinato cookie, e ritornato sul sito.</p>

<p>Questi dati non sono comunicati a terzi e non sono diffusi.<br>
L’utente ha la possibilità, in funzione del browser in uso, di disabilitare o di accettare in modo selettivo l’utilizzo dei cookies: in questo caso la navigazione non potrà essere parimenti agevole, alcune funzioni del sito potrebbero non essere disponibili e alcune pagine Web potrebbero essere visualizzate in modo non corretto.</p>

<h4>WEB BEACONS</h4>

<p>Questo sito web utilizza Google Analytics, un servizio di analisi web fornito da Google, Inc. ("Google"). Google Analytics utilizza dei "cookies", che sono file di testo che vengono depositati sul Vostro computer per consentire al sito web di analizzare come gli utenti utilizzano il sito. Le informazioni generate dal cookie sull'utilizzo del sito web da</p>

<p>parte Vostra (compreso il Vostro indirizzo IP) verranno trasmesse a, e depositate presso i server di Google negli Stati Uniti. Google utilizzerà queste informazioni allo scopo di tracciare e esaminare il Vostro utilizzo del sito web, compilare report sulle attività del sito web per gli operatori del sito web e fornire altri servizi relativi alle attivit del sito web e all'utilizzo di Internet. Google può anche trasferire queste informazioni a terzi ove ciò sia imposto dalla legge o laddove tali terzi trattino le suddette informazioni per conto di Google. Google non assocerà il vostro indirizzo IP a nessun altro dato posseduto da Google. Potete rifiutarvi di usare i cookies selezionando l'impostazione appropriata sul vostro browser, ma ciò potrebbe impedirvi di utilizzare tutte le funzionalità di questo sito web. Utilizzando il presente sito web, voi acconsentite al trattamento dei Vostri dati da parte di Google per le modalità e i fini sopraindicati</p>

<h4>DATI FORNITI VOLONTARIAMENTE DALL’UTENTE</h4>

<p>All’utente sono richiesti dati personali (es. nome, indirizzo e-mail) solo qualora voglia venire in contatto con noi o avvalersi di nostri servizi proposti sul nostro sito; in tali casi all’utente viene sempre previamente proposta una informativa esplicita in proposito e, nei casi in cui ciò è necessario, l’utente e invitato a fornire il proprio consenso. L’invio facoltativo, esplicito e volontario di dati personali comporta il loro trattamento per le finalità e nei limiti indicati nelle specifiche informative.</p>

<h3>2. FACOLTATIVITA’ DEL CONFERIMENTO DEI DATI</h3>

<p>L’utente è libero di fornire dati personali attraverso l’invio facoltativo, esplicito e volontario dei moduli presenti su questo sito o di posta elettronica agli indirizzi indicati su questo sito. Il mancato conferimento dei dati può comportare per la nostra Società l’impossibilità di fornire il servizio richiesto.</p>

<h3>3. MODALITA’ DEL TRATTAMENTO</h3>

<p>I dati personali sono trattati con strumenti manuali e informatici al fine di conseguire gli scopi per cui sono stati raccolti. Specifiche misure di sicurezza sono osservate per prevenire la perdita dei dati, usi illeciti o non corretti ed accessi non autorizzati.</p>

<h3>4. LUOGO DI TRATTAMENTO DEI DATI</h3>

<p>I dati relativi ai servizi Web di questo sito vengono effettuati in remoto o presso la propria sede in {{ company_address }} – {{ company_cccs }} da dipendenti, collaboratori o soci incaricati dal titolare del trattamento dati {{ company_name }} si riserva di nominare altri responsabili esterni al trattamento qualora sia necessario ai sensi del D.Lgs. 196/2003.</p>

<h3>5. TITOLARE DEL TRATTAMENTO</h3>

<p>Il Titolare del trattamento dei dati personali è {{ company_name }} - {{ company_address }} – {{ company_cccs }}, telefono e fax {{ company_phone }}, email {{ contact_email }}, partita iva {{ company_vat }}.</p>

<h4>DIRITTI DEGLI INTERESSATI</h4>

<p>In base all’art.7 del D.Lgs. 196/2003 (Diritto di accesso ai dati personali e altri diritti), e diritto dei soggetti cui si riferiscono i dati personali di:</p>

<ul>

	<li><p>ottenere la conferma dell’esistenza o meno di dati personali che lo riguardano, anche se non ancora registrati, e la loro comunicazione in forma intelligibile;</p></li>

	<li><p>ottenere l’indicazione: a) dell’origine dei dati personali, b) delle finalità e modalità del trattamento, c) della logica applicata in caso di trattamento effettuato con l’ausilio di strumenti elettronici, d) degli estremi identificativi del titolare, dei responsabili e del rappresentante designato, e) dei soggetti o delle categorie di soggetti ai quali i dati possono essere comunicati o che possono venire a conoscenza in qualità di rappresentante designato nel territorio dello Stato, di responsabili o incaricati;</p></li>

	<li><p>ottenere: a) l’aggiornamento, la rettificazione ovvero, quando vi ha interesse, l’integrazione dei dati, b) la cancellazione, la trasformazione in forma anonima o il blocco dei dati trattati in violazione di legge, compresi quelli di cui non è necessaria la conservazione in relazione agli scopi per i quali i dati sono stati raccolti o successivamente trattati, c) l’attestazione che le operazioni di cui alle lettere a) e b) sono state portate a conoscenza, anche per quanto riguarda il loro contenuto, di coloro ai quali i dati sono stati comunicati o diffusi, eccettuato il caso in cui tale adempimento si rivela impossibile o comporta un impiego di mezzi manifestamente sproporzionato rispetto al diritto tutelato;</p></li>

	<li><p>opporsi, in tutto o in parte: a) per motivi legittimi al trattamento dei dati personali che lo riguardano, ancorché pertinenti allo scopo della raccolta, b) al trattamento di dati personali che lo riguardano a fini di invio di materiale pubblicitario o di vendita diretta o per il compimento di ricerche di mercato o di comunicazione commerciale.</p></li>

</ul>

<p>Le eventuali richieste vanno rivolte al responsabile privacy e sicurezza delle informazioni {{ company_name }} - {{ company_address }} – {{ company_cccs }}, telefono e fax {{ company_phone }}, email {{ contact_email }}, partita iva {{ company_vat }}.</p>


</section>


{% include "MaciPageBundle:Default:_page_content.html.twig" with { 'page': page } %}

{% include "MaciPageBundle:Default:_page_media.html.twig" with { 'page': page } %}

{% include "MaciPageBundle:Default:_page_footer.html.twig" with { 'page': page } %}


</div>

