

<div class="page">


{% include "MaciPageBundle:Default:_page_header.html.twig" with { 'page': page } %}


<section class="page_terms page_container row">


<p>The {{ company_title }} On-line Store aims to ensure full satisfaction during your Shopping Experience. If for any reason the Customer is not satisfied with the order or if the products delivered are not of the required quality, the Customer may return the product purchased within 14 days of receipt. The Right of Withdrawal may be exercised exclusively by the Customer and under no circumstances by the recipient of any gifts.</p>

<p>Teddy will refund the Customer for the amount of purchased goods excluding the return shipping fees which are at Customer&#39;s expenses.</p>

<h3>COST OF RETURNING GOODS</h3>

<p>The shipping costs regarding free returns will be at the Customer&#39;s expenses; just in case of defective items the return shipping costs will be at Teddy&#39;s expenses.</p>

<h3>RETURNING PURCHASES MADE ON-LINE TO A STORE</h3>

<p>It is not possible to return products purchased on-line to a {{ company_title }} store.</p>

<h3>HOW TO RETURN GOODS</h3>

<p>To send a return request to the {{ company_title }} Customer Service, write to <a href="mailto:{{ order_email }}">{{ order_email }}</a> indicating the order number, items to be returned, quantity and reason for the return. Also please remember to specify whether you want to make use of the courier service with which {{ company_title }} has an agreement or whether you prefer to send goods by yourself, for further details see section RETURNING GOODS. Our Customer Service will answer as quickly as possible.</p>

<p>The items must be returned with the label indicating the bar code and any material that is part of the package.</p>

<p>Returns may be sent only from the country the order was placed from.</p>

<p>Refunds will only be paid for items returned following these instructions. If the return does not comply with the conditions listed below, the package will be returned to the sender.</p>

<h4>CLOTHING</h4>

<p>Clothing must be returned with the label indicating the bar code and in its original packaging. Please also note that, in compliance with the provisions of article 67 of the Consumer Code, &nbsp;the substantial integrity of the goods to be returned is an essential condition for the exercise of the right of withdrawal.&nbsp; Clothing that is damaged and/or deteriorated may therefore not be returned. All accessories, including certificates of authenticity, dust covers and labels must also be included in the package returned. Send an e-mail to <a href="mailto:{{ order_email }}">{{ order_email }}</a> if any of the items received does not have all its packaging accessories.</p>

<h4>FOOTWEAR</h4>

<p>All footwear must be worn only on a carpet until you decide to keep it, in order to avoid damaging the soles. Shoes must be returned clean, with no marks and in their original box, in perfect condition, as the box is an integral part of the footwear. Shoes returned with marks, dirty or without the box will not be accepted and will be returned to the sender. The box is an integral part of the product and must be returned fully intact. Damaged boxes will not be accepted, as they are an integral part of the returned goods.</p>

<h4>ACCESSORIES</h4>

<p>Accessories including belts, brooches, charms shall be included with any returns. Send an e-mail to <a href="mailto:{{ order_email }}">{{ order_email }}</a> if one of the items you have received is missing any accessories purchased with the garment.</p>

<h3>FAULTY GOODS</h3>

<p>If you receive a faulty or damaged item or if the item has any production defects, you must immediately notify us in writing to <a href="mailto:{{ order_email }}">{{ order_email }}</a> . Items that are torn or damaged by wear shall not be deemed to be faulty.</p>

<p>Size or colour replacements are not accepted.</p>

<h3>RETURNING GOODS</h3>

<p>Customers returning goods must do so in the original external packaging; if the packaging is damaged, they may use a box of the same size and strength, sealing it carefully with adhesive tape. They must also print the courier return label found in the e-mail authorising the return, affixing it to the box in order to cover the information relating to the original shipment.</p>

<p>They must then call the courier at their nearest branch in order to agree the time and date for the collection.</p>

<p>{{ company_title }} reserves the right to not accept garments from the same order if returned and shipped at different times. Any returned goods must be sent in a single shipment.</p>

<p>Two different orders however may be returned in the same box. You must however ensure that the labels are attached properly in order to identify the returns.</p>

<p>You may choose a courier other than that indicated and send the goods to our warehouse in Bologna: {{ company_name }} - {{ company_address }} - {{ company_cccs }}</p>

<p>Please remember that any shipments of returned items using couriers other than the one indicated will be at the Customer&#39;s expenses; Customers must send en email to {{ company_title }} Customer Service <a href="mailto:{{ order_email }}">{{ order_email }}</a> indicating the order number, items to be returned, quantity and reason for the return. Moreover, please ensure you choose a traceable shipping method, as {{ company_title }} will not be responsible for any loss or theft.</p>

<h3>REFUNDS</h3>

<p>After receiving the returns, our warehouse checks the goods to verify that the procedure and conditions have been complied with. The Customer will receive an e-mail confirming the acceptance and refund.</p>

<p>The goods must be delivered to the courier no later than 14 working days following the date on which {{ company_title }} authorises the return.</p>

<p>Our bank will refund the full amount of the returned goods (excluding shipment costs) to the credit card or PayPal account within 30 working days from the date of receipt of the returned goods.</p>

<p>In the case of gifts, if the order was paid for by Credit Card or PayPal, the refund will be made to the account of the person who made the original payment. For security reasons we are not authorised to pay refunds to any other account.</p>

<p><strong>Credit card</strong>: our bank will indicatively refund the amount within 30 working days following our e-mail confirmation. The time required to confirm the receipt of the refund may vary, and depends on the card issuer.</p>

<p><strong>Paypal</strong>: the amount will be refunded within 30 working days to the Customer&#39;s Personal Account.</p>

<p>The bank will refund the amount within 30 working days from the e-mail confirming acceptance of the return.</p>

<p>{{ company_title }} reserves the right to refuse returns notified or sent after the aforementioned terms or for products that are not in the same condition they were received in.</p>


</section>


{% include "MaciPageBundle:Default:_page_content.html.twig" with { 'page': page } %}

{% include "MaciPageBundle:Default:_page_media.html.twig" with { 'page': page } %}

{% include "MaciPageBundle:Default:_page_footer.html.twig" with { 'page': page } %}


</div>

