<section class="page_terms page_container">

<h2 class="title">Resi e Rimborsi</h2>

<p class="pc-p">Lo Shop Online di {{ company_title }} vuole garantire la massima soddisfazione durante la Shopping Experience. Se per qualunque motivo il Cliente non fosse soddisfatto del proprio ordine e i prodotti recapitati risultassero qualitativamente non conformi a quanto richiesto, il Cliente pu&ograve; restituire il prodotto acquistato entro 14 giorni dalla data di consegna. Il Diritto di Recesso pu&ograve; essere esercitato esclusivamente dal Cliente e in nessun caso dal destinatario di un eventuale regalo.</p>

<p class="pc-p">Rimborseremo al Cliente l&#39;importo della merce resa al netto delle spese di spedizione sostenute per il Reso.</p>

<h3 class="subtitle">COSTO DELLA SPEDIZIONE DEL RESO</h3>

<p class="pc-p">I costi della spedizione del reso per libero recesso sono a carico del Cliente; solo in caso di merce difettosa le spese di restituzione saranno a carico di {{ company_title }}.</p>

<h3 class="subtitle">COME FARE IL RESO</h3>

<p class="pc-p">Per inoltrare la richiesta di reso al Servizio Clienti di {{ company_title }} scrivi a <a href="mailto:{{ order_email }}">{{ order_email }}</a> indicando il numero di ordine, gli articoli da rendere, le quantit&agrave; e la motivazione del reso.</p>

<p class="pc-p">Gli articoli dovranno pervenire provvisti di cartellino indicante il codice a barre e ogni eventuale materiale che faccia parte della confezione.</p>

<p class="pc-p">Il reso pu&ograve; essere spedito solo dal Paese in cui &egrave; stato effettuato l&rsquo;ordine.</p>

<p class="pc-p">Verranno rimborsati solo gli articoli resi secondo le istruzioni. Se il reso non soddisfa le condizioni sotto elencate, il pacco verr&agrave; rispedito al mittente.</p>

<h3 class="subtitle">CAPI</h3>

<p class="pc-p">Gli articoli devono essere restituiti provvisti di cartellino con codice a barre e nella loro confezione originale. Si vuole inoltre specificare che, secondo quanto previsto dall&rsquo;articolo 67 del Codice del Consumo, la sostanziale integrit&agrave; del bene da restituire &egrave; condizione essenziale per l&#39;esercizio del diritto di recesso. Non verranno pertanto restituiti capi che siano stati danneggiati e/o deteriorati. Dovranno inoltre essere inclusi nella confezione da rendere tutti gli accessori come certificati di autenticit&agrave;, sacche antipolvere e cartellini. Inviare una mail a <a href="mailto:{{ order_email }}">{{ order_email }}</a> se uno degli articoli ricevuti non presenta accessori di confezionamento.</p>

<h3 class="subtitle">SCARPE</h3>

<p class="pc-p">Tutte le calzature devono essere prima indossate su un tappeto fino a quando non si &egrave; deciso di tenere il prodotto, al fine di non rovinare la suola. Le scarpe devono essere restituite pulite, senza alcun segno e nella loro scatola originale intatta, in quanto parte integrante della calzatura stessa. Le scarpe che verranno rese con segni, senza scatola o sporche non verranno accettate e rispedite al mittente. La scatola &egrave; parte integrante del prodotto e deve pervenire integra in ogni sua parte. Le scatole danneggiate non verranno accettate al pari della merce restituita.</p>

<h3 class="subtitle">ACCESSORI</h3>

<p class="pc-p">Accessori come cinture, spille, charms dovranno essere inclusi nella restituzione. Inviare un&acute;e-mail a <a href="mailto:{{ order_email }}">{{ order_email }}</a> se uno degli articoli ricevuti non presenta gli accessori acquistati con il capo.</p>

<h3 class="subtitle">MERCE DIFETTOSA</h3>

<p class="pc-p">Se ricevi un articolo difettoso o danneggiato o se il capo presenta difetti di produzione &egrave; necessario darne immediatamente notizia scrivendo a <a href="mailto:{{ order_email }}">{{ order_email }}</a>. Gli articoli danneggiati a causa di usura o strappi non saranno considerati difettosi.</p>

<p class="pc-p">Non si effettuano sostituzioni di taglia o colore.</p>

<h3 class="subtitle">SPEDIZIONE DEL RESO</h3>

<p class="pc-p">Il Cliente che effettua il reso dovr&agrave; spedire la merce nell&rsquo;imballo originale, qualora fosse danneggiato, potr&agrave; usare una scatola di uguale dimensione e resistenza, e chiuderla accuratamente con dello scotch. Dovr&agrave; inoltre stampare l&rsquo;etichetta del reso del corriere che trover&agrave; nella email di autorizzazione al reso e attaccarla sulla scatola in modo da coprire le informazioni della prima spedizione.</p>

<p class="pc-p">Il Cliente dovr&agrave; poi chiamare il corriere nella filiale pi&ugrave; vicina per accordarsi sulla data e luogo di ritiro del reso.</p>

<p class="pc-p">{{ company_title }} si riserva il diritto di non accettare capi di uno stesso ordine, resi e spediti in momenti diversi. I prodotti resi devono essere inviati in una sola spedizione.<br />
&Eacute; possibile rendere due ordini diversi nella stessa scatola. L&rsquo;importante &egrave; che i cartellini siano ben attaccati per identificare il reso.</p>

<p class="pc-p">Il Cliente potr&agrave; scegliere un corriere diverso da quello di riferimento e inviare la merce a: {{ company_name }} - {{ company_address }} - {{ company_cccs }}</p>

<p class="pc-p">Si ricorda che le spedizioni del reso con corriere diverso da quello di riferimento dovranno essere pagate direttamente dal Cliente ed &egrave; comunque necessario inviare una email al Servizio Clienti di {{ company_title }} scrivendo a <a href="mailto:{{ order_email }}">{{ order_email }}</a> indicando il numero di ordine, gli articoli da rendere, le quantit&agrave; e la motivazione del reso. Si consiglia, inoltre, di scegliere un tipo di spedizione tracciabile in quanto {{ company_title }} non &egrave; responsabile per eventuali furti o smarrimenti.</p>

<h3 class="subtitle">RIMBORSI</h3>

<p class="pc-p">Successivamente alla ricezione del reso, il nostro magazzino effettuer&agrave; tutti i controlli per verificare che la procedura e le condizioni siano state rispettate. Il Cliente ricever&agrave; quindi una email di conferma dell&rsquo;accettazione e del rimborso.</p>

<p class="pc-p">Dal momento in cui {{ company_title }} autorizza il reso, i prodotti devono essere consegnati al corriere entro e non oltre 14 giorni lavorativi.</p>

<p class="pc-p">La nostra banca accrediter&agrave; su carta di credito o PayPal l&rsquo;intero importo della merce resa (escluse le spese di spedizione) entro 14 (quattordici) giorni&nbsp;dal giorno in cui {{ company_title }} &egrave; informata della decisione del consumatore di recedere.</p>

<p class="pc-p">In caso di regalo, se l&rsquo;ordine &egrave; stato pagato con Carta di Credito o PayPal, il rimborso avverr&agrave; sulla transazione originale e quindi sul conto di chi ha effettuato il pagamento. Per motivi di sicurezza non siamo autorizzati a rimborsare su un conto diverso.</p>

<p class="pc-p"><strong>Paypal</strong>: il rimborso verr&agrave; effettuato entro 14 giorni&nbsp;dall&#39;invio della richiesta di autorizzazione del reso&nbsp;sull&rsquo; Account personale del Cliente.</p>

<p class="pc-p">La banca effettuer&agrave; il rimborso entro 14 giorni dall&rsquo;email di richiesta di accettazione del reso.</p>

<p class="pc-p">{{ company_title }} si riserva il diritto di rifiutare restituzioni comunicate o inviate dopo il periodo prefissato o per prodotti che non siano nelle stesse condizioni in cui sono stati ricevuti.</p>

</section>
