
<table class="main">
<tbody>
<tr>
<td>

	<h3>Contact us for more informations.</h3>

	<p>
		{{ company_title }} | {{ company_address }} {{ company_cccs }} | 
		<abbr title="Phone">Tel.</abbr> {{ company_phone }} |
        <a href="mailto:{{ contact_email }}"><span>{{ contact_email }}</span></a>
    </p>

</td>
</tr>
</tbody>
</table>
