<html>
<head>

<title>{{ 'order.mails.order-shipped'|matla('Order Shipped') }} | {{ company_title }}</title>

{% include "@MaciPage/Email/_head.html.twig" %}

</head>
<body>

{% include "@MaciPage/Email/_header.html.twig" %}

{% include "@MaciPage/Email/_intro.html.twig" with {
	'message': 'mail.shipped-text'|matra('your order has been shipped.')
} %}

<table class="main wrapper">
<tbody>
<tr>
	<td>
		<span class="attr label">{{ 'order.code'|matra('Code') }}:</span>
		<span class="attr value">{{ order.code }}</span><br/>
		<span class="attr label">{{ 'order.status'|matra('Status') }}:</span>
		<span class="attr value">{{ ('order.status.' ~ order.status)|matra(order.statusLabel) }}</span>
	</td>
</tr>
</tbody>
</table>

{% include "@MaciPage/Email/_contact_us.html.twig" %}

{% include "@MaciPage/Email/_footer.html.twig" %}

</body>
</html>
