<div class="container">

<h3 class="cart-title">{{ 'menu.user.cart' | matra('My Cart') }}</h3>

{% if cart and cart.items|length %}

{{ render(controller('MaciPageBundle:Order:showOrder', {'order': cart, 'edit': true})) }}

<div class="details-wrapper buttons row py-3">
<div class="col-12 col-sm-6">

	<h3 class="title">{{ 'page.cart.checkout.title' | matra('Checkout') }}</h3>

	<div class="text-wrapper py-3">
		<p class="text">{{ 'page.cart.checkout.description' | matra('Pay the order and get it at home.') }}</p>
	</div>

	<a class="btn btn-primary" href="{{ path('maci_order_start_checkout', {'type': 'checkout'}) }}">
		<i class="fas fa-shopping-cart"></i>
		{{ 'page.cart.checkout.button' | matra('Checkout') }}
	</a>

</div>
<div class="col-12 col-sm-6">

	<h3 class="title">{{ 'page.cart.pickup-in-store.title' | matra('Pickup In Store') }}</h3>

	<div class="text-wrapper py-3">
		<p class="text">{{ 'page.cart.pickup-in-store.description' | matra('Book your order and pick it up in our store.') }}</p>
	</div>

	<a class="btn btn-primary" href="{{ path('maci_order_start_checkout', {'type': 'pickup'}) }}">
		<i class="fas fa-store-alt"></i>
		{{ 'page.cart.pickup-in-store.button' | matra('Pickup In Store') }}
	</a>

</div>
</div>

{% else %}

<p class="empty-list">{{ 'list.empty' | matra('No Items.') }}</p>

{% endif %}

</div>
