<div class="container">

<h3>{{ 'menu.user.cart' | matra('My Cart') }}</h3>


{% if cart and cart.items|length %}

<h5>{{ 'order.code' | matra('Order Identifier') }}: {{ cart.code }}</h5>

{{ render(controller('MaciPageBundle:Order:showOrder', {'order': cart, 'edit': true})) }}

<div class="checkout-options">

	<h3>{{ 'page.cart.checkout' | matra('Checkout') }}</h3>
	<p>{{ 'page.cart.checkout.description' | matra('Pay the order and get it at home.') }}</p>

	<a class="btn btn-primary" href="{{ path(is_granted('ROLE_USER') ? 'maci_order_checkout' : 'maci_order_gocheckout') }}">Checkout</a>

</div>

{% else %}

<p class="empty-list">{{ 'list.empty' | matra('No Items.') }}</p>

{% endif %}

</div>
