<div class="container">

<h3>{{ 'menu.user.cart' | matra('My Cart') }}</h3>


{% if cart and cart.items|length %}

<h5>{{ 'order.code' | matra('Order Identifier') }}: {{ cart.code }}</h5>

{{ render(controller('MaciPageBundle:Order:showOrder', {'order': cart, 'edit': true})) }}

<div class="checkout-options row">
<div class="col-12 col-sm-6">

	<h3>{{ 'page.cart.pickup-in-store.title' | matra('Pickup In Store') }}</h3>
	<p>{{ 'page.cart.pickup-in-store.description' | matra('Book your order and pick it up in our store.') }}</p>

	<a class="btn btn-primary" href="{{ path('maci_order_start_checkout', {'type': 'pickup'}) }}">
		{{ 'page.cart.pickup-in-store.button' | matra('Pickup In Store') }}
	</a>

</div>
<div class="col-12 col-sm-6">

	<h3>{{ 'page.cart.checkout.title' | matra('Checkout') }}</h3>
	<p>{{ 'page.cart.checkout.description' | matra('Pay the order and get it at home.') }}</p>

	<a class="btn btn-primary" href="{{ path('maci_order_start_checkout', {'type': 'checkout'}) }}">
		{{ 'page.cart.checkout.button' | matra('Checkout') }}
	</a>

</div>
</div>

{% else %}

<p class="empty-list">{{ 'list.empty' | matra('No Items.') }}</p>

{% endif %}

</div>
