
<section id="cartCol">

<header id="cartColHeader">
	<h4 id="cartTitle">
		{{ 'order.cart.title' | matra('My Cart') }}
	</h4>
	<p id="totalItems">
		<span>{{ order.totalItemsQuantity }}</span>
		{{ 'order.subtotal-items' | matra('Items') }}
	</p>
</header>

{% if order and order.items|length %}

{% for item in order.items %}

{% if item.id %}
{% set id = item.id %}
{% else %}
{% set id = loop.index0 %}
{% endif %}

<div class="cart-item row {{ loop.index is even ? 'even' : 'odd' }}">

	<div class="item-preview col-3 pr-0 pt-3">
		<img class="img-fluid" src="{{ asset(item.product.webPreview | imagine_filter('maci_product_preview_cart')) }}" alt="{{ item.product.name }}" {% if item.product.description %}title="{{ item.product.description }}"{% else %}title="{{ item.product.name }}"{% endif %} />
	</div>

	<div class="item-description col-9">

		{% if edit is defined and edit %}

		{{ render(controller('MaciPageBundle:Order:removeCartItem', { 'id': id } )) }}

		<a class="item-link" href="{{ path('maci_product_show', { 'path': item.product.path }) }}">
			<h4 class="item-name">{{ item.product.inhName }}</h4>
		</a>

		{% else %}

		<h4 class="item-name">{{ item.product.inhName }}</h4>

		{% endif %}

		{% if item.product.variant %}
		<p class="item-info variant">
			{% if item.product.variantField != null %}
			<span class="label">{{ ('product.variant-field.' ~ item.product.variantField)|matra(item.product.variantField|capitalize) }}:</span>
			{% else %}
			<span class="label">{{ 'product.variant-field.variant'|matra('Variant') }}:</span>
			{% endif %}
			<span class="value">{{ item.product.variant }}</span>
		</p>
		{% endif %}

		{% if item.variant %}
		<p class="item-info custom-variant">
			<span class="label">{{ ('product.variant-field.' ~ item.variantType)|matra(item.variantTypeLabel) }}:</span>
			<span class="value">{{ item.variantNameLabel }}</span>
		</p>
		{% endif %}

		<p class="item-info quantity">
			<span class="label">{{ 'product.quantity'|matra('Quantity') }}:</span>
			<span class="value">{{ item.quantity }}</span>
		</p>

		{% if item.product.sale %}
		<p class="item-info list-price">
			{{ item.product.price | number_format(2, '.', ',') }} &euro;
		</p>
		<p class="item-info sale-price">
			{{ item.product.sale | number_format(2, '.', ',') }} &euro;
		</p>
		{% elseif item.product.price %}
		<p class="item-info price">
			{{ item.product.price | number_format(2, '.', ',') }} &euro;
		</p>
		{% endif %}

		{#}
		<ol>
			{% for obj in item.product.hierarchy if obj.variantName %}
			<li>
				{% if obj.variantLabel %}<span class="product-child-label">{{ obj.variantLabel }}:</span>{% endif %}
				<span class="product-child-name">{{ obj.variantName }}</span>
			</li>
			{% endfor %}
		</ol>
		{#}

	</div>

</div>

{% endfor %}

{# DETAILS #}

{#}
<div>

	<div class="list-header hidden-xs">
		&nbsp;
	</div>

	<div class="list-header">
		<span class="list-header-title">{{ 'product.cart_details' | matra('Details') }}</h4>
	</div>

	<div class="list-header">
		<span class="list-header-title">{{ 'product.cart_description' | matra('Description') }}</h4>
	</div>

	<th class="list-header">
		<span class="list-header-title">{{ 'product.current_price' | matra('Current Price') }}</h4>
	</div>

</div>
{#}

{# SHIPPING COST #}

{% if order.shipping and (edit is not defined or not edit) %}

<div class="cart-details">

	<div class="details-line">
		{% if maci_orders.shippingsArray[order.shipping] is defined %}
		<span class="shippingCost description">{{ ('order.shippings.' ~ order.shipping) | matra(maci_orders.shippingsArray[order.shipping].label) }}:</span>
		{% else %}
		<span class="shippingCost description">{{ ('order.shippings.' ~ order.shipping) | matra(order.shipping) }}:</span>
		{% endif %}
		<span class="shippingCost value {{ 0 < order.paymentCost ? 'od-pay' : 'od-free' }}">
			{% if 0 < order.shippingCost %}
			{{ order.shippingCost | number_format(2, '.', ',') }} &euro;
			{% else %}
			{{ ('order.details.price-free') | matra('Free') }}
			{% endif %}
		</span>
	</div>

</div>

{% endif %}


{# PAYMENT COST #}

{% if order.payment and (edit is not defined or not edit) %}

<div class="cart-details">

	<div class="details-line">
		{% if maci_orders.paymentsArray[order.payment] is defined %}
		<span class="paymentCost description">{{ ('order.payments.' ~ order.payment) | matra(maci_orders.paymentsArray[order.payment].label) }}:</span>
		{% else %}
		<span class="paymentCost description">{{ ('order.payments.' ~ order.payment) | matra(order.payment) }}:</span>
		{% endif %}
		<span class="paymentCost value {{ 0 < order.paymentCost ? 'od-pay' : 'od-free' }}">
			{% if 0 < order.paymentCost %}
			{{ order.paymentCost | number_format(2, '.', ',') }} &euro;
			{% else %}
			{{ ('order.details.price-free') | matra('Free') }}
			{% endif %}
		</span>
	</div>

</div>

{% endif %}


{# AMOUNT #}

<div class="cart-details">

	{% if edit is defined and edit %}

	<div class="details-line">
		<span class="amount-label">{{ 'order.subtotal' | matra('SubTotal') }}:</span>
		<span class="amount-value">{{ order.subAmount | number_format(2, '.', ',') }} &euro;</span>
	</div>

	{% else %}

	<div class="details-line">
		<span class="amount-label">{{ 'order.amount' | matra('Amount') }}:</span>
		<span class="amount-value">{{ order.amount | number_format(2, '.', ',') }} &euro;</span>
	</div>

	{% endif %}

</div>


{# LINKS #}

{% if edit is defined and edit %}
<div class="cart-links">

<a class="btn btn-success" href="{{ path('maci_order_cart') }}">
	{{ 'cart-column.edit-cart' | matra('Edit Cart') }}
</a>

<a class="btn btn-primary" href="{{ path(is_granted('ROLE_USER') ? 'maci_order_checkout' : 'maci_order_gocheckout') }}">
	Checkout
</a>

{#% elseif confirm is defined and confirm == 'set' %}

<a class="btn btn-primary" href="{{ path('maci_order_checkout_confirm') }}">
	{{ 'page.checkout.place-order' | matra('Place Order') }}
</a>
{#}

</div>
{% endif %}


{% endif %}

</section>
