
<section class="cart-column">

<h4 class="cart-title">{{ 'product.cart_title' | matra('Cart') }}</h4>
<span class="order-amount-description">{{ order.totalItemsQuantity }} {{ 'order.subtotal-items' | matra('Items') }}</span>

{% if order and order.items|length %}

{% for item in order.items %}

{% if item.id %}
{% set id = item.id %}
{% else %}
{% set id = loop.index0 %}
{% endif %}

<div class="cart-item row {{ loop.index is even ? 'even' : 'odd' }}">

	<div class="cart-item-preview col-3 pr-0 pt-3">
		<img class="img-fluid" src="{{ asset(item.product.webPreview | imagine_filter('maci_product_preview_cart')) }}" alt="{{ item.product.name }}" {% if item.product.description %}title="{{ item.product.description }}"{% else %}title="{{ item.product.name }}"{% endif %} />
	</div>

	<div class="cart-item-description col-9">

		{% if edit is defined and edit %}

		{{ render(controller('MaciPageBundle:Order:removeCartItem', { 'id': id } )) }}

		<a href="{{ path('maci_product_show', { 'path': item.product.path }) }}">
			<h4 class="cart-item-name">{{ item.product.inhName }}</h4>
		</a>

		{% else %}

		<h4 class="cart-item-name">{{ item.product.inhName }}</h4>

		{% endif %}

		{% if item.product.variant %}
		{% if item.product.variantField != null %}
		<span class="detail-label product-variant-field">{{ ('product.variant-field.' ~ item.product.variantField)|matra(item.product.variantField|capitalize) }}:</span>
		{% else %}
		<span class="detail-label product-variant-field">{{ 'product.variant-field.variant'|matra('Variant') }}:</span>
		{% endif %}
		<span class="detail-info product-variant">{{ item.product.variant }}</span><br/>
		{% endif %}

		{% if item.variantLabel|length %}
		<span class="cart-item-variant">{{ item.variantLabel }}</span><br/>
		{% endif %}

		<span class="cart-item-quantity">{{ 'product.quantity'|matra('Quantity') }}: <span class="quantity-value">{{ item.quantity }}</span></span><br/>

		{% if item.product.sale %}
		<span class="product-list-price">{{ item.product.price | number_format(2, '.', ',') }} &euro;</span>
		<span class="product-sale-price">{{ item.product.sale | number_format(2, '.', ',') }} &euro;</span>
		{% elseif item.product.price %}
		<span class="product-price">{{ item.product.price | number_format(2, '.', ',') }} &euro;</span>
		{% endif %}

		{#}
		<ol>
			{% for obj in item.product.hierarchy if obj.variantName %}
			<li>
				{% if obj.variantLabel %}<span class="product-child-label">{{ obj.variantLabel }}:</span>{% endif %}
				<span class="product-child-name">{{ obj.variantName }}</span>
			</li>
			{% endfor %}
		</ol>
		{#}

	</div>

</div>

{% endfor %}

{# DETAILS #}

{#}
<div>

	<div class="list-header hidden-xs">
		&nbsp;
	</div>

	<div class="list-header">
		<span class="list-header-title">{{ 'product.cart_details' | matra('Details') }}</h4>
	</div>

	<div class="list-header">
		<span class="list-header-title">{{ 'product.cart_description' | matra('Description') }}</h4>
	</div>

	<th class="list-header">
		<span class="list-header-title">{{ 'product.current_price' | matra('Current Price') }}</h4>
	</div>

</div>
{#}

{# SHIPPING COST #}

{% if order.shipping and (edit is not defined or not edit) %}

<div class="cart-details">

	<div class="cart-details-line">
		{% if maci_orders.shippingsArray[order.shipping] is defined %}
		<span class="order-shippingCost-description">{{ ('order.shippings.' ~ order.shipping) | matra(maci_orders.shippingsArray[order.shipping].label) }}:</span>
		{% else %}
		<span class="order-shippingCost-description">{{ ('order.shippings.' ~ order.shipping) | matra(order.shipping) }}:</span>
		{% endif %}
		<span class="order-shippingCost-value">
			{% if 0 < order.shippingCost %}
			{{ order.shippingCost | number_format(2, '.', ',') }} &euro;
			{% else %}
			&nbsp;
			{% endif %}
		</span>
	</div>

</div>

{% endif %}


{# PAYMENT COST #}

{% if order.payment and (edit is not defined or not edit) %}

<div class="cart-details">

	<div class="cart-details-line">
		{% if maci_orders.paymentsArray[order.payment] is defined %}
		<span class="order-paymentCost-description">{{ ('order.payments.' ~ order.payment) | matra(maci_orders.paymentsArray[order.payment].label) }}:</span>
		{% else %}
		<span class="order-paymentCost-description">{{ ('order.payments.' ~ order.payment) | matra(order.payment) }}:</span>
		{% endif %}
		<span class="order-paymentCost-value">
			{% if 0 < order.paymentCost %}
			<span>{{ order.paymentCost | number_format(2, '.', ',') }} &euro;</span>
			{% else %}
			&nbsp;
			{% endif %}
		</span>
	</div>

</div>

{% endif %}


{# AMOUNT #}

<div class="cart-details">

	{% if edit is defined and edit %}

	<div class="cart-details-line">
		<span class="order-amount-label">{{ 'order.subtotal' | matra('SubTotal') }}:</span>
		<span class="order-amount-value">{{ order.subAmount | number_format(2, '.', ',') }} &euro;</span>
	</div>

	{% else %}

	<div class="cart-details-line">
		<span class="order-amount-label">{{ 'order.amount' | matra('Amount') }}:</span>
		<span class="order-amount-value">{{ order.amount | number_format(2, '.', ',') }} &euro;</span>
	</div>

	{% endif %}

</div>


{# LINKS #}

<div class="cart-links">
{% if edit is defined and edit %}

<a class="btn btn-success" href="{{ path('maci_order_cart') }}">{{ 'cart-column.edit-cart' | matra('Edit Cart') }}</a>

<a class="btn btn-primary" href="{{ path(is_granted('ROLE_USER') ? 'maci_order_checkout' : 'maci_order_gocheckout') }}">Checkout</a>

{% elseif confirm is defined and confirm %}

<a class="btn btn-primary" href="{{ path('maci_order_checkout_confirm') }}">{{ 'page.checkout.place-order' | matra('Place Order') }}</a>

{% endif %}
</div>


{% endif %}

</section>
