
{% if confirm == 'set' %}
{% set i = 0 %}


<div class="row details-wrapper confirm first">
<div class="col-12 col-md-6">


{% if billingAddress == 'setted' %}{# --- Billing Address ---  #}
<div class="checkout-content {{ billingAddress }}">
	<h5 class="title">{{ 'page.checkout.billing_address' | matra('Billing Address') }}</h5>
	{% include "@MaciPage/Order/_checkout_billing_address.html.twig" %}
</div>
{% endif %}{# --- End Billing Address ---  #}

</div>
<div class="col-12 col-md-6">

{% if shippingAddress == 'setted' %}{# --- Shipping Address ---  #}
<div class="checkout-content {{ shippingAddress }}">
	<h5 class="title">{{ 'page.checkout.shipping_address' | matra('Shipping Address') }}</h5>
	{% include "@MaciPage/Order/_checkout_shipping_address.html.twig" %}
</div>
{% endif %}{# --- End Shipping Address ---  #}


</div>
</div>{# end row #}
<div class="row details-wrapper confirm">
<div class="col-12 col-md-6">


{% if shipping == 'setted' %}{# --- Shipping Method ---  #}
<div class="checkout-content {{ shipping }}">
	<h5 class="title">{{ 'page.checkout.shipping_method' | matra('Shipping Method') }}</h5>
	{% include "@MaciPage/Order/_checkout_shipping_method.html.twig" %}
</div>
{% endif %}{# --- End Shipping Method ---  #}


</div>
<div class="col-12 col-md-6">


{% if payment == 'setted' %}{# --- Payment ---  #}
<div class="checkout-content {{ payment }}">
	<h5 class="title">{{ 'page.checkout.payment_method' | matra('Payment Method') }}</h5>
	{% include "@MaciPage/Order/_checkout_payment_method.html.twig" %}
</div>
{% endif %}{# --- End Payment ---  #}


</div>
</div>{# end row #}

<div class="row details-wrapper confirm last">
<div class="col-12">

{% if confirm_form %}
<div class="checkout-content {{ payment }}">

	<h4 class="title">{{ 'page.checkout.confirm' | matra('Confirm Order') }}</h4>

	{% set confirm_text = 'page.checkout.confirm_text' | matra('') %}
	{% if confirm_text|length %}
	<p id="checkout_confirm_text">{{ confirm_text }}</p>
	{% endif %}

	{{ form_start(confirm_form) }}

	{% if confirm_form.recaptcha is defined %}
	{{ form_row(confirm_form.recaptcha) }}
	{% endif %}

	<div class="form-group">
		<button id="checkout_confirm_confirm" type="submit" name="checkout_confirm[confirm]" class="btn btn-primary btn">
			{% if order.checkout == 'pickup' %}
			{{ 'page.checkout.confirm_button.pickup'|matra('Book Order') }}
			{% else %}
			{{ 'page.checkout.confirm_button.default'|matra('Place Order') }}
			{% endif %}
		</button>
	</div>

	{{ form_end(confirm_form, {'render_rest': false}) }}

</div>
{% endif %}

</div>
</div>

{#% elseif confirm == 'toset' %#}
{% endif %}
