
{% if shippingAddress == 'set' %}

{% if maci_addresses.addressList|length %}
<h5>{{ 'page.checkout.use_existing_address' | matra('Use an existing Address') }}</h5>
{{ render(controller('MaciPageBundle:Order:cartSetShippingAddress')) }}
{% endif %}

<h5>{{ 'page.checkout.add_new_address' | matra('Add a new Address') }}</h5>
{{ render(controller('MaciUserBundle:Address:form', {'id': null, 'method': 'shipping'} )) }}

{% elseif shippingAddress == 'setted' %}

{% include "@MaciUser/Address/_item.html.twig" with { 'address': order.shippingAddress } %}
<a class="btn btn-success" href="{{ path('maci_order_checkout', {'checkout':'shippingAddress'}) }}">
	{{ 'order.edit_shipping_address' | matra('Edit Shipping Address') }}
</a>

{#% elseif shippingAddress == 'toset' %#}
{% endif %}
