
{% if confirm == 'set' %}
{% set i = 0 %}


<div class="row confirm">
<div class="col-12 col-md-6">


{% if billingAddress == 'setted' %}{# --- Billing Address ---  #}
<div class="checkout-content {{ billingAddress }}">
	<h5>{{ 'page.checkout.billing_address' | matra('Billing Address') }}</h5>
	{% include "@MaciPage/Order/_checkout_billing_address.html.twig" %}
</div>
{% endif %}{# --- End Billing Address ---  #}

</div>
<div class="col-12 col-md-6">

{% if shippingAddress == 'setted' %}{# --- Shipping Address ---  #}
<div class="checkout-content {{ shippingAddress }}">
	<h5>{{ 'page.checkout.shipping_address' | matra('Shipping Address') }}</h5>
	{% include "@MaciPage/Order/_checkout_shipping_address.html.twig" %}
</div>
{% endif %}{# --- End Shipping Address ---  #}


</div>
</div>{# end row #}
<div class="row confirm">
<div class="col-12 col-md-6">


{% if shipping == 'setted' %}{# --- Shipping Method ---  #}
<div class="checkout-content {{ shipping }}">
	<h5>{{ 'page.checkout.shipping_method' | matra('Shipping Method') }}</h5>
	{% include "@MaciPage/Order/_checkout_shipping_method.html.twig" %}
</div>
{% endif %}{# --- End Shipping Method ---  #}


</div>
<div class="col-12 col-md-6">


{% if payment == 'setted' %}{# --- Payment ---  #}
<div class="checkout-content {{ payment }}">
	<h5>{{ 'page.checkout.payment_method' | matra('Payment Method') }}</h5>
	{% include "@MaciPage/Order/_checkout_payment_method.html.twig" %}
</div>
{% endif %}{# --- End Payment ---  #}


</div>
</div>{# end row #}
<div class="row confirm">
<div class="col-12">


<div class="checkout-content {{ payment }}">

	<h4>{{ 'page.checkout.confirm' | matra('Confirm Order') }}</h4>
	<p id="checkout_confirm_text">{{ 'page.checkout.confirm_text' | matra('') }}</p>
	<a class="btn btn-primary" href="{{ path('maci_order_checkout_confirm') }}">
		{{ 'page.checkout.place-order' | matra('Place Order') }}
	</a>

</div>


</div>
</div>

{#% elseif confirm == 'toset' %#}
{% endif %}
