
<ol id="checkoutProgBar" class="navbar-nav">
	<li class="nav-item first">
		<h3 class="navbar-text">
			{{ ('checkout.type' ~ order.checkout)|matra(order.checkoutLabel) }}:
		</h3>
	</li>
	{% if billingAddress %}
	<li class="nav-item {{ billingAddress }}">
		<span class="navbar-text">
			<i class="fas fa-wallet"></i>
			{{ 'page.checkout.billing_address' | matra('Billing Address') }}
		</span>
	</li>
	{% endif %}
	{% if shippingAddress %}
	<li class="nav-item {{ shippingAddress }}">
		<span class="navbar-text">
			<i class="fas fa-address-card"></i>
			{{ 'page.checkout.shipping_address' | matra('Shipping Address') }}
		</span>
	</li>
	{% endif %}
	{% if shipping %}
	<li class="nav-item {{ shipping }}">
		<span class="navbar-text">
			<i class="fas fa-truck"></i>
			{{ 'page.checkout.shipping_method' | matra('Shipping Method') }}
		</span>
	</li>
	{% endif %}
	{% if payment %}
	<li class="nav-item {{ payment }}">
		<span class="navbar-text">
			<i class="fas fa-money-check-alt"></i>
			{{ 'page.checkout.payment_method' | matra('Payment Method') }}
		</span>
	</li>
	{% endif %}
	{% if confirm %}
	<li class="nav-item {{ confirm }} last">
		<span class="navbar-text">
			<i class="fas fa-clipboard-check"></i>
			{{ 'page.checkout.confirm' | matra('Confirm Order') }}
		</span>
	</li>
	{% endif %}
</ol>
