
{% if shipping == 'set' %}

{{ render(controller('MaciPageBundle:Order:cartSetShipping')) }}

{% elseif shipping == 'setted' %}

<p class="shipping-label">{{ maci_orders.cartShippingLabel }}</p>

{% set description = ('shipping.method.' ~ order.shipping ~ '.description')|matra('') %}
{% if description|length %}
<p class="shipping-description">{{ description }}</p>
{% endif %}

<p class="shipping-cost">{{ maci_orders.cartShippingCostLabel }}</p>

<a class="btn btn-success" href="{{ path('maci_order_checkout', {'checkout':'shipping'}) }}">
	{{ 'edit' | matla('Edit') }}
</a>

{#% elseif shipping == 'toset' %#}
{% endif %}
