
<h3>{{ 'page.cart.checkout' | matra('Checkout') }}</h3>
<h5>{{ 'order.code' | matra('Order Identifier') }}: {{ order.code }}</h5>

{% if is_granted('ROLE_USER') %}

<p class="page-checkout-identity">
	You are ordering as {{ app.user.username }}
</p>

{% else %}

<p class="page-checkout-identity">
	You are ordering with this e-mail address: {{ order.mail }} 
	- <a href="{{ path('maci_order_gocheckout', {'edit': true}) }}">Change Email</a>
</p>

{% endif %}
