
<div id="checkoutContainer" class="container">


<header id="checkoutHeader">
	{% include "@MaciPage/Order/_checkout_header.html.twig" %}
</header>

<nav id="checkoutBar" class="navbar navbar-expand">
	{% include "@MaciPage/Order/_checkout_progbar.html.twig" %}
</nav>

<section id="checkoutOrderInfo">
	{% include "@MaciPage/Order/_checkout_order_info.html.twig" %}
</section>


<div id="checkoutPageWrapper" class="row">
<div id="checkoutPage" class="col-12 col-md-8">

{% if checkout is defined and checkout %}{# --- Checkout Defined ---  #}
{% if order.items|length %}{# --- Valid Order ---  #}
{% set i = 0 %}


{% if billingAddress == 'set' %}{# --- Billing Address ---  #}
<section id="billingAddress" class="checkout-content {{ billingAddress }}">
	<h4>{{ 'page.checkout.billing_address' | matra('Billing Address') }}</h4>
	{% include "@MaciPage/Order/_checkout_billing_address.html.twig" %}
</section>
{% endif %}{# --- End Billing Address ---  #}


{% if shippingAddress == 'set' %}{# --- Shipping Address ---  #}
<section id="shippingAddress" class="checkout-content {{ shippingAddress }}">
	<h4>{{ 'page.checkout.shipping_address' | matra('Shipping Address') }}</h4>
	{% include "@MaciPage/Order/_checkout_shipping_address.html.twig" %}
</section>
{% endif %}{# --- End Shipping Address ---  #}


{% if shipping == 'set' %}{# --- Shipping Method ---  #}
<section id="shipping" class="checkout-content {{ shipping }}">
	<h4>{{ 'page.checkout.shipping_method' | matra('Shipping Method') }}</h4>
	{% include "@MaciPage/Order/_checkout_shipping_method.html.twig" %}
</section>
{% endif %}{# --- End Shipping Method ---  #}


{% if payment == 'set' %}{# --- Payment ---  #}
<section id="payment" class="checkout-content {{ payment }}">
	<h4>{{ 'page.checkout.payment_method' | matra('Payment Method') }}</h4>
	{% include "@MaciPage/Order/_checkout_payment_method.html.twig" %}
</section>
{% endif %}{# --- End Payment ---  #}


{% if confirm == 'set' %}{# --- Confirm ---  #}
<section id="confirm" class="checkout-content {{ confirm }}">
	<h4>{{ 'page.checkout.confirm' | matra('Confirm Order') }}</h4>
	{% include "@MaciPage/Order/_checkout_confirm.html.twig" %}
</section>
{% endif %}{# --- End Confirm ---  #}


{% endif %}{# --- Order not Valid ---  #}
{% else %}{# --- Checkout not Defined ---  #}

<h3>{{ 'page.no_content' | matra('No Content.') }}</h3>


{% endif %}{# --- End Valid Checkout ---  #}

</div>{# --- #checkoutPage ---  #}


{% if order.items|length %}{# --- Valid Checkout (^^) ---  #}
<div id="checkoutColumn" class="col-12 col-md-4">
	{% include "@MaciPage/Order/_cart_column.html.twig" with {'edit': false} %}
</div>
{% endif %}{# --- EndIf Checkout ---  #}


</div>{# --- #checkoutPage ---  #}

<footer id="checkoutFooter">
	{% include "@MaciPage/Order/_checkout_footer.html.twig" %}
</footer>

</div>
