
<div class="page page-checkout">
<div class="container">

{% if checkout is defined and checkout %}{# --- Checkout Defined ---  #}
{% if order.items|length %}{# --- "Valid Checkout" (^_^) ---  #}
{% set i = 0 %}


<section class="page_header container-fluid px-0">

{% include "@MaciPage/Order/_checkout_header.html.twig" with {'edit': false} %}

</section>
<section class="page_content container-fluid px-0">

{{ render(controller('MaciPageBundle:Order:showOrder', {'order': order})) }}

</section>


{% if billingAddress %}{# --- Billing Address ---  #}
{% set i = i + 1 %}

<section class="page_content container-fluid px-0 {{ billingAddress }}">

{% include "@MaciPage/Order/_checkout_billing_address.html.twig" %}

</section>

{% endif %}{# --- End Billing Address ---  #}


{% if shippingAddress %}{# --- Shipping Address ---  #}
{% set i = i + 1 %}

<section class="page_content container-fluid px-0 {{ shippingAddress }}">

{% include "@MaciPage/Order/_checkout_shipping_address.html.twig" %}

</section>

{% endif %}{# --- End Shipping Address ---  #}


{% if shipping %}{# --- Shipping Method ---  #}
{% set i = i + 1 %}

<section class="page_content container-fluid px-0 {{ shipping }}">

{% include "@MaciPage/Order/_checkout_shipping_method.html.twig" %}

</section>

{% endif %}{# --- End Shipping Method ---  #}


{% if payment %}{# --- Payment ---  #}
{% set i = i + 1 %}

<section class="page_content container-fluid px-0 {{ payment }}">

{% include "@MaciPage/Order/_checkout_payment_method.html.twig" %}

</section>

{% endif %}{# --- End Payment ---  #}


{% if confirm %}{# --- Confirm ---  #}
{% set i = i + 1 %}

<section class="page_content container-fluid px-0 {{ confirm }}">

{% include "@MaciPage/Order/_checkout_confirm.html.twig" %}

</section>

{% endif %}{# --- End Confirm ---  #}


{% endif %}{# --- Checkout not Valid ---  #}
{% else %}{# --- Checkout not Defined ---  #}

<h3>{{ 'page.no_content' | matra('No Content.') }}</h3>

{% endif %}{# --- End Valid Checkout ---  #}

</div>
</div>
