
{% if order and order.items|length %}

{% include "@MaciPage/Order/_invoice_style.html.twig" %}

<div id="invoice">

<div id="invoice-header" class="row">
<table>
	<tr>

		<td id="invoice-header-brand" width="50%">

			{% include "@MaciPage/Order/_invoice_header.html.twig" %}

		</td>

		<td id="invoice-header-details" width="50%">

			{% if order.isCanceled %}

			<span class="invoice-status canceled">{{ 'invoice.status.canceled'|matra('CANCELED')}}</span>

			{% elseif order.isRefunded %}

			<span class="invoice-status refounded">{{ 'invoice.status.refounded'|matra('REFOUNDED')}}</span>

			{% elseif order.isPaid %}

			<span class="invoice-status paid">{{ 'invoice.status.paid'|matra('PAID')}}</span>

			<span class="invoice-paid-date">Paid: {{ order.due|date('d/m/Y') }}</span>

			{% else %}

			<span class="invoice-status unpaid">{{ 'invoice.status.unpaid'|matra('UNPAID')}}</span>

			{% endif %}

		</td>

	</tr>
</table>
</div>


<div id="invoice-dates" class="row">

	<h3>{{ 'invoice'|matla('Invoice') }} {{ order.code }}</h3>

	<span>{{ 'invoice.date'|matra('Invoice Date') }}: {{ order.invoice|date('d/m/Y') }}</span>
	<span>{{ 'invoice.due-date'|matra('Due Date') }}: {{ order.due|date('d/m/Y') }}</span>

</div>


<div id="invoice-addresses" class="row">
<table>
	<tr>
		<td id="invoice-addresses-client" width="50%">

			<h3>{{ 'invoice.header.invoiced-to'|matra('Invoiced To') }}:</h3>

			{% include "@MaciUser/Address/_item.html.twig" with { 'address': order.billingAddress } %}

		</td>
		<td id="invoice-addresses-company" width="50%">

			<h3>{{ 'invoice.header.pay-to'|matra('Pay To') }}:</h3>

			{% include "@MaciPage/Page/_contacts.html.twig" %}

		</td>
	</tr>
</table>
</div>


<div id="invoice-details" class="row">

<h3>{{ 'order.details'|matra('Order Details') }}</h3>

<table>

	<thead>
		<tr>
			<td class="invoice-details description" width="60%">{{ 'product.cart_title'|matra('Product') }}</td>
			<td class="invoice-details quantity" width="20%">{{ 'product.quantity'|matra('Quantity') }}</td>
			<td class="invoice-details amount" width="20%">{{ 'product.amount'|matra('Amount') }}</td>
		</tr>
	</thead>


	<tbody>

	{% for item in order.items %}

		<tr>
			<td class="invoice-details description">{{ item.description }}</td>
			<td class="invoice-details quantity">{{ item.quantity }}</td>
			<td class="invoice-details amount">{{ item.amount }} &euro;</td>
		</tr>

	{% endfor %}

	</tbody>


	<tfoot>

		<tr class="invoice-details-total">
			<td class="invoice-label total">Total:</td>
			<td class="invoice-details quantity">{{ order.totalItemsQuantity }}</td>
			<td class="invoice-details amount">{{ order.amount }} &euro;</td>
		</tr>

	</tfoot>

</table>
</div>


<div id="invoice-transactions" class="row">

	<h3>{{ 'order.transactions'|matra('Order Transactions') }}</h3>

<table>

	<thead>

		<tr>
			<td class="invoice-transactions tx-date" width="20%">{{ 'transactions.headers.date'|matra('Transaction Date')}}</td>
			<td class="invoice-transactions gateway" width="20%">{{ 'transactions.headers.gateway'|matra('Gateway')}}</td>
			<td class="invoice-transactions tx-id" width="20%">{{ 'transactions.headers.id'|matra('Transaction ID')}}</td>
			<td class="invoice-transactions tx-id" width="20%">{{ 'transactions.headers.status'|matra('Status')}}</td>
			<td class="invoice-transactions amount" width="20%">{{ 'transactions.headers.amount'|matra('Amount')}}</td>
		</tr>

	</thead>

	<tbody>

	{% for item in order.payments %}

		<tr>
			<td class="invoice-transactions tx-date">{{ item.created|date('d/m/Y') }}</td>
			<td class="invoice-transactions gateway">{{ item.gatewayLabel }}</td>
			<td class="invoice-transactions tx-id">{{ item.number }}</td>
			<td class="invoice-transactions gateway">{{ item.statusLabel|capitalize }}</td>
			<td class="invoice-transactions amount">{{ item.paidAmount|number_format(2, '.', ',') }} &euro;</td>
		</tr>

	{% endfor %}

	{% for item in order.transactions %}

		<tr>
			<td class="invoice-transactions tx-date">{{ item.created|date('d/m/Y') }}</td>
			<td class="invoice-transactions gateway">{{ item.gateway }}</td>
			<td class="invoice-transactions tx-id">{{ item.tx }}</td>
			<td class="invoice-transactions gateway">{{ item.status }}</td>
			<td class="invoice-transactions amount">{{ item.amount|number_format(2, '.', ',') }} &euro;</td>
		</tr>

	{% endfor %}

	</tbody>

	<tfoot>

		<tr class="invoice-transactions-paid">
			<td class="invoice-label" colspan="4">{{ 'transactions.total-paid'|matra('Total Paid')}}:</td>
			<td class="invoice-transactions amount">{{ order.transactionsAmount|number_format(2, '.', ',') }} &euro;</td>
		</tr>
{#}
		<tr class="invoice-transactions-to-pay">
			<td class="invoice-label" colspan="4">To Pay:</td>
			<td class="invoice-transactions amount">-{{ order.amount|number_format(2, '.', ',') }} &euro;</td>
		</tr>

		<tr class="invoice-transactions-balance">
			<td class="invoice-label" colspan="4">Balance:</td>
			<td class="invoice-transactions amount">{{ order.balance|number_format(2, '.', ',') }} &euro;</td>
		</tr>
{#}
	</tfoot>

</table>
</div>

</div>

{% endif %}
