
{% if form and form.payment is defined %}

<div class="checkoutFormWrapper">
<form class="maci_order_checkout_payment" action="{{ path('maci_order_checkout_set_payment') }}" method="post">

	{% if not form.vars.valid %}
	<div class="form-group">
		{{ form_errors(form) }}
	</div>
	{% endif %}

	{{ form_row(form.payment) }}

	{{ form_row(form._token) }}

	<div class="form-group text-right">
		<button id="checkout_payment_set_payment" class="btn btn-primary" type="submit" name="checkout_payment[set_payment]">
			{{ 'form.set_payment'|matra('Set Payment') }}
		</button>
	</div>

</form>
</div>

{% else %}

<p class="checkout-error">
	{{ 'checkout.no-payments'|matra('Payment Methods not Availables.') }}<br/>
	{{ 'checkout.contact-us-to-resolve'|matra('We\'re sorry for the inconvenience. Contact us to resolve the problem.') }}
</p>

{% endif %}
