
<form {{ ( product ? ('id="maci_cart_add_product_' ~ product.id ~ '"')|raw ) }} class="maci_cart_add_product" action="{{ path('maci_order_cart_add', {'product': product.id, 'variant': variant}) }}" method="POST">

	{% if not form.vars.valid %}
	<div class="form-group">
    	{{ form_errors(form) }}
	</div>
	{% endif %}

	{{ form_row(form.product) }}

	{% if form.variant is defined %}
	{{ form_row(form.variant) }}
	{% endif %}


	<div class="form-group quantity">

		{{ form_label(form.quantity) }}
		{{ form_widget(form.quantity) }}
		{{ form_errors(form.quantity) }}

		<div class="quantiy-available pt-3">
			{% include "MaciPageBundle:Shop:_product_detail_available.html.twig" with {'item': product} %}
		</div>

	</div>

	{{ form_row(form._token) }}

	<div class="form-group">
		<button class="btn-primary btn btn" type="submit" id="cart_add_product_item_add_to_cart" name="cart_add_product_item[add_to_cart]">
			<i class="fas fa-cart-plus"></i>
			Add To Cart
		</button>
	</div>

</form>
