
<div class="maci-order-billing-address-form">

<form class="maci_order_billing_address" action="{{ path('maci_order_checkout_set_billing_address') }}" method="post">

	{% if not form.vars.valid %}
	<div class="form-group">
    	{{ form_errors(form) }}
	</div>
	{% endif %}

    {{ form_row(form.billing_address) }}

    {{ form_row(form._token) }}

    <div class="form-group text-right">
		<button id="cart_billing_address_save" class="btn btn-primary" type="submit" name="cart_billing_address[save]">
			{{ 'form.use_this_address'|matra('Use This Address') }}
		</button>
	</div>

</form>

</div>
