
{% if form and form.shipping is defined %}

<div class="checkoutFormWrapper shipping">
<form class="maci_order_checkout_shipping" action="{{ path('maci_order_checkout_set_shipping') }}" method="post">

	{% if not form.vars.valid %}
	<div class="form-group">
		{{ form_errors(form) }}
	</div>
	{% endif %}

	{{ form_row(form.shipping) }}

	{{ form_row(form._token) }}

	<div class="form-group text-right">
		<button id="checkout_shipping_set_shipping" class="btn btn-primary" type="submit" name="checkout_shipping[set_shipping]">
			{{ 'form.set_shipping'|matra('Set Shipping') }}
		</button>
	</div>

</form>
</div>

{% else %}

<p class="checkout-error">
	{{ 'checkout.no-shippings'|matra('Shipping Methods not Availables.') }}<br/>
	{{ 'checkout.contact-us-to-resolve'|matra('We\'re sorry for the inconvenience. Contact us to resolve the problem.') }}
</p>

{% endif %}
