
<h3 class="pc-title">{{ 'order.show_title' | matra('Order Details') }}</h3>

<h4 class="pc-subtitle">{{ 'order.status' | matra('Order Status') }}: {{ ('order.status.' ~ order.status)|matra(order.statusLabel) }}</h4>
<h4 class="pc-subtitle">{{ 'order.code' | matra('Order Code') }}: {{ order.code }}</h4>
<h4 class="pc-subtitle">{{ 'order.checkout-type'| matra('Order Type') }}: {{ order.checkoutLabel }}</h4>
<h4 class="pc-subtitle">{{ 'shipping.type' | matra('Shipping Type') }}: {{ ('order.shippings.' ~ order.shipping)|matra(order.shipping) }}</h4>
<h4 class="pc-subtitle">{{ 'payment.type' | matra('Payment Type') }}: {{ ('order.payments.' ~ order.payment)|matra(order.payment) }}</h4>
<h4 class="pc-subtitle">{{ 'payment.status' | matra('Payment Status') }}: {{ ('order.payment.status.' ~ order.paymentStatus)|matra(order.paymentStatus) }}</h4>


<h3 class="pc-title">{{ 'order.addresses' | matra('Addresses') }}</h3>

{% include "MaciPageBundle:Order:_show_addresses.html.twig" %}


<h3 class="pc-title">{{ 'order.items' | matra('Order Items') }}</h3>

{% include "MaciPageBundle:Order:_show.html.twig" %}
