{% extends "MaciAdminBundle::layout.html.twig" %}

{% block title %}
{{ 'order.show.meta_title' | matra('Show Order') }}: {{ order.name }}
{% endblock %}

{% block content %}

{% if order.status in ['confirm', 'complete'] %}
<h3>{{ 'order.show_title_action' | matra('Order Actions') }}</h3>

<form id="order_actions_form" data-id="{{ order.id }}">
<div class="form-group">
	<label class="required" for="actions_select">Action:</label>
	<select id="actions_select" class="form-control">
		{% if order.status == 'confirm' %}
		<option value="completeOrder">Set Order As Completed</option>
		{% endif %}
		{% if order.status == 'complete' %}
		<option value="sendShippedNotify">Send Shipped Notify</option>
		{% endif %}
		<option value="cancelOrder">Cancel Order</option>
	</select>
</div>
<div class="form-group">
	<button id="submit" class="btn btn-primary" type="submit">Do Action</button>
</div>
</form>
{% endif %}

{% include "MaciPageBundle:Order:_preview.html.twig" %}

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('/bundles/macipage/js/manage.js') }}" ></script>
{% endblock %}
