{% extends "MaciAdminBundle::layout.html.twig" %}

{% block title %}
{{ 'order.show.meta_title' | matra('Show Order') }}: {{ order.name }}
{% endblock %}

{% block content %}

<h3>{{ 'order.show_title_action' | matra('Order Actions') }}</h3>

<form id="order_actions_form" data-id="{{ order.id }}">
<div class="form-group">
	<label class="required" for="actions_select">Action:</label>
	<select id="actions_select" class="form-control">
		{% if order.status in ['new', 'current'] %}
		<option value="completeOrder">Complete Order</option>
		{% endif %}
		{% if order.status == 'complete' %}
		<option value="confirmOrder">Confirm Order</option>
		<option value="sendPlacedNotify">RE-Send Placed Notify</option>
		{% endif %}
		{% if order.status == 'confirm' %}
		<option value="sendConfirmedNotify">Send Confirmed Notify</option>
		<option value="sendShippedNotify">Send Shipped Notify</option>
		<option value="endOrder">End Order</option>
		{% endif %}
		{% if order.status == 'end' %}
		<option value="sendCompletedNotify">Send Completed Notify</option>
		<option value="sendInvoiceNotify">Send Invoice</option>
		{% endif %}
		<option value="cancelOrder">Cancel Order</option>
		{#}<option value="test">Test</option>{#}
	</select>
</div>
<div class="form-group">
	<button id="submit" class="btn btn-primary" type="submit">Do Action</button>
</div>
</form>

<h3 class="pc-title">{{ 'order.show_title' | matra('Order Details') }}</h3>

{% include "MaciPageBundle:Order:_details.html.twig" %}

<h4 class="pc-subtitle">{{ 'order.checkout-type'| matra('Order Type') }}: {{ order.checkoutLabel }}</h4>
<h4 class="pc-subtitle">{{ 'payment.status' | matra('Payment Status') }}: {{ ('order.payment.status.' ~ order.paymentStatus)|matra(order.paymentStatusLabel) }}</h4>

{% include "MaciPageBundle:Order:_preview.html.twig" %}

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('/bundles/macipage/js/manage.js') }}" ></script>
{% endblock %}
